{{ export function getPlatformIcon(platformName, baseSize = 16) }}
	{{ set platformSlug = platformName |> slugify }}
	{{ `gaming-${platformSlug}` |> slugToSvg({ title: platformName, class: 'icon-badge inline-icon inline-icon--center', width: baseSize * (['ps1','pc'].includes(platformSlug) ? 1 : 2), height: baseSize }) }}
{{ /export }}