{% set attrs %}class="{{ ('card ' + (classes or '')) | trim }}" {% if cardAttrs %}{{ cardAttrs | safe }}{% endif %}{% endset %}
{% set imageLink = image.link or link %}
{% set isImageAriaHidden = image.isAriaHidden or (not image.alt and heading) or imageLink == link %}
<article {{ attrs | trim | safe }}>
	{% if image %}
		<div class="card-image">
			<a href="{{ imageLink }}"{% if isImageAriaHidden %} tabindex="-1" aria-hidden="true"{% endif %}>
				<img
					src="{{ image.src }}"
					alt="{{ image.alt or (heading if (imageLink and not isImageAriaHidden) else '') }}"
					width="{{ image.width }}"
					height="{{ image.height }}"
					{% if image.lazy %}loading="lazy"{% endif %}
					{% if image.focusPoint %}style="--CARD-image-focus-point: {{ image.focusPoint }};"{% endif %}
				>
			</a>
			{% if image.decorator %}
				<div class="card-decorator | fontSize-tiny">{{ image.decorator | safe }}</div>
			{% endif %}
		</div>
	{% endif %}

	<div class="card-content">
		{% if eyebrow %}{{ eyebrow | safe }}
		{% endif %}
		{% if heading %}
			<{{ headingTag or 'h2' }} class="h3 | card-heading">
			<a href="{{ link }}" {% if not containsLinks %}class="card-link--cover"{% endif %}>
				{{ heading | safe }}
			</a>
			</{{ headingTag or 'h2' }}>
		{% endif %}
		
		{% if descriptionMarkup %}
			{{ descriptionMarkup | safe }}
		{% elseif description %}
			<p class="textWrap-balance">{{ description | safe }}</p>
		{% endif %}
	</div>
</article>