{# Normalise from the nav file #}
{% if path and not url %}{% set url = path %}{% endif %}
{% set iconBefore = iconBefore or false %}
{% set iconClass = iconClass or 'inline-icon' %}{# Set to an empty space for no-scale behaviour #}
{% set ctaType = 'a' if url else 'button' %}
{% set iconRender -%}
    {% if icon %}
        {% svg icon, { class: iconClass + ' linecap-auto', ariaHidden: true } %}
    {% elseif iconStack %}
        <div class="cellstack">
            {% svg iconStack.idle, { class: iconClass + ' button-content button-content--idle', ariaHidden: true } %}
            {% svg iconStack.pressed, { class: iconClass + ' button-content button-content--pressed', ariaHidden: true } %}
        </div>
    {% endif %}
{%- endset %}
{% set emptyLabel = true %}
{% set labelRender -%}
    {% if label.aria %}
        <span class="visually-hidden">{{ label.aria }}</span>
        {% if label.text %}
            {% set emptyLabel = false %}
            <span aria-hidden="true">{{ label.text }}</span>
        {% endif %}
    {% elseif label %}
        {% set emptyLabel = false %}
        <span>{{ label }}</span>
    {% endif %}
{% endset %}
<{{ctaType}} {% if url %}href="{{url}}"{% else %}type="{{type or 'button'}}"{% endif %} class="button {% if (icon or iconStack) and emptyLabel %}button--icon-only{% endif %} {% if ctaClass %} | {{ ctaClass }}{% endif %}" {{ ctaAttr | safe }}>
    {% if (icon or iconStack) and iconBefore %}{{ iconRender | safe }}{% endif %}
    {{ labelRender | safe }}
    {% if (icon or iconStack) and not iconBefore %}{{ iconRender | safe }}
    {% endif %}
</{{ctaType}}>