src/content/**/*.md
node_modules/**/*
.cache/**/*

# The footer needs the very specific whitespace setup to properly have the inline list separators
src/_includes/parts/footer.njk
src/_includes/parts/footer.vto