@import url('./_base.css');

:root {
	/* Title fills exactly the entire viewport width at this size, scaled 80% to avoid surprises */
	--main-heading-magic-number: calc(24.8vw * 0.8);
	--single-glyph-magic-number: 33vw;
	--palette-01: #f5edda;
	--palette-02: #dac292;
	--palette-03: #37200e;
	--palette-04: #ad1202;
	--palette-05: #ff361a;
	--palette-06: #ec9d37;
	--palette-07: #ecd237;
	--orb-1: #d9a65e;
	--orb-2: #b15125;
	--orb-3: #7c2d0f;
	--orb-4: #461f0e;
	--orb-ratio: 0.7452; /*! Magic number: Precursor Orb proportions */
	--texture-bg: url('texture.jpg') 50% 50% / 64px 64px;
	/* Texture taken from https://unsplash.com/photos/3bb9RUp86M0 */
	--body-font: Georgia, Cambria, 'Times New Roman', Times, serif;
	--title-font: Marhey, 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
	--color-main: var(--palette-01);
	--color-alt: var(--palette-02);
	--bg-main: var(--palette-04);
	--bg-alt: var(--palette-03);
	--link: var(--palette-07);
	--link-active: var(--palette-06);
	--corner: 0.5rem;

	scrollbar-color: var(--palette-02) color-mix(in hsl, var(--bg-main), var(--bg-alt));
}

@media screen and (min-width: calc(960px + 2rem * 4)) {
	body {
		background-image: url('bg-gutter.png'), url('bg-gutter.png');
		background-size: var(--layout-gutter) auto;
		background-repeat: repeat-y;
		background-position: calc(50% - (var(--layout-content-max) * -0.5 - var(--layout-gutter) * 2)) 0,
			calc(50% + (var(--layout-content-max) * -0.5 - var(--layout-gutter) * 2)) 0;

		@media (prefers-reduced-motion: no-preference) {
			background-attachment: fixed;
		}
	}
}

h1 {
	font-size: 8rem;
	font-size: clamp(4rem, calc(4rem + (8 - 4) * ((100vw - 20rem) / (64 - 20))), 8rem);
	line-height: 1;
}

h2 {
	position: relative;

	font-family: var(--title-font);
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.2;

	&::before {
		content: '';

		position: absolute;
		inset-block-start: 0.125em;
		inset-inline-start: calc(-1 * clamp(1em, (1rem + ((1vw - 0.6625rem) * 53.3333)), var(--layout-gutter) * 1.25));

		aspect-ratio: var(--orb-ratio);
		block-size: 1em;

		font-size: 1.325rem; /* Scale up the orb a tiny bit */

		border-radius: 50% 50% 50% 50% / 54% 54% 46% 46%; /* Precursor Orb shape */
		background-image: radial-gradient(ellipse farthest-side at top left, var(--orb-1) 50%, var(--orb-2) 75%, var(--orb-3) 87.5%, var(--orb-4)), url('orb.jpg');
		background-size: cover, auto 100%;
		background-repeat: no-repeat, repeat-x;
		background-position: center;
		background-blend-mode: overlay, normal;
		box-shadow: 0 0 3px #ffffd9, 0 0 4px 1px #ffff5e;

		@media (prefers-reduced-motion: no-preference) {
			animation: float 2s ease-in-out infinite alternate, bgTile 4s linear infinite;
			animation-delay: var(--parent-orb-delay, 0s);
		}
	}

	span {
		line-height: inherit;
	}
}

:nth-child(2n of h2),
:nth-child(2n of :has(> h2)) > h2 {
	--parent-orb-delay: -1287ms;
}

@keyframes float {
	from {
		translate: 0 -0.125em;
	}
	to {
		translate: 0 0.125em;
	}
}
@keyframes bgTile {
	from {
		background-position: center, 0 0;
	}
	to {
		background-position: center, -42px 0; /*! Magic number! */
	}
}

.list {
	& > li::marker {
		content: '◆ \0020';
		content: '◆ \0020'/ '';
	}
}

.header {
	--link: var(--palette-03);
	--link-active: var(--palette-04);

	font-weight: bold;
	color: var(--palette-03);
	background: linear-gradient(90deg, #0004, #0000, #0004), var(--texture-bg) var(--palette-02);
	outline-width: 1px;
	outline-color: var(--palette-01);
}

.footer {
	color: var(--color-main);
	background-color: var(--bg-alt);
}

/* Interactives and reused styles */
button.glyph:is(:hover, :focus-visible):not(#\#) {
	color: var(--palette-04);
}

.styled-button {
	--button-inner-shadow: inset 0 3px 1px var(--orb-1), inset 0 -3px 1px var(--orb-4);
	--button-text-a: #eeece3;
	--button-text-b: #a2aca4;

	position: relative;
	isolation: isolate;

	padding: 0.25em 1.5em;

	font-family: var(--title-font);
	font-weight: 600;
	text-transform: uppercase;

	color: var(--button-text-a);
	border: 0;
	border-radius: 2em;
	background: #954514;
	box-shadow: var(--button-inner-shadow), 0 1px 2px 1px var(--orb-4);

	@media (prefers-reduced-motion: no-preference) {
		transition: var(--easing) 300ms;
		transition-property: --button-text-a, --button-text-b, box-shadow;
	}

	&:is(:hover, :focus-visible) {
		box-shadow: var(--button-inner-shadow), 0 0 4px 1px #ffff5e;
	}

	@supports (-webkit-text-fill-color: transparent) and ((-webkit-background-clip: text) or (background-clip: text)) {
		& > span {
			--ds: max(2px, 0.075em);

			position: relative;

			-webkit-text-fill-color: transparent;
			background: linear-gradient(var(--button-text-a), var(--button-text-b));
			-webkit-background-clip: text;
			background-clip: text;
			filter: drop-shadow(-0.5px -0.5px 0 var(--palette-01)) drop-shadow(var(--ds) var(--ds) 0 var(--palette-03));
		}

		&:is(:hover, :focus-visible) {
			--button-text-a: var(--palette-07);
			--button-text-b: var(--palette-06);
		}
	}
}

.download-button {
	text-decoration: none;
}

.styled-specimen {
	--s: clamp(1px, 0.008125em, 4px); /* Shadow offset */
	padding-inline: clamp(4px, 0.25em, 10px);
	line-height: inherit;
	background: linear-gradient(#fce164, #e18c47);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;

	filter: drop-shadow(0 calc(min(1.5px, var(--s)) * -1) 0 var(--palette-01)) drop-shadow(var(--s) var(--s) 0 #300602) drop-shadow(var(--s) var(--s) 0 #30060280);
}

.sentence-sample {
	font-size: 4rem;
	font-size: clamp(4rem, calc(4rem + (6 - 4) * ((100vw - 20rem) / (64 - 20))), 6rem);
	line-height: 1.2;
}

/* Hero section */
.main-heading-block {
	position: relative;

	display: grid;
	grid-template-areas: '--heading';
	justify-content: center;
	align-items: center;
	place-content: center;

	inline-size: 100%;
	min-block-size: min(900px, 75vw, 90vh);
	padding: var(--layout-gutter);

	background: linear-gradient(transparent, #2002) var(--palette-03);

	& > * {
		grid-area: --heading;
	}
}

.main-heading-bg {
	inline-size: 75%;
	max-inline-size: min(36rem, 50vw);
	margin: auto;

	@media (prefers-reduced-motion: no-preference) {
		animation: revealScale 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1;
	}
}

.jak-daxter-silhouettes {
	inline-size: 50%;
	max-inline-size: 75vw;
	margin: 2rem auto 1rem;

	fill: currentColor;
	stroke: var(--bg-main);
	stroke-width: 8;
	paint-order: stroke;

	@media (prefers-reduced-motion: no-preference) {
		animation: revealUpwards 1s cubic-bezier(0.215, 0.61, 0.355, 1) 500ms 1 backwards;
	}
}

.main-heading-text {
	position: relative;
	z-index: 1;

	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.main-heading-title {
	position: relative;
	inset-block-end: -0.05em; /* Safari on macOS doesn't like this at -0.1em so much, but no negative inset looks weird everywhere else… splitting the difference */

	margin: 0 auto;
	padding-block-end: 0.1em;

	font-size: min(16rem, var(--main-heading-magic-number));
}

.main-heading-sub {
	font-size: 1.25em;
	text-shadow: 0 0 1px var(--palette-03), 0 1px 0 var(--palette-03);
}

.portal * {
	fill: none;
	stroke: var(--color-alt);
	stroke-width: 1.5;
	stroke-opacity: 0.5;
}

.portal-ring {
	transform-origin: 50% 50%;

	@media (prefers-reduced-motion: no-preference) {
		animation: fullRotation 60s linear infinite;
	}
}

.portal-ring-outer {
	animation-direction: reverse;
}

/* Test Drive */
.preview-input-wrap {
	input[type='text'] {
		--outer-glow: 0 0 8px var(--color-alt);

		padding: 0.25em;

		font: inherit;
		color: var(--bg-alt);
		border: 2px solid var(--bg-alt);
		border-radius: var(--corner);
		background: var(--color-alt);
		box-shadow: var(--inner-glow);

		@media (prefers-reduced-motion: no-preference) {
			transition: box-shadow var(--easing) 300ms;
		}

		&:hover,
		&:focus {
			box-shadow: var(--inner-glow), var(--outer-glow);
		}

		&:focus {
			outline: 2px solid var(--color-alt);
		}
	}

	input[type='text'] {
		--inner-glow: inset 0 0 8px var(--bg-alt);
	}

	button {
		font-size: inherit;
	}

	label {
		font-family: var(--title-font);
		font-weight: 600;
		text-transform: uppercase;
	}
}

.preview-fallback-input {
	--preview-fallback-font-size: clamp(4rem, calc(4rem + (8 - 4) * ((100vw - 20rem) / (64 - 20))), 8rem);
}

.preview-option {
	--switch-border: 2px;
}

/* Exceptions  */
[xlink\:href='#sample-text'][stroke] {
	user-select: none;
}

.powercell-hunters-shirt {
	inline-size: clamp(4rem, 20%, 7.5rem);
	margin-block: 0.375rem;
	margin-inline-end: 1rem;
	overflow: hidden;
	float: left;
	shape-outside: content-box;
	shape-margin: 1rem;

	border-radius: 50%;

	transition: all ease-in-out 300ms;

	&:is(:hover, :focus-visible) {
		transform: scale(1.05);
		box-shadow: 0 0 0 2px var(--palette-05);
	}

	& > img {
		display: block;
		inline-size: 100%;
		block-size: auto;
		aspect-ratio: 1;
		object-fit: cover;
		object-position: 50% 25%;
	}
}

@property --button-text-a {
	syntax: '<color>';
	inherits: true;
	initial-value: tan;
}
@property --button-text-b {
	syntax: '<color>';
	inherits: true;
	initial-value: red;
}

@font-face {
	font-family: Marhey;
	src: local('Marhey'), url('./Marhey-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	descent-override: 42%;
}
