<footer class="footer-wrap | container">
    <div class="footer | grouper grouper--vertical">
        <div class="footer-meta | flow" style="--flow-space: 1em;">
            <p class="textWrap-balance">
                <strong class="p-name">{{ metadata.author.name }}</strong>
                &copy;&nbsp;<span aria-hidden="true">{{ metadata.currentYear | toRomanNumeral }}</span>
                <span class="visually-hidden">{{ metadata.currentYear }}</span>
                &mdash;
                100% human-made.
            </p>
        </div>
        
        <nav class="footer-nav" aria-label="Footer navigation">
            {% for footerNav in nav.footerGroups %}
                <ul class="inline-list">
                    {% for navItem in footerNav %}
                        {% set linkHref = (metadata.repo + '/blob/main/' + page.inputPath) if navItem.isRepoFileLink else navItem.path %}
                        <li><a
                            href="{{ linkHref }}"
                            {{ navItem.path | current(page) | safe }}
                            {% if 'mailto:' in navItem.path %}id="footer-email-link" class="u-email"{% endif %}
                        >{{ navItem.label }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </nav>

        <div class="footer-message">
            <p class="h2">Be kind to others &amp; to yourself.</p>
        </div>
    </div>

    {% if (not metadata.nakedCss) %}
    <div class="footer-decorator">
        {% for theme in themes %}
            {% footersvg 'footer-deco-'+theme.key+'.svg', { 'data-theme-condition': theme.key } %}
        {% endfor %}
    </div>
    {% endif %}
</footer>