<footer class="footer-wrap | container">
    <div class="footer | grouper grouper--vertical">
        {% if metadata.nakedCss %}<p class="fontWeight-bold">🙅 No CSS for <a href="https://css-naked-day.github.io/">CSS Naked Day</a> (9th of April)!</p>{% endif %}
        {% if metadata.nakedJs %}<p class="fontWeight-bold">🙅 No JavaScript for <a href="https://js-naked-day.org/">JS Naked Day</a> (24th of April)!</p>{% endif %}

        <div style="--GAP: 0.5rem;">
            {% for footerNav in [nav.navbar, nav.footerExtras, nav.footerMisc, nav.footerSocial, nav.slashPages] %}
                <ul class="inline-list">
                    {% for navItem in footerNav %}
                        <li><a
                            href="{{ navItem.path if (not navItem.isRepoFileLink) else (metadata.repo + "/blob/main/" + page.inputPath) }}"
                            {{ navItem.path | current(page) | safe }}
                        >{{ navItem.label }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

        <p>
            <strong>{{ metadata.author.name }}</strong>
            <br>
			&copy; {{ metadata.currentYear | toRomanNumeral }}
        </p>
    </div>

    <div class="footer-decorator">
        {% for theme in themes %}
            {% if not theme.hiddenFooterIllustration %}{% footersvg 'footer-deco-'+theme.key+'.svg', { 'data-theme-condition': theme.key } %}{% endif %}
        {% endfor %}
    </div>
</footer>