<footer class="footer-wrap | container">
    <div class="footer | grouper grouper--vertical">
        {% if metadata.nakedCss %}<p class="fontWeight-bold">🙅 No CSS for <a href="https://css-naked-day.github.io/">CSS Naked Day</a> (9th of April)!</p>{% endif %}
        {% if metadata.nakedJs %}<p class="fontWeight-bold">🙅 No JavaScript for <a href="https://js-naked-day.org/">JS Naked Day</a> (24th of April)!</p>{% endif %}
        <h2 class="visually-hidden" id="footer-descr">Footer</h2>
        <nav aria-describedby="footer-descr">
            {% for footerNav in nav.footerGroups %}
                <ul class="inline-list">
                    {% for navItem in footerNav %}
                        {% set linkHref = navItem.path if (not navItem.isRepoFileLink) else (metadata.repo + '/blob/main/' + page.inputPath) %}
                        <li><a
                            href="{{ linkHref }}"
                            {{ navItem.path | current(page) | safe }}
                            {% if 'mailto:' in navItem.path %}id="footer-email-link" class="u-email"{% endif %}
                        >{{ navItem.label }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </nav>

        <p>
            <strong class="p-name">{{ metadata.author.name }}</strong>
            &copy;
            <span class="visually-hidden">{{ metadata.currentYear }}</span>
            <span aria-hidden="true">{{ metadata.currentYear | toRomanNumeral }}</span>
            &mdash;
            100% human-made.
        </p>
    </div>

    <div class="footer-decorator">
        {% for theme in themes %}
            {% footersvg 'footer-deco-'+theme.key+'.svg', { 'data-theme-condition': theme.key } %}
        {% endfor %}
    </div>
</footer>