{% css 'foot' %}{% include 'assets/css/font-face.css' %}{% endcss %}
{% js 'foot' %}{% include 'assets/js/site.js' %}{% endjs %}

{% if toc %}
	{% js 'foot-toc' %}{% include 'assets/js/toc.js' %}{% endjs %}
{% endif %}

{% if not metadata.nakedCss %}
<style>
	{%- getBundle 'css', 'foot' -%}
</style>
{% endif %}
{% if not metadata.nakedJs %}
<script>
	{%- getBundle 'js', 'foot' %}
	{%- getBundle 'js', 'foot-toc' %}
	{%- getBundle 'js', 'foot-codewrap' %}
	{%- getBundle 'js', 'foot-about' %}
	{%- getBundle 'js', 'foot-gameslibrary' %}
	{%- getBundle 'js', 'foot-randompost' -%}
</script>
{% endif %}