{% block headStart %}{% endblock %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title | safe }} | {{ metadata.title }}</title>

{% block headInner %}{% endblock %}

{# Icons #}
<link rel="icon" href="/favicon.ico" sizes="32x32">
<link rel="icon" href="/{{ assets.images }}/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/{{ assets.images }}/apple-touch-icon.png">

{# Meta, SEO, etc. #}
<meta name="author" content="{{ metadata.author.name }}">
<meta name="generator" content="{{ eleventy.generator }}">
<meta property="fediverse:creator" content="{{ social.mastodon.handle }}">
<link href="{{ social.mastodon.url }}" rel="me">

<meta property="og:title" content="{{ title }} | {{ metadata.title }}">
<meta property="og:site_name" content="{{ metadata.title }}">
{% if summary %}
<meta name="description" content="{{ metaDescriptionOverride or summary }}">
<meta name="og:description" content="{{ metaDescriptionOverride or summary }}">
{% endif %}
<meta property="og:locale" content="{{ metadata.lang }}">
<meta property="og:type" content="{% if section == 'post' %}article{% else %}website{% endif %}">
<meta property="og:url" content="{{ (page.url or '/') | absoluteUrl(metadata.url) }}">

{% set meta_image_url %}{{ customMetaImage or ([assets.images, 'metaimage.jpg'] | toPath) }}{% endset %}
<meta name="twitter:image" property="og:image" content="{{ meta_image_url | trim | absoluteUrl(metadata.url) }}">
<meta name="twitter:image:alt" property="og:image:alt" content="{{ title }}">

{% block headEnd %}{% endblock %}