<header class="header-wrap | container">
    <div class="header">
        <a href="/" class="header-logo | u-url" {{ '/' | current(page) | safe }}>
            {% svg 'logo', {
                class: 'logo | u-logo',
                title: 'Christopher Kirk-Nielsen logo, to homepage'
            } %}
        </a>

        {% component 'cta', {
            iconStack: {
                'idle': 'menu-icon',
                'pressed': 'close'
            },
            iconClass: 'button-icon',
            label: {
                aria: 'Toggle Menu'
            },
            ctaClass: 'header-menu-toggle linecap-auto hide-when-viewport--large',
            ctaAttr: 'data-toggle-pressed'
        } %}

        <div class="header-menu">
            <nav class="header-nav">
                <ul class="header-list">
                    {% for menuItem in nav.navbar %}
                        <li class="header-item">
                            <a href="{{ menuItem.path }}" {{ menuItem.path | current(page) | safe }} class="header-link">{{ menuItem.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <div class="header-themepicker">
                <div id="header-themepicker-heading" class="header-themepicker-heading | h2 | hide-when-viewport--large">
                    {% svg 'palette', { class: 'inline-icon' } %}
                    <span>Theme Picker</span>
                </div>
                {% component 'cta', {
                    iconStack: {
                        'idle': 'palette',
                        'pressed': 'close'
                    },
                    iconClass: 'button-icon',
                    label: {
                        text: 'Themes',
                        aria: 'Toggle Theme Picker'
                    },
                    ctaAttr: 'data-toggle-pressed aria-controls="themepicker"',
                    ctaClass: 'header-themepicker-toggle linecap-auto hide-when-viewport--small'
                } %}
                {% webcomponent 'theme-picker', { id: 'themepicker', 'data-light': 'dawn', 'data-dark': 'dusk', 'aria-labelledby': 'header-themepicker-heading' } %}
                {% js 'foot' %}{%- include 'assets/js/components/theme-picker.js' -%}{% endjs %}
            </div>
        </div>
    </div>
</header>