@property --100vi {
	syntax: '<length>';
	inherits: true;
	initial-value: 100vi;
}

html {
	container-type: inline-size;

	color-scheme: var(--_color-scheme);
	color: var(--color-text);
	background-color: var(--color-canvas);

	@media (--accept-motion) {
		&:focus-within {
			scroll-behavior: smooth;
		}
	}
}

body {
	--100vi: calc(100cqi);
	--scrollbar-size: clamp(0px, calc(100vi - var(--100vi)), 20px); /* Magic number: limit the scrollbar to 20 pixels, that'll be enough… right? */

	display: flex;
	flex-direction: column;

	&::before {
		/* Pride banner strip */
		content: '';

		display: block;
		block-size: 4px;

		background: linear-gradient(
			90deg,
			white 0 9.09%,
			#ffa6b9 0 18.18%,
			#00d2ff 0 27.27%,
			#753000 0 36.36%,
			black 0 45.45%,
			red 0 54.54%,
			orange 0 63.63%,
			yellow 0 72.72%,
			green 0 81.81%,
			blue 0 90.9%,
			indigo 0 100%
		);
		opacity: 0.67;
	}
}

body > footer {
	margin-block-start: auto;
}

dialog {
	position: fixed;
	inset: clamp(var(--size-m), 4.5vh, var(--size-2xl)) 0 auto; /* Top-aligned */

	inline-size: var(--layout-max-content);
	max-inline-size: 90%;
	margin: auto;
	padding: 0;

	color: var(--color-text);
	border: 2px solid var(--color-text);
	border-radius: var(--_corner);
	background: var(--color-surface);

	transform-origin: 50% 0%;
	animation: --fadeIn var(--anim-short) var(--easing-out) 20ms 1 backwards;
	/* 20ms delay + backwards fill to reduce amount of stutter upon opening a dialog */

	@media (--accept-motion) {
		animation-name: --fadeIn, --scaleUp;
	}

	&:not([open]) {
		display: none;

		animation: none;
	}

	&::backdrop {
		padding: 33vh var(--size-xl) var(--size-xl);

		background: #000a;

		animation: --fadeIn var(--anim-short, calc(200ms * var(--anim-f))) var(--easing-out, ease-out) 20ms 1 backwards;
	}
}

:root:has(dialog[open]) {
	scrollbar-gutter: stable;
	overflow: hidden;
}

.dialog-inner {
	padding: var(--size-m);
	overflow: auto;
}
