pre,
code {
	--tab-size: 4;
	tab-size: var(--tab-size, 4);
}

code-wrap {
	display: block;
}

.codeblock,
.codeview {
	--CODEBLOCK-border-width: 1px;
	--CODEBLOCK-padding: calc(var(--layout-gutter) - var(--CODEBLOCK-border-width));
	--CODEBLOCK-border-color: var(--C-accent);
	--CODEBLOCK-toolbar-padding: 6px;
	--CODEBLOCK-toolbar-color: var(--C-surface);
}

.codeblock-toolbar,
.codeview-toolbar {
	position: relative;
	z-index: 1;

	display: flex;
	gap: 1em;

	justify-content: space-between;
	align-items: center;
	padding: var(--CODEBLOCK-toolbar-padding) var(--CODEBLOCK-toolbar-padding) var(--CODEBLOCK-toolbar-padding) var(--layout-gutter);

	color: var(--CODEBLOCK-toolbar-color);
	border-radius: var(--_corner) var(--_corner) 0 0;
	background: var(--CODEBLOCK-border-color);
}

.codeblock-toolbar-label,
.codeview-toolbar {
	font-family: var(--fontStack-monospace);
	font-size: 0.875em;
	letter-spacing: 0.01em;
}
.codeblock-toolbar-label .inline-icon {
	--ICON-size: 1.25em;
}

.codeblock pre,
.codeblock-pre,
.codeview-render {
	position: relative;

	inline-size: 100%;
	padding: var(--CODEBLOCK-padding);
	overflow: auto;

	font-size: var(--typeScale-n1);
	border: var(--CODEBLOCK-border-width) solid var(--CODEBLOCK-border-color);
	border-block-start-width: 0;
	background-color: var(--CODE-bg, var(--C-surface));
	background-image: conic-gradient(from -90deg at 1px 1px, color-mix(in hsl, var(--C-inactive, #808080), transparent) 0 90deg, transparent 0);
	background-origin: content-box;
	background-size: calc(var(--tab-size) * 1ch) 0.33em;
	background-attachment: local;
}

.codeview-render {
	max-height: 80vh;
}

:not(pre) > code {
	padding-block: 0.0625em;

	white-space: pre-wrap;
	word-break: break-word;

	color: var(--C-heading);
	border-radius: var(--_corner);
	background: var(--CODE-bg, var(--C-surface));

	&::before,
	&::after {
		content: '\2060\200a\2060';
		user-select: none;

		font-size: 0.5em;
	}
}

kbd {
	--d: 2px; /* d for Depth */
	padding-inline: calc(var(--d) + 1px);
	margin-inline-start: calc(var(--d) + 1px);
	margin-inline-end: calc(var(--d) + 2px);

	color: #111;
	color: oklch(from var(--C-heading) 10% 100% h);
	border-radius: max(var(--d), var(--_corner)); /* Always at least a little rounded */
	background: #eee;
	background: oklch(from var(--C-heading) 100% 15% h);
	box-shadow: calc(var(--d) - 1px) calc(var(--d) - 1px) 0 var(--d) #808080;
	box-shadow: calc(var(--d) - 1px) calc(var(--d) - 1px) 0 var(--d) oklch(from var(--C-heading) 50% 20% h);
}

.token.namespace {
	opacity: 0.7;
}

.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--C-inactive, #808080);
}

.token.comment {
	padding-inline: 0.175em 0.125em; /* Because it's italic, it feels like there's less space on the left, so we add a tiny bit more */

	font-style: italic;
	color: var(--C-text);
	border-radius: var(--_corner);
	background: var(--C-canvas);
	outline: 1px solid var(--C-inactive, gray);
}

.token.boolean,
.token.number,
.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.property,
.token.deleted,
.token.tag {
	color: var(--C-heading);
}

.token.selector,
.token.inserted {
	color: var(--C-heading);
}

.token.attr-name,
.token.string,
.token.entity,
.token.url,
.token.string,
.style .token.string,
.token.attr-value {
	color: var(--C-accent-alt, var(--C-accent));
}

.token.regex,
.token.statement,
.token.attr-name,
.token.style,
.token.script,
.token.punctuation,
.token.script .token.keyword {
	color: var(--C-accent);
}

.token.placeholder,
.token.variable {
	color: var(--C-text);
}

.token.important,
.token.statement,
.token.bold {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

.token.italic {
	font-style: italic;
}
