.expander-button:not(#\#) {
	position: sticky;
	inset-block-start: 0;
	z-index: 2;

	user-select: none;

	--CTA-display: flex;

	&::-webkit-details-marker {
		display: none;
	}
}

.expander-button-arrow {
	display: inline-block;
	block-size: 0;
	inline-size: 0;

	--SQRT3: 1.7321;
	--arrow-side-size: 0.5em;

	/**
     * 1: Equilateral triangle has h = √3 * a / 2, where a is the side
     * 2: Center of mass for a triangle, for side a, is C = (a√3)/3
     */

	border-width: calc(var(--arrow-side-size) / 2) 0 calc(var(--arrow-side-size) / 2) calc(var(--SQRT3) * var(--arrow-side-size) / 2); /* 1 */
	border-style: solid;
	border-color: transparent transparent transparent var(--EXPANDER-button-arrow-color, currentColor);

	transform-origin: 42.5% 50%;
	transform-origin: calc(100% - var(--SQRT3) * 100% / 3) 50%; /* 2 */

	transition: transform var(--anim-short) var(--easing-in-out);

	.expander[open] &,
	.expander-button[aria-pressed='true'] & {
		transform: rotate(90deg);
	}
}

.expander-content {
	--CODE-bg: var(--C-surface-alt, var(--C-canvas));
	padding: var(--size-m) var(--layout-gutter);
	margin-inline: var(--size-s);

	background: var(--C-surface);
	box-shadow: var(--_shadow);
}

cycling-expander {
	isolation: isolate;
}

cycling-expander .expander[data-open='true'] .expander-content {
	--ANIM-start-opacity: 0;
}

cycling-expander .expander[data-open='true'] .expander-content,
cycling-expander:has(.expander[data-open='true']) + *,
cycling-expander:has(.expander[data-open='true']) + * + *,
cycling-expander:has(.expander[data-open='true']) + * + * + *,
cycling-expander:has(.expander[data-open='true']) + * + * + * + * {
	/* Animating the next 4 elements should make the illusion relatively effective */
	animation: cyclingExpanderReveal var(--anim-long) var(--easing-circ-in) 1 backwards;
}

@keyframes cyclingExpanderReveal {
	from {
		opacity: var(--ANIM-start-opacity, 1);
		transform: translateY(-2rem);
	}
}
