.filtering {
	display: block;
	margin: 0;
	padding: 0;

	text-align: center;
	text-wrap: balance;
	border: 0;
}

.filtering-item {
	display: inline;

	& > * {
		margin: 0.25em;
	}
}

.filtering-tag {
	position: relative;
}

[data-filtered-item] {
	position: relative;
	transition: all var(--anim-medium) var(--easing-in-out);
	transition-property: visibility, z-index;

	@media (--reduce-motion) {
		&[aria-hidden='true'] {
			display: none;
		}
	}

	&[aria-hidden='false'] {
		z-index: 10;

		visibility: visible;
	}

	&[aria-hidden='true'] {
		position: absolute;
		z-index: 0;

		visibility: hidden;
		pointer-events: none;
	}
}
