@property --PF-img-ratio {
	inherits: true;
	syntax: '<number>';
	initial-value: 1;
}

.posterfloater {
	--PF-img-width: calc((var(--PF-img-ratio) + (1 - var(--PF-img-ratio)) / 2) * 200px); /* As the ratio decreases, the width decreases at a slower rate (x+(1-x)/2) */

	container-type: inline-size;
}

.posterfloater-list {
	margin: 0;
	padding: 0;
	list-style-type: '';
}

.posterfloater-media {
	position: relative;

	display: flex;
	inline-size: min(33%, var(--PF-img-width));
}

.posterfloater-image {
	aspect-ratio: var(--PF-img-ratio);

	border-radius: var(--_corner);
	box-shadow: var(--_shadow);
}

.posterfloater-praise {
	position: absolute;
	inset-block-start: 100%;
	inset-inline-start: var(--PF-praise-inline-pos, 100%);

	display: flex;
	align-items: center;
	block-size: 2em;
	padding: 0.5em;
	aspect-ratio: 1;

	font-size: 0.75em;
	line-height: 1;
	text-shadow: -1px -1px 2px #0008;
	border: 0 solid transparent;
	border-width: 1px 0 0 1px;
	border-radius: 50%;
	background: linear-gradient(90deg, var(--C-surface), var(--C-canvas)) padding-box no-repeat,
		linear-gradient(hsl(var(--_shadow-color)), hsl(var(--_shadow-color))) border-box no-repeat 0 0 / 50% 100%;

	translate: -50% -50%;
}

@container (inline-size > 680px) {
	.posterfloater-item {
		display: flex;
		gap: var(--size-l);
		align-items: flex-start;
	}

	.posterfloater-media {
		--r: calc(sin(var(--i) * 199 + var(--PF-seed)) * 4deg);
		flex: 0 0 auto;

		transform: rotate(var(--r));

		@media (prefers-reduced-motion: no-preference) {
			transition: transform var(--easing-bounce) var(--anim-long);

			@supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {
				animation-name: --PF-reveal;
				animation-timing-function: linear;
				animation-timeline: view();
				animation-range: -10% 33%;
			}
		}

		&:hover {
			transform: rotate(calc(var(--r) + sign(var(--r)) * 1deg)) scale(1.05);
		}
	}

	.posterfloater-contents {
		flex: 1 1 0;
	}

	@keyframes --PF-reveal {
		from {
			opacity: 0;
			scale: 0.5;
			rotate: calc(var(--r, 0deg) * -1);
		}
	}
}

@container (inline-size <= 680px) {
	.posterfloater-item {
		--PF-praise-inline-pos: 50%;

		clear: both;
	}
	.posterfloater-contents {
		display: contents;
	}
	.posterfloater-media {
		float: left;
		float: inline-start;
		margin: 0 var(--size-s) var(--size-s) 0;
	}
}
