@property --FL-img-ratio {
	inherits: true;
	syntax: '<number>';
	initial-value: 1;
}

.floatster {
	--FL-img-width: calc((var(--FL-img-ratio) + (1 - var(--FL-img-ratio)) / 2) * 200px); /* As the ratio decreases, the width decreases at a slower rate (x+(1-x)/2) */

	container-type: inline-size;
}

.floatster-list {
	margin: 0;
	padding: 0;
	list-style-type: '';
}

.floatster-media {
	--r: calc(sin(var(--i) * 199 + var(--FL-seed)) * var(--FL-angle, 4deg));

	position: relative;

	display: flex;
	inline-size: min(33%, var(--FL-img-width));

	transform: rotate(var(--r));

	@media (prefers-reduced-motion: no-preference) {
		transition: transform var(--easing-bounce) var(--anim-long);

		@supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {
			animation-name: --FL-reveal;
			animation-timing-function: var(--easing-out);
			animation-timeline: view();
			animation-range: -10% 33%;
		}
	}

	&:hover {
		transform: rotate(calc(var(--r) + sign(var(--r)) * 1deg)) scale(1.05);
	}
}

@keyframes --FL-reveal {
	from {
		opacity: 0;
		scale: 0.5;
		rotate: calc(var(--r, 0deg) * -1);
	}
}

.floatster-image {
	aspect-ratio: var(--FL-img-ratio);

	border-radius: var(--_corner);
	box-shadow: var(--_shadow);

	@media (prefers-reduced-motion: no-preference) {
		transition: box-shadow var(--easing-bounce) var(--anim-long);
	}

	.floatster-media:is(:hover, :focus) & {
		box-shadow: var(--_shadow-active);
	}
}

.floatster-praise {
	position: absolute;
	inset-block-start: 100%;
	inset-inline-start: var(--FL-praise-inline-pos, 100%);

	display: flex;
	justify-content: center;
	align-items: center;
	inline-size: 2em;
	padding: 0.5em;
	aspect-ratio: 1;

	font-size: 0.75em;
	line-height: 1;
	text-shadow: -1px -1px 2px #0008;
	border: 0 solid transparent;
	border-width: var(--FL-praise-border, 1px 0 0 1px);
	border-radius: 50%;
	background: linear-gradient(90deg, var(--C-surface), var(--C-canvas)) padding-box no-repeat,
		linear-gradient(hsl(var(--_shadow-color)), hsl(var(--_shadow-color))) border-box no-repeat 0 0 / var(--FL-praise-bg-border-size, 50% 100%);

	translate: -50% -50%;
}

@container (inline-size > 680px) {
	.floatster-item {
		display: flex;
		gap: var(--size-l);
		align-items: flex-start;
	}

	.floatster-media {
		flex: 0 0 auto;
	}

	.floatster-contents {
		flex: 1 1 0;
	}
}

@container (inline-size <= 680px) {
	.floatster-item {
		--FL-angle: 1.5deg;
		--FL-praise-inline-pos: 50%;
		--FL-praise-border: 1px;
		--FL-praise-bg-border-size: 100% calc(50% + 1px);

		clear: both;
	}

	.floatster-contents {
		display: contents;
	}

	.floatster-media {
		float: left;
		float: inline-start;
		margin: 0 var(--size-s) var(--size-s) 0;
	}
}
