.inline-form {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-s);
	justify-content: center;
	align-items: stretch;

	& > label {
		align-self: center;
	}

	& > input {
		flex: 1 1 auto;
		min-inline-size: 12ch;
	}
}

:is(form, [data-formlike]) :is(input:where([type='text'], [type='number'], [type='search']), select, textarea),
[data-inputlike] {
	padding: var(--size-2xs) var(--size-s);

	color: var(--_cta-text-color);
	border: 1px solid var(--_cta-border-color);
	border-radius: var(--_corner);
	background: var(--_cta-bg-color);

	&:focus {
		border-color: var(--_cta-border-color-active);
	}

	&:disabled {
		cursor: not-allowed;
	}
}

.button.button--select {
	--SELECT-arrow-size: 0.75em;
	--SELECT-arrow-gap: var(--size-xs);

	pointer-events: none;

	padding: 0;
	padding-inline-end: 0;

	&::after {
		content: '';

		position: absolute;
		inset: 0 0 0 auto;

		display: inline-block;
		block-size: var(--SELECT-arrow-size);
		inline-size: calc(var(--SELECT-arrow-size) + 2 * var(--SELECT-arrow-gap));
		margin: auto 0 auto auto;

		background-color: currentColor;
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: center;
	}
}
.button.button--select > select {
	padding: var(--CTA-padding);
	padding-inline-end: calc(var(--SELECT-arrow-size) + 2 * var(--SELECT-arrow-gap));

	appearance: none;
	pointer-events: auto;

	color: inherit;
	border: none;
	background: transparent;
}

.form-label-wrap {
	display: flex;
	align-items: baseline;
	gap: 0.25em;
}

[data-inputlike='wrap'] {
	display: flex;
	align-items: center;
	gap: 0.5em;

	&:focus-within {
		outline: var(--_focus-outline);
		outline-offset: var(--_focus-outline-offset);

		& > :focus {
			outline: none;
		}
	}
}

:is(form, [data-formlike]) :is(input, select) {
	line-height: 1;
	accent-color: var(--C-accent);
}

fieldset {
	border: none;
}
