.inline-icon {
	--ICON-size: 0.9em;
	display: inline-block;
	block-size: var(--ICON-size, 1em);
	inline-size: auto;
}

.inline-icon--middle {
	vertical-align: middle;
}
.inline-icon--center {
	vertical-align: calc(0.375em - 0.5 * var(--ICON-size, 1em)); /* Fallback */
	/* Thanks to Roman Komarov: https://blog.kizu.dev/cap-height-align/#known-size-just-vertical-align */
	vertical-align: calc(0.5cap - 0.5 * var(--ICON-size, 1em));
}

/* ? Sticky icon trick: https://medienbaecker.com/articles/inline-links-with-sticky-icons */
.icon-text-pair,
.link-label-anchor:has(svg, .inline-icon, .link-label-prefix) {
	white-space: nowrap; /* Keep the icon/prefix stuck against the text */
}
.icon-text-pair > :not(.inline-icon, .icon-text-text),
.link-label-anchor:has(svg, .inline-icon, .link-label-prefix) .link-label-text {
	white-space: normal; /* Allow line breaking for the actual text */
}
.link-label-prefix {
	display: inline-block;
}

.icon-badge {
	--ICON-size: 1.25em;
	--fg: var(--C-canvas);
	--bg: var(--C-text);

	block-size: var(--ICON-size);
	margin-inline-end: 0.25em;

	border-radius: var(--_corner);
	color: var(--fg);
	background: var(--bg);
}
.icon-badge[width='16'] {
	padding: 0.125em;
}
.icon-badge[width='32'] {
	padding-inline: 0.25em;
}
