.search-filter {
	min-inline-size: 12ch;
}

.search-results-container {
	container: --searchResults / inline-size;
}

.search-results-col-type {
	inline-size: max-content;
	padding-inline-start: var(--size-s);
}
.search-results-col-title {
	inline-size: auto;
	padding-inline: var(--size-s);

	text-wrap: pretty;
}
.search-results-col-date {
	inline-size: max-content;
	padding-inline-end: var(--size-s);

	text-align: end;
	white-space: nowrap;
}

.search-results-item > .search-results-col-date:empty::before {
	content: '—';
	content: '—' / '';

	color: var(--C-accent);
}
.search-results:not(:has(.search-results-item:not([hidden]) > .search-results-col-date:not(:empty))) .search-results-col-date {
	display: none; /* When displaying a list of results that are all without a date, hide the date column */
}

@container --searchResults (max-inline-size: 400px) {
	.search-results {
		display: block;

		& > thead {
			position: absolute;
			width: 1px;
			height: 0;
			margin: 0;
			padding: 0;
			overflow: hidden;

			white-space: nowrap;
			border: 0;

			clip: rect(0 0 0 0);
		}

		& > tbody {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: var(--size-xs);
		}
	}

	.search-results-item {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: auto auto;
		padding: var(--size-2xs);
	}

	.search-results-item > td {
		display: block;
		padding: 0;
	}

	.search-results-col-type {
		inline-size: auto;
		grid-row: 1;
		grid-column: 1;
	}

	.search-results-col-title {
		inline-size: 100%;
		grid-row: 2;
		grid-column: 1 / -1;
	}

	.search-results-col-date {
		grid-row: 1;
		grid-column: 2;
		inline-size: auto;

		&::before {
			display: none;
		}
	}
}
