:any-link {
	--LINK-color: var(--_link-color);
	--LINK-underline-color: var(--_link-underline-color);
	--LINK-skip-ink: var(--_link-skip-ink);
	--LINK-decoration-thickness: var(--_link-decoration-thickness);
	--LINK-underline-offset: var(--_link-underline-offset);

	:where(main &:not(.button, .toc a)) {
		font-weight: 550; /* Inspired by from https://blog.kizu.dev/bolder-links/ */
	}

	&:is(:hover, :focus-visible) {
		--LINK-color: var(--_link-color-active);
		--LINK-underline-color: var(--_link-underline-color-active);
		--LINK-skip-ink: var(--_link-skip-ink-active);
		--LINK-underline-offset: var(--_link-underline-offset-active);
		--LINK-decoration-thickness: var(--_link-decoration-thickness-active);
	}
}

:any-link,
.link-label-anchor .link-label-text {
	color: var(--LINK-color);
	text-decoration: underline;
	text-decoration-color: var(--LINK-underline-color);
	text-decoration-skip-ink: var(--LINK-skip-ink);
	text-decoration-thickness: var(--LINK-decoration-thickness);
	text-underline-offset: var(--LINK-underline-offset);
}

/* A link whose contents shouldn't all get underlined, only the specified label */
.link-label-anchor {
	color: inherit;
	text-decoration: none;
}

:is(h1, h2, h3, h4) > a {
	--_link-underline-color: transparent;
	--_link-decoration-thickness: 0px;
}

.heading-anchor {
	/* Only show the anchor position if an ID and a local anchor are provided */
	[id] > &[href^='#'] {
		&::before {
			content: 'ยง';
			pointer-events: none;

			position: absolute;

			font-size: 0.625em;
			color: var(--C-accent-alt, var(--C-accent));

			opacity: 0;

			@media (--accept-motion) {
				transition: var(--anim-short) var(--easing-out);
				transition-property: opacity, transform;
			}
		}

		&:is(:hover, :focus-visible)::before {
			opacity: 0.8;
			transform: translateX(calc(-100% - 0.125em));
		}
	}
}
