ol > li > ol {
	list-style-type: lower-alpha;
}

.inline-list {
	--item-gap: max(var(--GAP, 0px), 12px, 0.75em); /* Ensure there is at least 8px between items */

	text-wrap: balance;

	&:is(:not([data-flow]), [data-flow='block']) {
		display: block; /* List is on its own line */
	}

	&[data-flow='run-in'] {
		display: inline; /* List is on the same line as preceding content */
	}

	& > li {
		display: inline;

		& > a {
			display: inline-block;
			padding-block: var(--GAP, 0px);
		}
	}

	& > li:not(:last-child) {
		&::after {
			content: ' ';

			letter-spacing: var(--item-gap);
			background: currentColor;
			-webkit-mask: var(
				--separator,
				url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Ccircle cx='4' cy='4' r='2'%3E%3C/circle%3E%3C/svg%3E")
					no-repeat center center
			);
			mask: var(
				--separator,
				url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Ccircle cx='4' cy='4' r='2'%3E%3C/circle%3E%3C/svg%3E")
					no-repeat center center
			);
			opacity: 0.75;
		}
	}
}

.flex-list {
	list-style-type: '';
	display: flex;
	flex-wrap: wrap;
	gap: max(8px, var(--list-gap, var(--size-xs)));
}

.flex-list--center {
	justify-content: center;
}

[data-list] > li + li {
	margin-block-start: 1em;
}
