.image-gallery {
	display: grid;
	gap: var(--size-m);
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
	justify-items: center;
	align-items: stretch;

	& :is(img, video) {
		inline-size: 100%;
	}

	/* Images can be clicked to be seen fully */
	& img {
		object-fit: cover;
	}

	/* Videos should appear without any cropping */
	& video {
		block-size: auto;
	}

	& :is(picture, a:not(figcaption > a)) {
		display: flex;
		flex-direction: column;

		& > :is(img, video) {
			flex-grow: 1;
		}
	}

	& > figure {
		position: relative;
		display: flex;
		flex-direction: column;

		& > :is(picture, img, a) {
			flex-grow: 1;
		}

		& > figcaption {
			padding: var(--size-xs) var(--size-s);

			font-size: 0.75em;
			text-align: center;
			color: var(--C-text);
			background-color: var(--C-surface-alt, var(--C-surface));
		}
	}

	& > :is(figure, picture, a, img, video) {
		inline-size: 100%;
		max-inline-size: calc(var(--layout-max-content) * 0.8);
	}

	/* Links around alt text is illegible on hover, so we'll remove it */
	& a:is(:hover, :focus-visible):has(> img:only-child) {
		text-decoration: none;
	}
}

.image-gallery > :is(figure, picture, a, img, video),
.single-media {
	overflow: hidden;

	border-radius: var(--_corner);
	box-shadow: var(--_shadow);
}

.image-gallery :is(picture, img, video),
.single-media > * {
	color: var(--media-text, #222);
	background: var(--media-bg, #eee);
	transform: scale(1.005); /* Avoid sub-pixel issue due to border-radius and overflow on parent */
}
