.postlist {
	--LIST-gap: var(--size-l);
	--LIST-group-border: 2; /* Initially 1, but on standard DPI monitors, the border is sometimes skipped */
}

.postlist-group-label {
	position: sticky;
	inset-block-start: 0;
	z-index: 1;

	margin-block-end: var(--LIST-gap);
	margin-inline: calc(-1 * var(--layout-gutter));
	padding-inline-start: var(--size-xs);
	padding-block-end: var(--size-2xs);

	color: var(--C-accent);
	border-inline-start: calc(var(--LIST-group-border) * 1px) solid transparent;
	border-block-end: calc(var(--LIST-group-border) * 1px) solid transparent;
	border-image: radial-gradient(100% 100% at 0 100%, currentColor, transparent) var(--LIST-group-border);
	background: radial-gradient(farthest-side at 0 100%, var(--C-canvas), transparent);

	cursor: pointer;

	&:is(:hover, :focus-visible) > .postlist-group-label-text {
		text-decoration: underline;
	}
}

.postlist-group-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 340px), 1fr));
	gap: var(--LIST-gap);

	@supports (display: grid-lanes) {
		display: grid-lanes; /* Masonry */
	}
}

@media (--accept-motion) {
	@supports (interpolate-size: allow-keywords) {
		.postlist-group::details-content {
			/*? Because of the default _expander.css styles having overflow-y: clip,
			 * the cards stick outside this container on hover — this little trick ensures
			 * they have enough room to grow without being cut off. */
			margin-block: -2px -36px;
			padding-block: 2px 36px;
		}
	}
}
