.signoff {
	position: relative;

	grid-column: --wide;
	display: flex;
	flex-wrap: wrap;
	gap: var(--_card-padding);
	padding: var(--_card-padding);

	color: var(--_signoff-text-color);
	border: var(--_signoff-border);
	border-radius: clamp(0px, var(--_corner) * 999, var(--_card-corner));
	background: var(--_signoff-background);
	box-shadow: var(--_shadow);

	& > * {
		flex-basis: calc((20rem - 100%) * 999);
	}

	&:has(.signoff-decorators) {
		--signoff-deco-size: 3rem;

		.signoff-body {
			padding-inline-end: calc(var(--signoff-deco-size) * 1.5);
		}
	}
}

.signoff-photo {
	flex-grow: 1;
	align-self: start;

	/* inline-size: clamp(3rem, 25%, 12rem); */
	min-inline-size: 3rem;

	& > img {
		max-inline-size: min(100%, 10rem);
		margin-inline: auto;

		border-radius: var(--_corner);
	}
}

.signoff-message {
	flex-grow: 6;
	align-self: center;
}

.signoff-title {
	color: var(--_signoff-heading-color);
}

.signoff-body {
	margin-block-start: 0.25em;

	text-wrap: balance;
}

.signoff-decorators {
	position: absolute;
	inset-block-end: 0;
	inset-inline-end: calc(var(--signoff-deco-size) * 0.1);

	& > img {
		inline-size: calc(var(--signoff-deco-size) * 0.9);
		aspect-ratio: 1;

		filter: drop-shadow(0 2px 4px #0008);
		transform-origin: 50% 100%;

		&:nth-child(1) {
			rotate: 7deg;
			translate: 0 125%;
		}
		&:nth-child(2) {
			rotate: -4deg;
			translate: -75% 50%;
		}
		&:nth-child(3) {
			translate: -33% 0;
		}
	}
}

.signoff-body a > .inline-icon,
a .signoff-decorators > img {
	transition: scale var(--anim-short) var(--easing-in-out);
}

.signoff-body a:is(:hover, :focus-visible) > .inline-icon,
a:is(:hover, :focus-visible) .signoff-decorators > img {
	scale: 1.1;
}
