<!DOCTYPE html>
<html {% if section %}data-section="{{ section }}"{% endif %} lang="{{ metadata.lang }}" data-js="false">
	<head>
		{% include 'parts/head.njk' %}

		{% block headInner %}
		{# Inline JS (instantly assigns the theme before any paint) #}
		{% if not metadata.nakedJs %}
		<script>
		{%- js 'head' -%}
			let globalBreakpoint = `{{ tokens.settings.breakpoint }}`;
			let docEl = document.documentElement; // For minification purposes only
			docEl.setAttribute('data-js', 'true');
			window.themeKeys = {{ themes | pluck('key') | dump | safe }};
			window.themeKeys.push('custom');
			{%- include 'assets/js/theme-set.js' %}
		{% endjs %}
		{%- getBundle 'js', 'head' -%}
		</script>
		{% endif %}

		{% if not metadata.nakedCss %}
		{# Inline CSS instead of <link href="/assets/css/style.css" rel="stylesheet"> #}
		<style>{{ assets.inlineCssPlaceholder }}</style>
		{% endif %}

		{# Print styles #}
		<link rel="stylesheet" media="print" href="/assets/css/print.css">
		
		{# RSS feed #}
		<link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="{{ (rssFeedOverride or nav.rss.path) | absoluteUrl(metadata.url) }}">
		{% endblock %}
	</head>

	<body class="h-card">
		{% include 'parts/header.njk' %}

		<main class="main | container flow" id="content" tabindex="-1"{% if lang %} lang="{{ lang }}"{% endif %}>
			{% if metadata.nakedCss %}
				{% set announcement %}My CSS isn‘t broken! 🙅 No CSS for <a href="https://css-naked-day.org/">CSS Naked Day</a> (9th of April)!{% endset %}
			{% elseif metadata.nakedJs %}
				{% set announcement %}Your JavaScript isn't broken! 🙅 No JS for <a href="https://js-naked-day.org/">JS Naked Day</a> (24th of April)!{% endset %}
			{# {% else %}{% set announcement = "This is Nunjucks 🥷🪈🔗🪈" %} #}
			{% endif %}
			{% if announcement %}
				<div class="announcement"><p class="textWrap-balance textAlign-center">{{ announcement | markdown(true) | safe }}</p></div>
			{% endif %}

			{% block baseContent %}
				{{ content | safe }}
			{% endblock %}
		</main>

		{% include 'parts/footer.njk' %}
		{% include 'parts/foot.njk' %}
	</body>
</html>