<!doctype html>
<html {% if section %}data-section="{{ section }}"{% endif %} lang="{{ metadata.lang }}" data-js="false">
	<head>
		{% include 'parts/head.njk' %}

		{% block headInner %}
		{# inline JS (instantly assigns the theme before any paint) #}
		{% if not metadata.nakedJs %}
		<script>
		{% js 'head' %}
			let globalBreakpoint = `{{ tokens.settings.breakpoint }}`;
			let docEl = document.documentElement; // For minification purposes only
			docEl.setAttribute('data-js', 'true');
			window.themeKeys = {{ themes | pluck('key') | dump | safe }};
			{% include 'assets/js/theme-set.js' %}
		{% endjs %}
		{% getBundle 'js', 'head' %}
		</script>
		{% endif %}

		{% if not metadata.nakedCss %}
		{# Inline CSS instead of <link href="/assets/css/style.css" rel="stylesheet"> #}
		<style>{{ assets.inlineCssPlaceholder }}</style>
		{% endif %}

		{# Print styles #}
		<link rel="stylesheet" media="print" href="/assets/css/print.css">
		
		{# RSS feed #}
		<link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="{{ (rssFeedOverride or nav.rss.path) | absoluteUrl(metadata.url) }}">
		{% endblock %}
	</head>

	<body class="h-card">
		<a class="skip-link" href="#content">Skip to content</a>

		{% include 'parts/header.njk' %}

		<main class="main | container flow" id="content" {% if lang %}lang="{{ lang }}"{% endif %}tabindex="-1">
			{% block baseContent %}
				{{ content | safe }}
			{% endblock %}
		</main>

		{% include 'parts/footer.njk' %}
		{% include 'parts/foot.njk' %}
	</body>
</html>