<!DOCTYPE html>
<html {{ if section }}data-section="{{ section }}"{{ /if }} lang="{{ metadata.lang }}" class="no-js">
	<head>
		<!--
		Nice to see you here.
		Feed your curiosity
		With these bits of co​de.
		-->
		{{ set headInner }}
		{{# Inline JS (instantly assigns the theme before any paint) #}}
		{{- if !metadata.nakedJs }}
		<script>
		{{- js 'head' -}}
			document.documentElement.classList.replace('no-js', 'js');
			const themes = {
				keys: {{ themes |> pluck('key') |> concat(['custom']) |> JSON.stringify }},
				defaults: {{ themes |> filter(t => t.default) |> map(t => [t.scheme, t.key]) |> Object.fromEntries |> JSON.stringify }},
			}; {{# This is build-time data we need to make available client-side, everything else can be in a JS file #}}
			{{ include 'assets/js/theme-toolkit.js' }}
		{{ /js }}
		{{- getBundle 'js', 'head' -}}
		</script>
		{{- /if }}

		{{- if !metadata.nakedCss }}
		{{# <link href="/assets/css/style.css" rel="stylesheet"> #}}
		<style>
			/* Want to see the full stylesheet? Load up the following URL: {{ metadata.url }}/assets/css/style.css */
			{{ assets.inlineCssPlaceholder }}
		</style>
		{{ /if -}}

		{{# Print styles -#}}
		<link rel="stylesheet" media="print" href="/assets/css/print.css">
		
		{{#- RSS feed #}}
		<link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="{{ (rssFeedOverride || nav.rss.path) |> absoluteUrl(metadata.url) }}">
		{{ /set }}

		{{ include 'parts/head.vto' { headInner } }}
	</head>

	<body class="h-card">
		{{ include 'parts/header.vto' }}

		<main class="main | container flow" id="content" tabindex="-1"{{ if lang }} lang="{{ lang }}"{{ /if }}>
			{{ if metadata.nakedCss }}
				{{ set announcement }}My CSS isn’t broken! 🙅 No CSS for <a href="https://css-naked-day.org/">CSS Naked Day</a> (9th of April)!{{ /set }}
			{{ else if metadata.nakedJs }}
				{{ set announcement }}My JavaScript isn’t broken! 🙅 No JS for <a href="https://js-naked-day.org/">JS Naked Day</a> (24th of April)!{{ /set }}
			{{ else }}
				{{ set announcement }}<a href="/fonts/peritel/">I just release a font called Peritel!</a>{{ /set }}
			{{ /if }}
			{{ if announcement }}
				<div class="announcement"><p class="textWrap-balance textAlign-center">{{ announcement |> markdown(true) }}</p></div>
			{{ /if }}

			{{ content }}
		</main>

		{{ include 'parts/footer.vto' }}
		{{ include 'parts/foot.vto' }}
	</body>
</html>