{% extends 'layouts/base.njk' %}

{% block baseContent %}
	{% set tag %}{% if section == 'post' %}article{% else %}div{% endif %}{% endset %}
	<{{tag}} class="page-content | container{% if useFlow != false %} flow{% endif %}"{% if gridBlockGutter %} style="--grid-block-gutter: {{ gridBlockGutter }};"{% endif %}>
		{% block theContent %}
			{{ content | safe }}
		{% endblock %}

		{% include 'parts/poison.njk' %}
	</{{tag}}>
{% endblock %}

{% if ('</code-wrap>' in content) %}
	{% js 'foot-codewrap' %}{%- include 'assets/js/components/code-wrap.js' -%}{% endjs %}
{% endif %}