{% extends 'layouts/content.njk' %}

{% block theContent %}
    {% set slashPages = (collections._slash | pluck('page') | pluck('url')) %}
    {% if page.url in slashPages or page.url == '/about/' %}
        {% set heroCta = nav.slashPages %}
    {% endif %}
    {% block pageHero %}
        {% component 'hero', {
            heroTitle: heroTitle or title,
            heroSub: heroSub or (summary if not heroHideSummary else null),
            heroSup: heroSup or null,
            heroCta: heroCta or null,
            pageContext: page
        } %}
    {% endblock %}

    <section class="container flow">
        {% if toc %}
            <div class="toc | flow">
                <p class="toc-title | h3" id="toc-title">Table of Contents</p>
                {{ content | autoToc('toc-list | fontSize-small', 'toc-title') | safe }}
            </div>
        {% endif %}

        {% block pageContent %}
            {% if autoToc or autoHeadingAnchors %}
                {{ content | getHeadingAnchors(true) | safe }}
            {% else %}
                {{ content | safe }}
            {% endif %}
        {% endblock %}
    </section>
    
    {% block pageFooter %}{% endblock %}
{% endblock %}