{{ layout 'layouts/content.vto' }}
	{{ set slashPages = collections._slash.map(s => s.page.url) }}
	{{ set isSlashPage = slashPages.includes(page.url) || page.url === '/about/' }}

	{{ if pageHero }}
		{{ pageHero }}
	{{ else }}
		{{ component 'hero', {
			pageContext: page,
			heroSup: heroSup || null,
			heroTitle: heroTitle || title,
			heroSub: heroSub || (heroHideSummary ? null : summary),
			heroCta: heroCta || (isSlashPage ? nav.slashPages : null),
		} }}
	{{ /if }}

	<section class="container flow" aria-labelledby="hero-heading">
		{{ if toc }}
			<nav class="toc | flow" aria-labelledby="toc-title" {{ if staticToc }} data-static-toc{{ /if }}>
				<h3 class="toc-title" id="toc-title">Table of Contents</h3>
				{{ content |> assignHeadingAnchors |> autoToc('toc-list | fontSize-small') }}
			</nav>
		{{ /if }}

		{{ if runAutoToc || autoHeadingAnchors }}
			{{ content |> assignHeadingAnchors }}
		{{ else }}
			{{ content }}
		{{ /if }}
	</section>
	
	{{ pageFooter || '' }}
{{ /layout }}
