{% extends "layouts/page.njk" %}

{% block pageContent %}
    {% set dateInfo %}
    <time datetime="{{ date | dateFormat({ format: 'iso' }) }}" title="{{ date | dateFormat({ format: 'iso' }) }}">{{ date | dateFormat({ format: 'nice', lang: lang }) }}</time>
    {% if updated %}
        <br>
        <span class="fontSize-tiny">(Updated
            {%- if (updated | dateFormat) != (date | dateFormat) -%}
                <time datetime="{{ updated | dateFormat({ format: 'iso' }) }}" title="{{ updated | dateFormat({ format: 'iso' }) }}">
                    {{ updated | dateFormat({ format: 'nice', lang: lang }) }}</time>
            {%- endif %})
        </span>
    {% endif %}
    {% endset %}
    {% component "hero", {
        heroTags: tags,
        heroTitle: title,
        heroSup: dateInfo
    } %}

    <section class="post-content | container | flow">
        {% if toc %}
            <div class="toc | flow">
                <p class="toc-title | h3" id="toc-title">Table of Contents</p>
                {{ content | autoToc('toc-list | fontSize-small', 'toc-title') | safe }}
            </div>
        {% endif %}

        {% if originalUrl %}
            <div>
            {% if originalTitle %}
                {% component 'cta', { url: originalUrl, label: originalTitle, icon: 'arrow-right' } %}
            {% else %}
                View original post: <a href="{{ originalUrl }}">{{ originalUrl }}</a>
            {% endif %}
            </div>
            <hr>
        {% endif %}

        {{ content | safe }}

        {% if externalUrl%}
            <hr>
            <div>
            {% if externalHost %}
                {% component 'cta', { url: externalUrl, label: 'View original post on '+externalHost, icon: 'arrow-right' } %}
            {% else %}
                View original post: <a href="{{ externalUrl }}">{{ externalUrl }}</a>
            {% endif %}
            </div>
        {% endif %}
    </section>

    <footer class="signoff">
        <div class="signoff-photo">
            <img
			src="{{ [assets.images, 'profile.jpg'] | toPath | toNetlifyImage({ w: 160 }) }}"
			alt=""
			width="160"
			height="160"
		/>
        </div>
        <div class="signoff-message">
            <p class="signoff-title | h4">Hey, I'm Chris, a front-end developer, CSS nerd, and designer.</p>
            <p class="signoff-body">
                You can find me on <a href="{{ social.mastodon.url }}">{% svg 'mastodon', { class: 'inline-icon inline-icon--middle', ariaHidden: true } %} Mastodon</a>. I've <a href="/designs/">designed some cool apparel</a> if you'd like to check that out. Thanks a ton!
            </p>
        </div>
    </footer>
{% endblock %}