{% extends 'layouts/page.njk' %}

{% block pageHero %}
    {% set dateInfo %}
        <time datetime="{{ date | dateFormat({ format: 'iso' }) }}" title="{{ date | dateFormat({ format: 'iso' }) }}">{{ date | dateFormat({ format: 'nice', lang: lang }) }}</time>
        {% if updated %}
            <br>
            <span class="fontSize-tiny">(Updated
                {%- if (updated | dateFormat) != (date | dateFormat) -%}
                    <time datetime="{{ updated | dateFormat({ format: 'iso' }) }}" title="{{ updated | dateFormat({ format: 'iso' }) }}">
                        {{ updated | dateFormat({ format: 'nice', lang: lang }) }}</time>
                {%- endif %})
            </span>
        {% endif %}
    {% endset %}

    {% component 'hero', {
        heroTags: tags,
        heroTitle: title,
        heroSup: dateInfo,
        pageContext: page
    } %}
{% endblock %}


{% block pageContent %}
    {% if originalUrl %}
        <div>
        {% if originalTitle %}
            {% component 'cta', { url: originalUrl, label: originalTitle, icon: 'arrow-right' } %}
        {% else %}
            View original post: <a href="{{ originalUrl }}">{{ originalUrl }}</a>
        {% endif %}
        </div>
        <hr>
    {% endif %}

    {{ content | safe }}

    {% if externalUrl %}
        <hr>
        <div>
        {% if externalHost %}
            {% component 'cta', { url: externalUrl, label: 'View original post on '+externalHost, icon: 'arrow-right' } %}
        {% else %}
            View original post: <a href="{{ externalUrl }}">{{ externalUrl }}</a>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block pageFooter %}
    <footer class="signoff">
        <div class="signoff-photo">
            <img
                src="{{ [assets.images, 'profile.jpg'] | toPath | toNetlifyImage({ w: 160 }) }}"
                alt=""
                width="160"
                height="160"
                loading="lazy"
            >
        </div>
        <div class="signoff-message">
            <p class="signoff-title | h4">Hey, I’m <span class="p-given-name">{{ metadata.author.shortname }}</span>, a front-end developer, CSS nerd, and designer.</p>
            <p class="signoff-body | fontSize-smaller">
                You can find me on
                <a href="{{ social.mastodon.url }}" class="link-label-anchor">
                    {% svg 'mastodon', { class: 'inline-icon inline-icon--center', ariaHidden: true } %}
                    <span class="link-label-text">Mastodon</span></a>.
                I’ve <a href="/designs/">designed some cool
                <span class="signoff-decorators" aria-hidden="true">
                    {% set cssStickerData = designs | find('slug', 'css-logo-solid') %}
                    {% set htmlShirtData = designs | find('slug', 'vhs-html') %}
                    {% set jsShirtData = designs | find('slug', 'vhs-js-dark') %}
                    <img src="{{ [assets.images, 'designs', cssStickerData.img] | toPath | toNetlifyImage({ w: 64 }) }}" alt="A CSS logo on a purple background" width="64" height="64">
                    <img src="{{ [assets.images, 'designs', htmlShirtData.img] | toPath | toNetlifyImage({ w: 64 }) }}" alt="A light retro t-shirt design with references to HTML" width="64" height="64">
                    <img src="{{ [assets.images, 'designs', jsShirtData.img] | toPath | toNetlifyImage({ w: 64 }) }}" alt="A dark retro t-shirt design with references to JavaScript" width="64" height="64">
                </span>
                apparel/stickers</a> if you’d like to check that out. Thanks a ton!
            </p>
        </div>
    </footer>

    {% if lang == 'en' or not lang %}
    {% set prevPost = collections["_posts.en"] | getPreviousCollectionItem %}
    {% set nextPost = collections["_posts.en"] | getNextCollectionItem %}
    <nav aria-label="More writing" class="grouper grouper--wrap justifyContent-center">
        {% if prevPost %}
            {% component 'cta', { icon: 'arrow-left', iconBefore: true, url: prevPost.url, label: "Previous Blog Post: "+ prevPost.data.title } %}
        {% endif %}
        {% if nextPost %}
            {% component 'cta', { icon: 'arrow-right', url: nextPost.url, label: "Next Blog Post: "+ nextPost.data.title } %}
        {% endif %}
    </nav>
    {% endif %}
{% endblock %}