---
title: Archives
summary: A digital museum of the previous versions of this website
versionsInfo: {
    2016: "Definitely a student’s website",
    2018: "The DeLorean got an upgrade",
    2020: "A little more web-dev oriented",
    2022: "I… uh… made it better with themes!"
}
---

<ol class="timeline">
{% for versionYear, versionDescription in versionsInfo | dictsort | reverse %}
	<li class="timeline-item">
		<div class="timeline-content">
            <h2 class="timeline-title">{{ versionYear }}</h2>
            <p class="timeline-info fontSize-smaller">{{ versionDescription }}</p>
        </div>
		<a href="https://{{ versionYear }}.chriskirknielsen.com" class="timeline-link">
            <img
                src="{{ [assets.images, "site-archives/year-"+versionYear+".jpg"] | toPath | toNetlifyImage }}"
                width="600"
                height="600"
                {% if loop.index >= 5 %}loading="lazy"{% endif %}
                class="timeline-image"
                alt="My website’s {{ versionYear }} version"
            >
        </a>
    </li>
{% endfor %}
</ol>