---
title: Blogroll
summary: Some blogs worth reading
permalink: /blogroll/
blogroll: {
    "Individuals": [
        {
            "title": "Adrian Roselli",
            "type": "rss",
            "xmlUrl": "https://adrianroselli.com/feed",
            "htmlUrl": "https://adrianroselli.com",
            "rssfr-favicon": "https://icons.feedercdn.com/adrianroselli.com",
            "blurb": "Nerds out on accessibility"
        },
        {
            "title": "Ahmad Shadeed",
            "type": "rss",
            "xmlUrl": "https://ishadeed.com/feed.xml",
            "htmlUrl": "http://ishadeed.com/",
            "rssfr-favicon": "https://icons.feedercdn.com/ishadeed.com",
            "blurb": "CSS wizard"
        },
        {
            "title": "Anh",
            "type": "rss",
            "xmlUrl": "https://anhvn.com/feed.xml",
            "htmlUrl": "https://anhvn.com/",
            "rssfr-favicon": "https://icons.feedercdn.com/anhvn.com",
            "blurb": "Such a cool homepage"
        },
        {
            "title": "Anne Sturdivant",
            "type": "rss",
            "xmlUrl": "https://weblog.anniegreens.lol/rss.xml",
            "htmlUrl": "https://weblog.anniegreens.lol",
            "rssfr-favicon": "https://icons.feedercdn.com/weblog.anniegreens.lol",
            "blurb": "Apple Annie’s Weblog"
        },
        {
            "title": "Axel Leroy",
            "type": "rss",
            "xmlUrl": "https://axel.leroy.sh/rss",
            "htmlUrl": "https://axel.leroy.sh",
            "rssfr-favicon": "https://icons.feedercdn.com/axel.leroy.sh"
        },
        {
            "title": "Ben Myers",
            "type": "rss",
            "xmlUrl": "https://benmyers.dev/feed.xml",
            "htmlUrl": "https://www.benmyers.dev/",
            "rssfr-favicon": "https://icons.feedercdn.com/www.benmyers.dev"
        },
        {
            "title": "Bramus Van Damme",
            "type": "rss",
            "xmlUrl": "https://www.bram.us/feed/",
            "htmlUrl": "https://www.bram.us",
            "rssfr-favicon": "https://icons.feedercdn.com/www.bram.us",
            "favicon-dark": true
        },
        {
            "title": "Cassidy Williams",
            "type": "rss",
            "xmlUrl": "https://cassidoo.co/rss.xml",
            "htmlUrl": "https://cassidoo.co/",
            "rssfr-favicon": "https://icons.feedercdn.com/cassidoo.co"
        },
        {
            "title": "Chris Coyier",
            "type": "rss",
            "xmlUrl": "https://chriscoyier.net/feed/",
            "htmlUrl": "https://chriscoyier.net",
            "rssfr-favicon": "https://icons.feedercdn.com/chriscoyier.net"
        },
        {
            "title": "Cory Dransfeldt",
            "type": "rss",
            "xmlUrl": "https://coryd.dev/feeds/posts",
            "htmlUrl": "https://coryd.dev/",
            "rssfr-favicon": "https://icons.feedercdn.com/coryd.dev"
        },
        {
            "title": "Harry Roberts",
            "type": "rss",
            "xmlUrl": "https://feeds.feedburner.com/csswizardry",
            "htmlUrl": "https://csswizardry.com/",
            "rssfr-favicon": "https://icons.feedercdn.com/csswizardry.com",
            "blurb": "Performance wizard"
        },
        {
            "title": "Dave Rupert",
            "type": "rss",
            "xmlUrl": "https://daverupert.com/atom.xml",
            "htmlUrl": "http://daverupert.com",
            "rssfr-favicon": "https://icons.feedercdn.com/daverupert.com"
        },
        {
            "title": "David Darnes",
            "type": "rss",
            "xmlUrl": "https://darn.es/rss.xml",
            "htmlUrl": "https://darn.es",
            "rssfr-favicon": "https://icons.feedercdn.com/darn.es"
        },
        {
            "title": "Eric Bailey",
            "type": "rss",
            "xmlUrl": "https://ericwbailey.website/feed/feed.xml",
            "htmlUrl": "https://ericwbailey.website",
            "rssfr-favicon": "https://icons.feedercdn.com/ericwbailey.website"
        },
        {
            "title": "Eric Meyer",
            "type": "rss",
            "xmlUrl": "https://meyerweb.com/eric/thoughts/feed/?scope=full",
            "htmlUrl": "https://meyerweb.com/eric/thoughts",
            "rssfr-favicon": "https://icons.feedercdn.com/meyerweb.com"
        },
        {
            "title": "Ethan Marcotte",
            "type": "rss",
            "xmlUrl": "https://ethanmarcotte.com/wrote/feed.xml",
            "htmlUrl": "https://ethanmarcotte.com",
            "rssfr-favicon": "https://icons.feedercdn.com/ethanmarcotte.com"
        },
        {
            "title": "Henry Desroches",
            "type": "rss",
            "xmlUrl": "https://henry.codes/feed.xml",
            "htmlUrl": "https://henry.codes",
            "rssfr-favicon": "https://icons.feedercdn.com/henry.codes",
            "favicon-dark": true,
            "blurb": "As cool kids say: goals"
        },
        {
            "title": "Heydon Pickering",
            "type": "rss",
            "xmlUrl": "http://www.heydonworks.com/feed",
            "htmlUrl": "http://www.heydonworks.com",
            "rssfr-favicon": "https://icons.feedercdn.com/www.heydonworks.com",
            "favicon-dark": true,
            "blurb": "Don’t miss Webbed Briefs"
        },
        {
            "title": "Hidde deVries",
            "type": "rss",
            "xmlUrl": "https://hidde.blog/feed",
            "htmlUrl": "https://hidde.blog",
            "rssfr-favicon": "https://icons.feedercdn.com/hidde.blog"
        },
        {
            "title": "Jake Archibald",
            "type": "rss",
            "xmlUrl": "https://jakearchibald.com/posts.rss",
            "htmlUrl": "http://jakearchibald.com/",
            "rssfr-favicon": "https://icons.feedercdn.com/jakearchibald.com"
        },
        {
            "title": "Jeremy Keith",
            "type": "rss",
            "xmlUrl": "https://adactio.com/articles/rss",
            "htmlUrl": "https://adactio.com/articles/",
            "rssfr-favicon": "https://icons.feedercdn.com/adactio.com"
        },
        {
            "title": "Jim Nielsen",
            "type": "rss",
            "xmlUrl": "https://blog.jim-nielsen.com/feed.xml",
            "htmlUrl": "https://blog.jim-nielsen.com",
            "rssfr-favicon": "https://icons.feedercdn.com/blog.jim-nielsen.com"
        },
        {
            "title": "Katherine Yang",
            "type": "rss",
            "xmlUrl": "https://kayserifserif.place/feed.xml",
            "htmlUrl": "https://kayserifserif.place/",
            "rssfr-favicon": "https://icons.feedercdn.com/kayserifserif.place",
            "favicon-dark": true
        },
        {
            "title": "Keith J. Grant",
            "type": "rss",
            "xmlUrl": "https://keithjgrant.com/posts/index.xml",
            "htmlUrl": "https://keithjgrant.com/",
            "rssfr-favicon": "https://icons.feedercdn.com/keithjgrant.com"
        },
        {
            "title": "Lene Saile",
            "type": "rss",
            "xmlUrl": "https://www.lenesaile.com/en/feed.xml",
            "htmlUrl": "https://www.lenesaile.com/en/",
            "rssfr-favicon": "https://icons.feedercdn.com/www.lenesaile.com"
        },
        {
            "title": "Lynn Fisher",
            "type": "rss",
            "xmlUrl": "https://lynnandtonic.com/feed.xml",
            "htmlUrl": "https://lynnandtonic.com",
            "rssfr-favicon": "https://icons.feedercdn.com/lynnandtonic.com"
        },
        {
            "title": "Manuel Matuzović",
            "type": "rss",
            "xmlUrl": "https://www.matuzo.at/feed.xml",
            "htmlUrl": "https://matuzo.at",
            "rssfr-favicon": "https://icons.feedercdn.com/matuzo.at"
        },
        {
            "title": "Matthias Ott",
            "type": "rss",
            "xmlUrl": "https://matthiasott.com/feed",
            "htmlUrl": "https://matthiasott.com",
            "rssfr-favicon": "https://icons.feedercdn.com/matthiasott.com"
        },
        {
            "title": "Max Böck",
            "type": "rss",
            "xmlUrl": "https://mxb.dev/feed.xml",
            "htmlUrl": "https://mxb.dev",
            "rssfr-favicon": "https://icons.feedercdn.com/mxb.dev"
        },
        {
            "title": "Mayank",
            "type": "rss",
            "xmlUrl": "https://www.mayank.co/blog/rss.xml",
            "htmlUrl": "https://www.mayank.co/",
            "rssfr-favicon": "https://icons.feedercdn.com/www.mayank.co"
        },
        {
            "title": "Michelle Barker",
            "type": "rss",
            "xmlUrl": "https://css-irl.info/rss.xml",
            "htmlUrl": "https://css-irl.info",
            "rssfr-favicon": "https://icons.feedercdn.com/css-irl.info",
            "blurb": "CSS { In Real Life }"
        },
        {
            "title": "Miriam Eric Suzanne",
            "type": "rss",
            "xmlUrl": "https://www.miriamsuzanne.com/feed.atom",
            "htmlUrl": "https://www.miriamsuzanne.com/",
            "rssfr-favicon": "https://icons.feedercdn.com/www.miriamsuzanne.com"
        },
        {
            "title": "Nathan Knowler",
            "type": "rss",
            "xmlUrl": "https://knowler.dev/feed.xml",
            "htmlUrl": "https://knowler.dev/",
            "rssfr-favicon": "https://icons.feedercdn.com/knowler.dev"
        },
        {
            "title": "Nic Chan",
            "type": "rss",
            "xmlUrl": "https://www.nicchan.me/feed.xml",
            "htmlUrl": "https://www.nicchan.me/",
            "rssfr-favicon": "https://icons.feedercdn.com/www.nicchan.me"
        },
        {
            "title": "Remy Sharp",
            "type": "rss",
            "xmlUrl": "https://remysharp.com/blog.xml",
            "htmlUrl": "https://remysharp.com",
            "rssfr-favicon": "https://icons.feedercdn.com/remysharp.com"
        },
        {
            "title": "Robb Knight",
            "type": "rss",
            "xmlUrl": "https://rknight.me/subscribe/posts/rss.xml",
            "htmlUrl": "https://rknight.me",
            "rssfr-favicon": "https://res.cloudinary.com/chriskirknielsen/image/fetch/v1726836210/https://v1.indieweb-avatar.11ty.dev/https%253A%252F%252Frknight.me%252F/"
        },
        {
            "title": "Robb Owen",
            "type": "rss",
            "xmlUrl": "https://robbowen.digital/feed.xml",
            "htmlUrl": "http://robbowen.digital/",
            "rssfr-favicon": "https://icons.feedercdn.com/robbowen.digital"
        },
        {
            "title": "Robin Rendle",
            "type": "rss",
            "xmlUrl": "https://robinrendle.com/feed.xml",
            "htmlUrl": "https://robinrendle.com",
            "rssfr-favicon": "https://icons.feedercdn.com/robinrendle.com"
        },
        {
            "title": "Roman Komarov",
            "type": "rss",
            "xmlUrl": "https://feeds.feedburner.com/kizuruen",
            "htmlUrl": "https://www.kizu.ru/",
            "rssfr-favicon": "https://icons.feedercdn.com/www.kizu.ru",
            "blurb": "CSS tinkerer extraordinaire"
        },
        {
            "title": "Ryan Mulligan",
            "type": "rss",
            "xmlUrl": "https://ryanmulligan.dev/feed.xml",
            "htmlUrl": "https://ryanmulligan.dev/",
            "rssfr-favicon": "https://icons.feedercdn.com/ryanmulligan.dev"
        },
        {
            "title": "Salma Alam-Naylor",
            "type": "rss",
            "xmlUrl": "https://whitep4nth3r.com/feed.xml",
            "htmlUrl": "https://whitep4nth3r.com",
            "rssfr-favicon": "https://icons.feedercdn.com/whitep4nth3r.com"
        },
        {
            "title": "Sara Joy",
            "type": "rss",
            "xmlUrl": "https://sarajoy.dev/rss.xml",
            "htmlUrl": "https://sarajoy.dev/",
            "rssfr-favicon": "https://res.cloudinary.com/chriskirknielsen/image/fetch/v1726836210/https://v1.indieweb-avatar.11ty.dev/https%253A%252F%252Fsarajoy.dev%252F/"
        },
        {
            "title": "Sara Soueidan",
            "type": "rss",
            "xmlUrl": "https://www.sarasoueidan.com/blog/index.xml/",
            "htmlUrl": "https://sarasoueidan.com/",
            "rssfr-favicon": "https://icons.feedercdn.com/sarasoueidan.com",
            "blurb": "Accessibility and SVG expert"
        },
        {
            "title": "Scott Jehl",
            "type": "rss",
            "xmlUrl": "https://scottjehl.com/feed.xml",
            "htmlUrl": "https://scottjehl.com/",
            "rssfr-favicon": "https://icons.feedercdn.com/scottjehl.com"
        },
        {
            "title": "Sophie Koonin",
            "type": "rss",
            "xmlUrl": "https://localghost.dev/articles.xml",
            "htmlUrl": "https://localghost.dev/",
            "rssfr-favicon": "https://icons.feedercdn.com/localghost.dev"
        },
        {
            "title": "Stefan Judis",
            "type": "rss",
            "xmlUrl": "https://www.stefanjudis.com/rss.xml",
            "htmlUrl": "https://www.stefanjudis.com",
            "rssfr-favicon": "https://icons.feedercdn.com/www.stefanjudis.com"
        },
        {
            "title": "Stephanie Eckles",
            "type": "rss",
            "xmlUrl": "https://thinkdobecreate.com/feed/",
            "htmlUrl": "https://thinkdobecreate.com",
            "rssfr-favicon": "https://icons.feedercdn.com/thinkdobecreate.com"
        },
        {
            "title": "Stephanie Stimac",
            "type": "rss",
            "xmlUrl": "https://blog.stephaniestimac.com/feed/feed.xml",
            "htmlUrl": "https://blog.stephaniestimac.com",
            "rssfr-favicon": "https://icons.feedercdn.com/blog.stephaniestimac.com"
        },
        {
            "title": "Tyler Sticka",
            "type": "rss",
            "xmlUrl": "https://tylersticka.com/journal/feed.xml",
            "htmlUrl": "https://tylersticka.com/",
            "rssfr-favicon": "https://icons.feedercdn.com/tylersticka.com"
        },
        {
            "title": "Zach Leatherman",
            "type": "rss",
            "xmlUrl": "https://www.zachleat.com/web/feed/",
            "htmlUrl": "https://www.zachleat.com/web/",
            "rssfr-favicon": "https://icons.feedercdn.com/www.zachleat.com"
        }
    ],
    "Publications": [
        {
            "title": "9elements",
            "type": "rss",
            "xmlUrl": "https://9elements.com/blog/rss.xml",
            "htmlUrl": "https://9elements.com/blog/",
            "rssfr-favicon": "https://icons.feedercdn.com/9elements.com"
        },
        {
            "title": "Cloud Four",
            "type": "rss",
            "xmlUrl": "https://cloudfour.com/feed/",
            "htmlUrl": "https://cloudfour.com",
            "rssfr-favicon": "https://icons.feedercdn.com/cloudfour.com"
        },
        {
            "title": "CSS-Tricks",
            "type": "rss",
            "xmlUrl": "https://css-tricks.com/feed/",
            "htmlUrl": "https://css-tricks.com",
            "rssfr-favicon": "https://icons.feedercdn.com/css-tricks.com",
            "blurb": "It’s back!"
        },
        {
            "title": "Frontend Masters Boost",
            "type": "rss",
            "xmlUrl": "https://frontendmasters.com/blog/feed/",
            "htmlUrl": "https://frontendmasters.com/blog",
            "rssfr-favicon": "https://icons.feedercdn.com/frontendmasters.com"
        },
        {
            "title": "OddBird",
            "type": "rss",
            "xmlUrl": "https://www.oddbird.net/feed.atom",
            "htmlUrl": "https://www.oddbird.net/",
            "rssfr-favicon": "https://icons.feedercdn.com/oddbird.net"
        },
        {
            "title": "Piccalilli",
            "type": "rss",
            "xmlUrl": "https://piccalil.li/feed.xml",
            "htmlUrl": "https://piccalil.li/",
            "rssfr-favicon": "https://icons.feedercdn.com/piccalil.li"
        },
        {
            "title": "Smashing Magazine",
            "type": "rss",
            "xmlUrl": "https://www.smashingmagazine.com/feed/",
            "htmlUrl": "https://www.smashingmagazine.com",
            "rssfr-favicon": "https://icons.feedercdn.com/www.smashingmagazine.com"
        },
        {
            "title": "The Cascade",
            "type": "rss",
            "xmlUrl": "https://csscade.com/feed.xml",
            "htmlUrl": "https://csscade.com/",
            "rssfr-favicon": "https://icons.feedercdn.com/csscade.com"
        }
    ],
    "Aggregators": [
        {
            "title": "Codrops",
            "type": "rss",
            "xmlUrl": "https://tympanus.net/codrops/feed/",
            "htmlUrl": "https://tympanus.net/codrops",
            "rssfr-favicon": "https://icons.feedercdn.com/tympanus.net"
        },
        {
            "title": "Front-End Front",
            "type": "rss",
            "xmlUrl": "https://frontendfront.com/feed/stories",
            "htmlUrl": "https://frontendfront.com",
            "rssfr-favicon": "https://icons.feedercdn.com/frontendfront.com"
        },
        {
            "title": "That HTML Blog",
            "type": "rss",
            "xmlUrl": "https://thathtml.blog/feed.xml",
            "htmlUrl": "https://thathtml.blog/",
            "rssfr-favicon": "https://icons.feedercdn.com/thathtml.blog"
        },
        {
            "title": "Frontend Focus",
            "type": "rss",
            "xmlUrl": "https://cprss.s3.amazonaws.com/frontendfoc.us.xml",
            "htmlUrl": "https://frontendfoc.us/",
            "rssfr-favicon": "https://icons.feedercdn.com/frontendfoc.us"
        },
        {
            "title": "CSS Weekly",
            "type": "rss",
            "xmlUrl": "https://feeds.feedburner.com/CSS-Weekly",
            "htmlUrl": "https://css-weekly.com",
            "rssfr-favicon": "https://icons.feedercdn.com/css-weekly.com"
        },
        {
            "title": "Own Your Web",
            "type": "rss",
            "xmlUrl": "https://buttondown.com/ownyourweb/rss",
            "htmlUrl": "https://buttondown.com/ownyourweb",
            "rssfr-favicon": "https://icons.feedercdn.com/buttondown.com"
        }
    ]
}
---

<p>Here’s the list of blogs I follow (RSS never went away, <em>babeyyy</em>), from people I respect and admire — you’ll definitely find interesting stuff! <span class="hide-when-nojs">You can download an OPML file for each category to import into your RSS reader.</span> And if you’ve got suggestions, please do send them my way via <a href="{{ social.mastodon.url }}">Mastodon</a>.</p>
{% set blogIconSize = 32 %}
{% for group, blogs in blogroll %}
    {% set isFirstLoop = loop.first %}
    <h2 data-blogroll="{{ group }}">{{ group }} &times;{{ blogs | length }}</h2>
    <ul class="blogroll" style="--_tooltip-offset: 0px;">
        {% for blog in blogs | sort(false, false, 'title') %}
            <li class="blogroll-item">
                <a
                    href="{{ blog.htmlUrl }}"
                    class="link-label-anchor{% if blog.blurb %} tooltip{% endif %}"
                    rel="noopener noreferrer"
                    {% if blog.blurb %}data-tooltip-pos="start center"{% endif %}
                >
                    {%- if blog['rssfr-favicon'] %}
                        {%- set faviconbg %}{% if blog['favicon-dark'] %},b_white{% endif %}{% endset -%}
                        <img src="{{ blog['rssfr-favicon'] | toCloudinary('c_fill,w_'+blogIconSize+',h_'+blogIconSize+''+faviconbg+'/q_auto:eco') }}" width="{{blogIconSize}}" height="{{blogIconSize}}" class="inline-icon" alt="" {% if not isFirstLoop or loop.index > 24 %}loading="lazy"{% endif %}>
                    {% endif %}
                    <span class="link-label-text">{{ blog.title }}</span>
                    {%- if blog.blurb -%}<span class="tooltip-content">{{ blog.blurb }}</span>{%- endif -%}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
{% if not metadata.nakedCss %}
<style>
    .blogroll {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 12em), 1fr));
        gap: 0.25em 1em;
        list-style-type: '';
    }
    .blogroll-item a {
        display: inline-flex;
        align-items: center;
        gap: 0.5em;
    }
</style>
{% endif %}

{% if not metadata.nakedJs %}
<script>(function(){
    const blogroll = {{ blogroll | dump | safe }};
    const safeAttrUrl = (url) => url.replace(/(&)+/g, '&amp;').replace(/(")+/g, '&quot;');
    Array.from(document.querySelectorAll('[data-blogroll]')).forEach((h2) => {
        const groupLabel = h2.getAttribute('data-blogroll');
        const groupBlogs = blogroll[groupLabel];
        const xml = `<?xml version="1.0" encoding="UTF-8"?>
        <opml version="1.0">
            <head><title>chriskirknielsen's blogroll - ${groupLabel}</title></head>
            <body>
                ${groupBlogs.map((b) => `<outline text="${safeAttrUrl(b.title)}" title="${safeAttrUrl(b.title)}" type="${safeAttrUrl(b.type)}" xmlUrl="${safeAttrUrl(b.xmlUrl)}" htmlUrl="${safeAttrUrl(b.htmlUrl)}" />`).join('')}
            </body>
        </opml>`;
        const download = Object.assign(document.createElement('a'), { href: `data:text/xml,${encodeURI(xml)}`, download: `chriskirknielsen-blogroll-${groupLabel.toLowerCase()}.opml`, innerText: '(.opml)', ariaLabel: 'download as OPML file' });
        h2.append(' ', download);
    });
})();</script>
{% endif %}