---js
{
    title: 'Colophon',
    summary: "How did this get here?",
    ogImageSummary: "How this website’s made",
    permalink: '/colophon/',
    toc: true,
    tags: ['_og'],
    eleventyComputed: {
        customMetaImage: function (data) {
            if (data.permalink) {
                return this.toOgImage(data);
            }
            return this.toPath([data.assets.images, 'metaimage.jpg']);
        }
    },
}
---

{{ echo |> markdown }}
## Tech Stack

### Build
This site is built with [Eleventy](https://www.11ty.dev/), a simple static site generator that packs some serious punch. I’ve got a pre-build step to process my design tokens, bundle my CSS partials with [LightningCSS](https://lightningcss.dev/) (no Sass!), and minify JS with [ESBuild](https://esbuild.github.io/).

Font scales are calculated with [Utopia](https://utopia.fyi/type/calculator/), the base shadow styles are generated via Josh Comeau’s [Shadow Palette](https://www.joshwcomeau.com/shadow-palette/), and the bouncy theme menu opening animation is built via Jake Archibald’s [Linear Easing Generator](https://linear-easing-generator.netlify.app/).

Outside the build, I use [SVGOMG](https://jakearchibald.github.io/svgomg/) to optimise SVGs, and [Glyphhanger](https://github.com/zachleat/glyphhanger) to subset my fonts. You can view the [source code on GitHub](https://github.com/chriskirknielsen/dotcom-2024/) to see how it’s all set up. I only ask that you don’t steal my code and slap your own name on it.

### Hosting & Domain
The hosting is provided by [Netlify](http://netlify.com/) and the domain is registered with [Namecheap](https://www.namecheap.com), though I’m thinking of switching to something else next time renewal rolls around!

### Synthesizer
The synth on the [About page](/about/) is based on [Bret Cameron’s tutorial](https://css-tricks.com/how-to-code-a-playable-synth-keyboard/), and extended with envelope shaping and lowpass filtering by peeking at [Daniel Schulz’s code](https://iamschulz.com/building-a-synthesizer-in-javascript/).

### Gaming Library
The [Gaming Library page](/games/library/) is built with a couple of APIs: [Notion’s API](https://developers.notion.com/), and [psn-api](https://psn-api.achievements.app/). The data is cached with `AssetCache` from [eleventy-fetch](https://www.11ty.dev/docs/plugins/fetch/). I have a [full write-up](/blog/leverage-api-like-notion-with-cache) if you want more info!

## Themes
My website has distinct themes with distinct typefaces (some paid, some free) and visuals, making it, in effect, my very own [CSS Zen Garden](https://csszengarden.com/). You’ll find some more details below for each theme (the Dusk, Campfire and Cyberpunk themes are remixes of themes from my website’s previous version, so they may look familiar), but if you still have questions, please feel free to ask!

First off, the homepage wordmark for my name is a custom edit of the [Sprat typeface](https://www.collletttivo.it/typefaces/sprat) with everything tightened up and minor corrections. When I first saw it, I knew I had to use it: it’s got a vibe reminiscent of Stephen King books and other designs using [ITC Benguiat](https://fontsinuse.com/typefaces/1682/itc-benguiat) (you know, the Stranger Things logo!). The reveal animation is very simple but does the trick and is pretty performant compared to the [last version](/archives/)!
{{ /echo }}

<p>Also, I used a handful of SVG icons from <a href="https://lucide.dev/icons/">Lucide</a>, listed here:
{{> let loopIndex = 0 }}
{{ for name, icon of tokens._meta.icons.lucide.used }}
    {{> loopIndex++ }}
    {{ if loopIndex === Object.keys(tokens._meta.icons.lucide.used).length }}and {{ /if }}
    <span class="icon-text-pair">{{ svg name, { class: 'inline-icon inline-icon--center linecap-auto' } }} <code>{{ icon }}</code></span>
    {{- if loopIndex === Object.keys(tokens._meta.icons.lucide.used).length }}.{{ else }},{{ /if }}
{{ /for }}
I also took a few from <a href="https://iconsvg.xyz/">IconSVG.xyz</a>:
{{> loopIndex = 0 }}
{{ for name, icon of tokens._meta.icons.iconsvgxyz.used }}
    {{> loopIndex++ }}
    {{ if loopIndex === Object.keys(tokens._meta.icons.iconsvgxyz.used).length }}and {{ /if }}
    <span class="icon-text-pair">{{ svg name, { class: 'inline-icon inline-icon--center linecap-auto' } }} <code>{{ icon }}</code></span>
    {{- if loopIndex === Object.keys(tokens._meta.icons.iconsvgxyz.used).length }}.{{ else }},{{ /if }}
{{ /for }}
(other icons like themes or the super complicated hamburger menu, I made myself)
</p>

{{ callout "Keyboard user?", "⌨️", { mode: 'markup', class: 'hide-when-nojs' } }}
<p>If you are using a keyboard with JS enabled, you can press a number key to activate the corresponding theme based on the theme picker order (the <kbd>0</kbd> key and current theme index {{ for i, t of [].concat(themes,[{key:'custom'}]) }}<kbd data-theme-condition="{{ t.key }}">{{ i+1 }}</kbd>{{ /for }} will revert to the system light/dark default).</p>
{{ /callout }}

{{ set themeDetails = {
    'Dawn': "The default Light Mode theme is set in [Canela Bold](https://type.today/en/canela) for headings and overall is aiming for some vintage print design, hence the off-white background and sharp red contrasting headings, going for an old book that’s sat in the sun too long kind of feel. (ironically enough, I sampled some colours from a gorgeous [OmniChord OM84](http://www.suzukimusic.co.uk/products/omnichord/index.html) electronic instrument)",

    'Vapor': "This vaporwave theme tries to stay minimal while being loud with colours. The headings are set in [Xahn Mono Italic](https://fonts.google.com/specimen/Xanh+Mono) with exaggerated tracking, a serif-monospace hybrid that looks lovely.",

    'Vintage': "Who doesn’t love some gold-and-burgundy colours? Old school computers and gaming consoles had those vibes going, and the Nintendo Famicom especially… which inspired most of this theme. Using a very Swiss-like typeface for headings aptly named [Switzer](https://www.fontshare.com/fonts/switzer) as the Nintendo font is a little chonky and perhaps copyrighted!",
    
    'Quill': "This is my peace-and-quiet theme. It uses [Instrument Serif](https://fonts.google.com/specimen/Instrument+Serif) (previously [Gambarino](https://www.fontshare.com/fonts/gambarino)) for headings, reminiscent of Apple’s Garamond Condensed, and is very desaturated, nearly black-on-white-but-not-fully. The footer illustrations are from [Hamonshū](https://archive.org/search.php?query=creator%3A%22Mori%2C+Yu%CC%84zan%2C+-1917%22), that I only know of thanks to [Eric Meyer](https://meyerweb.com/), who uses those exquisitely well on his website. I also took a page out of Sara Soueidan’s book with the `<hr>` element, so I guess this theme is for homages!",
    
    'Dusk': "The default Dark Mode theme is set in [MD Nichrome Bold](https://mass-driver.com/typefaces/md-nichrome), which has that sci-fi look I’m after (it look me a while to settle on it after testing several matches!). The neon glow from buttons and the synthwave-y `<hr>` (horizontal rule, horizon… get it?) elements are pretty cool, and the footer just… belongs.",
    
    'Cyberpunk': "The cyberpunk aesthetic is pretty fascinating, and the game Cyberpunk 2077 made great use of that. So I made great use of that game’s interface, reusing the same [Rajdhani](https://fonts.google.com/specimen/Rajdhani) typeface and other visual cues. I drew a little nonsensical circuitboard for the footer, it looks right at home.",
    
    'Campfire': "I want to be more outdoorsy, but living in a city, this will have to do for now, with a theme heavily inspired by US national parks and more specifically, the art for the Firewatch video game by [Olly Moss](http://ollymoss.com/#/firewatch/). I used the [Chinook](https://fontesk.com/chinook-font/) typeface to get the soft serif vibe I was after, and made a vector landscape of Mont Blanc, the mountain peak close to my hometown of Lyon, in France. ([Alistair](https://alistairshepherd.uk/) did something similar, but like, way better)",
    
    'Director': "If you’ve every played Control, this one will seem familiar. It draws from the game’s look and feel (brutalist with hints of colour), and the inverted pyramids. The headings are set in [OPTI Auvant Gothic](https://www.ffonts.net/OPTIAuvantGothic-Bold.font) (sorry only shady sites exists for this font), a close match to the original ITC Avant-Garde Gothic used in the game."
} }}

{{# The markdown lib handles the auto-linking of headings, but also screws up injected Nunjucks, so this bastardly approach below solves both problems, at the cost of maintaining the text content in an object above… #}}
{{ for tName, tDetails of themeDetails }}
    {{ set tKey = tName |> toLowerCase }}
    {{- ('### '+ tName) |> markdown }}
    <p>
        {{ component 'cta', {
            type: 'button',
            label: { aria: 'Toggle '+tName+' theme' },
            ctaAttr: 'data-theme-set="'+tKey+'"',
            ctaClass: 'button hide-when-nojs',
            icon: 'theme-'+tKey
        } }}
        {{ tDetails |> markdown(true) }}
    </p>
{{ /for }}

<div>
    <ul class="flex-list flex-list--center | img-88x31-list">
        <li>
            <!-- Made by leap123: https://front-end.social/@leap123@wetdry.world/111641069489695533 -->
            <a href="https://11ty.dev" class="display-block"><img src="{{ [assets.images, 'made-with-11ty.gif'] |> toPath }}" alt="Made with Eleventy." loading="lazy" width="88" height="31"></a>
        </li>
        <li>
            <img src="{{ [assets.images, 'ckn-html5-lgtm.gif'] |> toPath }}" alt="Chris’s Seal of Approval: HTML5 looks good to me" loading="lazy" width="88" height="31">
        </li>
        <li>
            <img src="{{ [assets.images, 'ckn-css-lgtm.gif'] |> toPath }}" alt="Chris’s Seal of Approval: CSS looks good to me" loading="lazy" width="88" height="31">
        </li>
        <li>
            <a href="http://validator.w3.org/feed/check.cgi?url=https%3A//chriskirknielsen.com/rss.xml" class="display-block"><img src="{{ [assets.images, 'rss-atom-valid.png'] |> toPath }}" alt="Valid Atom 1.0" loading="lazy" width="88" height="31"></a>
        </li>
    </ul>
</div>

{{ if !metadata.nakedJs }}
<script>
document.addEventListener('click', (e) => {
    const inlineSetter = e.target.closest('main [data-theme-set]');
    if (!inlineSetter) { return; }
    const theme = inlineSetter.getAttribute('data-theme-set')
    const picker = document.querySelector('theme-picker');
    picker.querySelector(`[data-theme-set="${theme}"]`).click();
});
</script>
{{ /if }}