---js
{
	title: 'Contact',
	summary: 'How to reach me',
	permalink: '/contact/',
	tags: ['_og'],
}
---

<p class="textAlign-center fontSize-large">👋</p>

<p>You can find <a href="#footer-email-link">my email address in the footer</a>, or you can find <a href="{{ social.mastodon.url }}">me on Mastodon</a>. While I am also on LinkedIn for <em>Professional Reasons™</em>, I don’t use it all that often.</p>