---
permalink: /da/
title: Dansk hjemmeside?
lang: da
layout: 'page.vto'
---

<p>Undskyld, men på grund af jeg ikke virkelig bruger dansk på nettet som kommunikationsmetode, så er der ikke meget interesse for (eller bruge for) en dansk version af min webside. Hvis du har spørgsmål, sig til med email eller på Mastodon, så skal jeg meget gerne svar! Tak skal du hav.</p>