---js
{
	tags: ['_designs'],
	pagination: {
		data: 'designs',
		size: 1,
		alias: 'design',
		addAllPagesToCollections: true,
		before: function(paginationData, fullData) {
			paginationData.sort((a,b) => new Date(a.date) - new Date(b.date));
			return paginationData;
		}
	},
	eleventyComputed: {
		permalink: function (data) { return `designs/${this.slugify(data.design.slug)}/`; },
		pageTitle: (data) => data.design.name,
		title: (data) => data.design.name,
		summary: (data) => data.design.description,
		customMetaImage: (data) => `/${data.assets.images}/designs/${data.design.img}`,
		date: (data) => new Date(data.design.date),
	},
	heroCta: [{ url: "/designs/#filter:__restore__", label: "Back to Designs", icon: "arrow-left", iconBefore: true }]
}
---

<div class="fifty-fifty">
	{% if design.img %}
	<div>
		<img src="{{ [assets.images, 'designs', design.img] | toPath | toNetlifyImage }}" alt="" width="600" height="600" class="design-single single-media | inline-size-100pc">
	</div>
	{% endif %}

	<div class="flow">
		{% if design.links %}
			<h2>Available on</h2>
			<ul class="flow">
				{%- for site, url in design.links %}
				<li><a href="{{ url }}">{{ site }}</a></li>
				{% endfor -%}
			</ul>
		{% endif %}

		{% if design.note %}
			<p class="fontStyle-italic fontSize-smaller">{{ design.note | markdown(true) | safe }}</p>
		{% endif %}
		
		{% if design.variant %}
			<h2 class="h3">Variant{% if (design.variant | length) != 1 %}s{% endif %}</h2>
			<ul class="flow">
				{%- for variantSlug in design.variant %}
					{% set variantDesign = designs | find('slug', variantSlug) %}
					<li>
						<a href="{{ ['designs', (variantDesign.slug | slugify)] | toPath }}/">
							<span class="tooltip" data-tooltip-flow="inline" data-tooltip-pos="start center">
								{{ variantDesign.name | safe }}

								<span class="tooltip-content">
									<img src="{{ [assets.images, 'designs', variantDesign.img] | toPath | toNetlifyImage({ w: 150 }) }}" alt="" width="150" height="150">
								</span>
							</span>
						</a>
					</li>
				{% endfor -%}
			</ul>
		{% endif %}
		
		{% if design.similar %}
			<h2 class="h3">Similar designs</h2>
			<ul class="flow">
				{%- for otherDesignSlug in design.similar %}
					{% set otherDesign = designs | find('slug', otherDesignSlug) %}
					<li>
						<a href="{{ ['designs', (otherDesign.slug | slugify)] | toPath }}/">
							<span class="tooltip" data-tooltip-flow="inline" data-tooltip-pos="start center">
								{{ otherDesign.name | safe }}

								<span class="tooltip-content">
									<img src="{{ [assets.images, 'designs', otherDesign.img] | toPath | toNetlifyImage({ w: 150 }) }}" alt="" width="150" height="150">
								</span>
							</span>
						</a>
					</li>
				{% endfor -%}
			</ul>
		{% endif %}
	</div>
</div>