---js
{
	title: 'Elsewhere',
	summary: 'Where else have I published stuff?',
	permalink: '/elsewhere/',
	tags: ['_og'],
}
---

{{ set externalPosts = collections._posts.filter(p => p.data.externalHost) }}
{{ component 'postlist', { postlist: externalPosts, ungrouped: true, directToExternal: true, showExternalIcon: true } }}