---
title: Gaming Library
summary: Dang, I've played a lot of games, eh?
permalink: /games/library/
section: games
heroCta: [{ label: "/games", url: "/games" }, { label: "PSN Profile", url: "https://psnprofiles.com/JaKhris" }]
platformLabels: {
    'PS5': 'PlayStation 5',
    'PS4': 'PlayStation 4',
    'PS3': 'PlayStation 3',
    'PS2': 'PlayStation 2',
    'PS1': 'PlayStation',
    'PSV': 'PS Vita',
    'PSP': 'PlayStation Portable',
    'Dreamcast': 'Dreamcast'
}
---

{% renderTemplate 'md' %}Drawing _a little_ inspiration from [Robb Knight's list](https://rknight.me/collections/games/) (although I took the easy route with the spines instead of cover art…), here's my (mostly accurate) collection of video games (many of which are collecting something of their own: dust!). [Want to know how I made this?](/colophon/#gaming-library){% endrenderTemplate %}

<hr>

<div class="grouper grouper--wrap grouper--toolbar" data-formlike data-gaming-toolbar hidden>
    <button type="button" class="expander-button button" data-games-toggled aria-pressed="false">
        <span class="expander-button-arrow" aria-hidden="true"></span>
        Toggle All
    </button>
    
    <div>
        <label for="spine-sizing" class="fontWeight-bold">Size:</label>
        <select id="spine-sizing" data-games-sizing>
            <option value="sm">Smaller</option>
            <option value="md" selected>Standard</option>
            <option value="lg">Larger</option>
        </select>
    </div>
</div>

{# {% set glyphList = '' %} #}
{% for platform, games in gameslibrary | groupby('platform') | dictsort | sortentries(platformLabels | keys) %}
    {% set platformSlug = platform | lower | replace(' ', '-') %}
    {% setAsync 'expanderLabel' %}
        {% svg 'gaming-'+platformSlug, { class: 'gaming-logo inline-icon inline-icon--middle' } %}
        {{ platformLabels[platform] }} ({{ games | length }})
    {% endsetAsync %}
    {% expander expanderLabel %}
        <ul class="gaming-platform-group" data-gaming-platform="{{ platformSlug }}">
            {% for game in games | sort(false, false, 'sortTitle') %}
                <li
                    class="gaming-spine"
                    {% if game.edition in ['Essentials', 'Platinum'] %}data-gaming-edition="{{ game.edition | lower | replace(' ', '-') }}"{% endif %}
                    {% if platformSlug == 'ps3' %}data-gaming-branding="{{ 'old' if game.year < 2009 else 'new' }}"{% endif %}
                    data-game="{{ game | dump | escape }}"
                >
                    {# {% set glyphList = [glyphList, game.title] | join %} #}
                    <div class="gaming-spine-paper">
                        <div class="gaming-spine-top">
                            {% if platformSlug == 'ps3' %}
                                {% if game.year < 2009 %}
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="32"
                                        height="32"
                                        viewBox="0 0 32 32"
                                        class="gaming-spine-logo"
                                        aria-hidden="true"
                                    ><use xlink:href="#gaming-old-{{ platformSlug }}-logo" width="32" height="32"></use></svg>
                                {% else %}
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="32"
                                        height="64"
                                        viewBox="0 0 32 64"
                                        class="gaming-spine-logo"
                                        aria-hidden="true"
                                    ><use xlink:href="#gaming-new-{{ platformSlug }}-logo" width="32" height="64"></use></svg>
                                {% endif %}
                            {% elseif platformSlug == 'psv' %}
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="32"
                                    height="80"
                                    viewBox="0 0 32 80"
                                    class="gaming-spine-logo-extra"
                                    aria-hidden="true"
                                ><use xlink:href="#gaming-vertical-{{ platformSlug }}-logo"></use></svg>
                            {% else %}
                                {% set displayLogo = 'ps1' if (platformSlug in ['ps2', 'psp']) else platformSlug %}
                                {% if platformSlug in ['ps4', 'ps5'] %}{% set displayLogo = 'solid-ps1' %}{% endif %}
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="32"
                                    height="32"
                                    viewBox="0 0 32 32"
                                    class="gaming-spine-logo"
                                    aria-hidden="true"
                                ><use xlink:href="#gaming-{{ displayLogo }}-logo" width="32" height="32"></use></svg>
                                {% if platformSlug in ['ps2'] %}
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="32"
                                        height="154.4"
                                        viewBox="0 0 32 154.4"
                                        class="gaming-spine-logo-extra"
                                        aria-hidden="true"
                                    ><use xlink:href="#gaming-vertical-{{ platformSlug }}-logo"></use></svg>
                                {% elseif platformSlug in ['ps4', 'ps5', 'psp'] %}
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="32"
                                        height="64"
                                        viewBox="0 0 32 64"
                                        class="gaming-spine-logo-extra"
                                        aria-hidden="true"
                                    ><use xlink:href="#gaming-vertical-{{ platformSlug }}-logo"></use></svg>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="gaming-spine-label" style="--spine-title-scale: {{ game.title | sizeFactor }}"><span>{{ game.title | replace("'", '’') }}</span></div>
                        {# {% if game.year %} ({{ game.year }}){% endif %} #}
                        {# {% if game.edition and game.edition != game.title %}— {{ game.edition }}{% endif %} #}
                        {# {% if (game.subItems | length) > 0 %} (includes {{ game.subItems | length }} games){% endif %} #}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endexpander %}
{% endfor %}
{# <textarea>{{ glyphList.split('') | unique | join }}</textarea> #}

<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="visually-hidden">
    <g id="icon-psn-trophy">
        <path fill="none" d="M0 0h24v24H0z" />
        <path fill="currentColor" d="M23.15 6.14a3.53 3.53 0 0 0-3.53-3.53H4.38A3.53 3.53 0 0 0 .85 6.14c0 3.71 4.16 6.72 7.87 6.72l.7 3.16H6.68l-.73 5.37h12.12l-.73-5.37h-2.76l.71-3.16c3.71 0 7.87-3.01 7.87-6.72Zm-5.69-.97s3.05-1.02 3.05 1.56c0 2.62-4.15 3.36-4.15 3.36l1.1-4.92ZM3.5 6.73c0-2.58 3.05-1.56 3.05-1.56l1.1 4.92S3.5 9.35 3.5 6.73Z"/>
    </g>
</svg>

<template id="gaming-details-dialog-template" data-trophy-svg-id="icon-psn-trophy">
    <div class="gaming-details-dialog-inner flow" style="--flow-space: var(--size-s);">
        <div class="grouper grouper--toolbar">
            <h2>
                <img src="" alt="" data-slot="trophyIcon" data-slot-img="trophyIcon" aria-hidden="true" height="64" width="">
                <span data-slot="title"></span>
            </h2>

            {% component 'cta', {
                icon: 'close',
                label: { aria: 'Close' },
                ctaClass: 'gaming-details-dialog-close',
                ctaAttr: 'data-hide-game-info autofocus'
            } %}
        </div>
        
        <p style="--flow-space: 0px;">
            <span data-slot="edition" class="fontStyle-italic" style="--flow-space: var(--size-2xs);" hidden></span>
            <span data-slot-show="year" class="font-reset fontSize-small">(<span data-slot="year"></span>)</span>
        </p>

        <dl>
            <dt class="grouper grouper--icon-text-pair">
                {% svg 'world', { class: 'inline-icon' } %}
                <span>Region:</span>
            </dt>
            <dd data-slot="region"></dd>
            
            <dt class="grouper grouper--icon-text-pair">
                {% svg 'controller', { class: 'inline-icon' } %}
                <span>Platform:</span>
            </dt>
            <dd>
                <span data-slot="platform"></span>
                (<span data-slot-computed="format"></span>)
            </dd>

            <dt data-slot-show="dlc" class="grouper grouper--icon-text-pair">
                {% svg 'added', { class: 'inline-icon' } %}
                <span>DLC:</span>
            </dt>
            <dd data-slot="dlc"></dd>

            <dt class="grouper grouper--icon-text-pair">
                {% svg 'checkbox', { class: 'inline-icon linecap-auto' } %}
                <span>Completed:</span>
            </dt>
            <dd>
                <input type="checkbox" aria-hidden="true" data-slot-checkbox="completed">
                <span data-slot-computed="completed"></span>
            </dd>

            <dt data-slot-show="trophyEarned" class="grouper grouper--icon-text-pair">
                {% svg 'trophy', { class: 'inline-icon linecap-auto' } %}
                <span>Trophies:</span>
            </dt>
            <dd data-slot-show="trophyEarned" data-slot-computed="trophyEarned"></dd>

            <dt data-slot-show="subItems" class="grouper grouper--icon-text-pair">
                {% svg 'subfolders', { class: 'inline-icon linecap-auto' } %}
                <span>Includes:</span>
            </dt>
            <dd data-slot-show="subItems" data-slot-computed="subItems"></dd>
        </dl>
    </div>
</template>
<dialog id="gaming-details-dialog" class="gaming-details-dialog"></dialog>

{% js 'foot-gameslibrary' %}{% include 'assets/js/gaming-library.js' %}{% endjs %}