---
layout: content.njk
gridBlockGutter: 2
section: home
permalink: "/"
title: Home
summary:  "Welcome to the personal website of the one they call Christopher Kirk-Nielsen,  a creative developer with zero awards who is, in fact, a CSS nerd"
---

<h1 class="homepage-logo | content-wide">
	<div class="homepage-logo-circles" aria-hidden="true" preserveAspectRatio="xMidYMid">
		<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
			<g class="homepage-logo-circle--deco" fill="none">
				<g data-theme-condition="dawn" stroke-linecap="round" style="--CTX-factor: 5;">
					{# Longer lines #}
					<g data-deco-anim="path" style="--CTX-delay: 0;">
						<path pathLength="1" d="M50 6.05v-5"/>
						<path pathLength="1" d="M34.96 8.7 33.25 4"/>
						<path pathLength="1" d="m21.73 16.34-3.22-3.83"/>
						{# <path pathLength="1" d="m11.91 28.04-4.33-2.5"/> #}
						{# <path pathLength="1" d="m6.69 42.39-4.93-.87"/> #}
						{# <path pathLength="1" d="m6.69 57.67-4.93.87"/> #}
						{# <path pathLength="1" d="m11.91 72.02-4.33 2.5"/> #}
						<path pathLength="1" d="m21.73 83.72-3.22 3.83"/>
						<path pathLength="1" d="m34.96 91.36-1.71 4.7"/>
						<path pathLength="1" d="M50 94.01v5"/>
						<path pathLength="1" d="m65.04 91.36 1.71 4.7"/>
						<path pathLength="1" d="m78.27 83.72 3.22 3.83"/>
						{# <path pathLength="1" d="m88.09 72.02 4.33 2.5"/> #}
						{# <path pathLength="1" d="m93.31 57.67 4.93.87"/> #}
						{# <path pathLength="1" d="m93.31 42.39 4.93-.87"/> #}
						{# <path pathLength="1" d="m88.09 28.04 4.33-2.5"/> #}
						<path pathLength="1" d="m78.27 16.34 3.22-3.83"/>
						<path pathLength="1" d="M65.04 8.7 66.75 4"/>
					</g>

					{# Shorter lines #}
					<g data-deco-anim="path" style="--CTX-delay: 3;">
						<path pathLength="1" d="m42.36 6.72-.44-2.53"/>
						<path pathLength="1" d="m28.01 11.94-1.28-2.22"/>
						<path pathLength="1" d="m16.31 21.76-1.97-1.65"/>
						{# <path pathLength="1" d="m8.67 34.99-2.41-.88"/> #}
						{# <path pathLength="1" d="M6.02 50.03H3.46"/> #}
						{# <path pathLength="1" d="m8.67 65.07-2.41.88"/> #}
						<path pathLength="1" d="m16.31 78.3-1.97 1.65"/>
						<path pathLength="1" d="m28.01 88.12-1.28 2.22"/>
						<path pathLength="1" d="m42.36 93.34-.44 2.53"/>
						<path pathLength="1" d="m57.64 93.34.44 2.53"/>
						<path pathLength="1" d="m71.99 88.12 1.28 2.22"/>
						<path pathLength="1" d="m83.69 78.3 1.97 1.65"/>
						{# <path pathLength="1" d="m91.33 65.07 2.41.88"/> #}
						{# <path pathLength="1" d="M93.98 50.03h2.56"/> #}
						{# <path pathLength="1" d="m91.33 34.99 2.41-.88"/> #}
						<path pathLength="1" d="m83.69 21.76 1.97-1.65"/>
						<path pathLength="1" d="m71.99 11.94 1.28-2.22"/>
						<path pathLength="1" d="m57.64 6.72.44-2.53"/>
					</g>
				</g>
			</g>

			<circle class="homepage-logo-circle--outer" stroke-width="1" cx="50" cy="50" r="42"/>
			<circle class="homepage-logo-circle--inner" stroke-width="1" cx="50" cy="50" r="40"/>

			<g class="homepage-logo-circle--deco" fill="none">
				<g data-theme-condition="dusk">
					<g fill="var(--HOME-logo-bg)" style="--CTX-factor: 2; --CTX-from: scaleY(0.0001);">
						<path data-deco-anim style="--CTX-delay: 0;" d="M50 6h7v25H50z"/>
						<path data-deco-anim style="--CTX-delay: 1;" d="M36 12h10v19H36z"/>
						<path data-deco-anim style="--CTX-delay: 2;" d="M58 15h11v16H58z"/>
						<path data-deco-anim style="--CTX-delay: 3;" d="M65 23h7v8h-7z"/>
						<path data-deco-anim style="--CTX-delay: 4;" d="M42 18h12v13H42z"/>
						<path data-deco-anim style="--CTX-delay: 5;" d="M27 21h10v10H27z"/>
					</g>

					<g fill="none" style="--CTX-from: scaleX(0.00001);">
						<path data-deco-anim style="--CTX-delay: 5;" d="M21.37 73.48h57.26"/>
						<path data-deco-anim style="--CTX-delay: 6;" d="M74.2 77.88H25.8"/>
						<path data-deco-anim style="--CTX-delay: 7;" d="M67.67 82.28H32.33"/>
						<path data-deco-anim style="--CTX-delay: 8;" d="M55.36 86.69H44.64"/>
					</g>
				</g>

				<g data-theme-condition="cyberpunk" stroke="var(--HOME-logo-text-color)">
					<path d="M18.1 25.8h5.8l4.5-4.5h21.5"/>
					<path d="M33.3 23.5h21.5l2.3-2.2h4.5l2.3 2.2h16.2M75.3 19h-8.2l-2.3-2.3h-9L53.5 19H41.6l-2.2-2.3H27.7m10.8-5.1 2.9 2.9h27.1m13.3 11.3h-20l-1.7-1.7"/>
					<circle cx="50.6" cy="21.3" r=".7"/>
					<circle cx="32.6" cy="23.5" r=".7"/>
					<circle cx="43.6" cy="85.1" r=".7"/>
					<circle cx="54.6" cy="83.2" r=".7"/>
					<circle cx="35.7" cy="78.7" r=".7"/>
					<circle cx="59.6" cy="23.5" r=".7"/>
					<path d="M18.1 74.1h21.2l4.5 4.6h16.4l2.1-2.2h17.6m-57.8 2.2h12.8m43 0h-8.6l-4.5 4.5h-9.5m8 4.5h-9.5L47 80.9h-6l-2.3 2.3h-11"/>
					<path d="M36.7 87.7H41l2.1-2.1m9.4-6.9 4.5-4.5h24.8"/>
				</g>

				{# <path data-theme-condition="campfire" fill="none" d="m19.4 29.5 9.6-6.9 3.7 2.6 5.7-4 1.6 1.1 4.7-3.4 2.7 2 8.1-5.8 11 7.8 2.5-1.8 11.7 8.4"/> #}
				<g data-theme-condition="campfire" stroke-width="0" style="--CTX-factor: 2; --CTX-from: translateY(33%)">
					<g data-deco-anim style="--CTX-delay: 1;">
						<path fill="var(--HOME-logo-bg)" d="M79.4 29.4 67.6 13.8l-2.5 3.3L54.2 2.6l-8.1 10.8-2.8-3.6-6 8"/>
						<path fill="var(--HOME-logo-line-color)" d="M79.4 29.4 67.6 12.8 65.2 16l-11-14.6L46 12.5l-2.7-3.4-6 8.7 6-7.4 2.7 3.8 8.2-10.4 11 14.4 2.4-3.3 11.8 14.5z"/>
					</g>
					<g data-deco-anim style="--CTX-delay: 0;">
						<path fill="var(--HOME-logo-bg)" d="M42.9 21.7 37.1 14l-5.7 7.5-3.7-4.8-9.6 12.8"/>
						<path fill="var(--HOME-logo-line-color)" d="m37.1 14.6 5.8 7.1-5.8-8.4-5.7 7-3.7-4.8-9.6 14 9.6-11.6 3.7 4.8 5.7-8.1z"/>
					</g>

					<path fill="var(--HOME-logo-line-color)" d="M38.3 85.6a39 39 0 0 0 23.4 0s-11.2-2.5-11.3-5c0-1.6 6.3-1.6 6.3-2.7 0-2.4-12.8-.2-12.8-1.2 0-.8 8.8 0 8.8-.7 0-.6-2.7-.5-2.7-.5s1.7.2 1.7.4c0 .3-8.8-.9-8.8 1.1 0 2.7 11.5-.4 11.5.8 0 1.3-15.9-.9-16.1 7.8Z"/>
				</g>

				<g data-theme-condition="director" stroke-width="1.5" fill="var(--HOME-logo-bg)" stroke="var(--HOME-logo-line-color)" style="--CTX-easing: cubic-bezier(.45,1.4,0,.9); --CTX-from: translateY(-20px);">
					<path data-deco-anim style="--CTX-delay: 6;" d="M39.53 71.43 50 87.96l10.47-16.53"/>
					<path data-deco-anim style="--CTX-delay: 5;" d="M41.12 71.43 50 85.45l8.88-14.02"/>
					<path data-deco-anim style="--CTX-delay: 4;" d="M42.72 71.43 50 82.93l7.28-11.5"/>
					<path data-deco-anim style="--CTX-delay: 3;" d="M44.31 71.43 50 80.42l5.69-8.99"/>
					<path data-deco-anim style="--CTX-delay: 2;" d="M45.9 71.43 50 77.9l4.1-6.47"/>
					<path data-deco-anim style="--CTX-delay: 1;" d="M47.49 71.43 50 75.39l2.51-3.96"/>
					<path data-deco-anim style="--CTX-delay: 0;" d="m49.09 71.43.91 1.45.91-1.45"/>
				</g>
			</g>
		</svg>
	</div>

	<span class="homepage-logo-text homepage-logo-text--above">
		<span>
			<span class="homepage-logo-text--essential">Welcome to the personal website of</span>
			<span class="homepage-logo-text--extra">the one they call</span>
		</span>
	</span>

	{% svg "name-wide", { class: "homepage-logo-name homepage-logo-name--wide", title: metadata.author.name } %}
	{% svg "name-stack", { class: "homepage-logo-name homepage-logo-name--stack", title: metadata.author.name } %}

	<span class="homepage-logo-text homepage-logo-text--below">
		<span>
			<span class="homepage-logo-text--essential">a creative developer</span>
			<span class="homepage-logo-text--extra">with zero awards who is, in fact, a CSS nerd</span>
		</span>
	</span>
</h1>

<div class="flow" data-homepage="body">
	<h2>The Human Behind the Website</h2>

	<p>
		Hey there, my name’s Chris! I’m a <strong>front-end developer</strong> with a designer background who loves building for the web. I currently work at <a href="https://mojopsg.com">MOJO</a> and still <a href="/designs/">design</a> on occasion. I enjoy languages, movies, and <strong>any kind of pun</strong>. Oh, and I’m bald thanks to my DNA. Still curious?
		{% component 'cta', {
			url: '/about/',
			label: 'More about me',
			icon: 'arrow-right'
		} %}
	</p>
</div>
<aside class="homepage-side" data-homepage="side">
	<h2 class="visually-hidden">Good Old Hyperlinks</h2>

	<div class="homepage-photo">
		<img
			src="{{ [assets.images, 'profile-256.jpg'] | toPath }}"
			alt="A profile photo of Chris looking upwards to the left, and wearing sunglasses. He looks like a white man with some beard and a bald head."
			width="256"
			height="256"
		>
	</div>

	<ul class="homepage-social">
		<li>
			<a href="{{ nav.rss.path }}" class="button button--icon" aria-label="{{ nav.rss.label }}">{% svg 'rss', { title: nav.rss.label } %}</a>
		</li>
		<li>
			<a href="{{ social.mastodon.url }}" class="button button--icon" aria-label="Find me on {{ social.mastodon.label }}">{% svg 'mastodon', {title: social.mastodon.label} %}</a>
		</li>
		<li>
			<a href="{{ social.codepen.url }}" class="button button--icon" aria-label="Find me on {{ social.codepen.label }}">{% svg 'codepen', {title: social.codepen.label} %}</a>
		</li>
		<li>
			<a href="{{ social.github.url }}" class="button button--icon" aria-label="Find me on {{ social.github.label }}">{% svg 'github', {title: social.github.label} %}</a>
		</li>
	</ul>

	<ul class="flex-list justifyContent-center">
		{% for slashPage in nav.slashPages %}
			<li>
				<a href="{{ slashPage.path }}" class="button">{{ slashPage.label }}</a>
			</li>
		{% endfor %}
	</ul>
</aside>

{% set hasFeatured = (collections['_posts.featured'] | length) > 0 %}
{% set latestFeatured = collections['_posts.featured'] | reverse %}
{% set nonFeaturedCount = 1 if hasFeatured else 
	2 %}
{% set nonFeaturedItems = collections['_posts.not_featured'] | reverse %}
{% set frontpagePosts = {
	featured: latestFeatured.slice(0, 1),
	latest: nonFeaturedItems.slice(0, nonFeaturedCount)
} %}
<div class="homepage-posts" data-homepage="posts">
	{% for postGroup, posts in frontpagePosts %}
		{% if (posts | length) > 0 %}
			<div class="homepage-postgroup" data-homepage="postgroup">
				{% if postGroup == 'featured' %}
					<h2 class="homepage-postheading" data-homepage="postgroup-heading">Featured Post</h2>
				{% elseif postGroup == 'latest' %}
					<h2 class="homepage-postheading" data-homepage="postgroup-heading">Latest Post{% if nonFeaturedCount > 1 %}s{% endif %}
					</h2>
				{% endif %}

				{% for postData in posts %}
					{% set dateString = postData.date | timeTag %}
					{% component 'card', {
						link: postData.url,
						eyebrow: dateString,
						heading: postData.data.title,
						headingTag: 'h3',
						description: postData.data.summary
					} %}
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
</div>