---
layout: content.njk
gridBlockGutter: 2
section: home
permalink: "/"
title: Home
summary: "Welcome to the personal website of the one they call Christopher Kirk-Nielsen, a creative developer with zero awards who is, in fact, a CSS nerd"
---

<hgroup class="homepage-logo | content-wide">
	<div class="homepage-logo-circles" aria-hidden="true">
		<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
			<g class="homepage-logo-circle--deco" fill="none">
				<g data-theme-condition="dawn" stroke-linecap="round" style="--CTX-factor: 5;">
					{# Longer lines #}
					<g data-deco-anim="path" style="--CTX-delay: 0;">
						<path pathLength="1" d="M50 6.05v-5"/>
						<path pathLength="1" d="M34.96 8.7 33.25 4"/>
						<path pathLength="1" d="m21.73 16.34-3.22-3.83"/>
						{# <path pathLength="1" d="m11.91 28.04-4.33-2.5"/> #}
						{# <path pathLength="1" d="m6.69 42.39-4.93-.87"/> #}
						{# <path pathLength="1" d="m6.69 57.67-4.93.87"/> #}
						{# <path pathLength="1" d="m11.91 72.02-4.33 2.5"/> #}
						<path pathLength="1" d="m21.73 83.72-3.22 3.83"/>
						<path pathLength="1" d="m34.96 91.36-1.71 4.7"/>
						<path pathLength="1" d="M50 94.01v5"/>
						<path pathLength="1" d="m65.04 91.36 1.71 4.7"/>
						<path pathLength="1" d="m78.27 83.72 3.22 3.83"/>
						{# <path pathLength="1" d="m88.09 72.02 4.33 2.5"/> #}
						{# <path pathLength="1" d="m93.31 57.67 4.93.87"/> #}
						{# <path pathLength="1" d="m93.31 42.39 4.93-.87"/> #}
						{# <path pathLength="1" d="m88.09 28.04 4.33-2.5"/> #}
						<path pathLength="1" d="m78.27 16.34 3.22-3.83"/>
						<path pathLength="1" d="M65.04 8.7 66.75 4"/>
					</g>

					{# Shorter lines #}
					<g data-deco-anim="path" style="--CTX-delay: 3;">
						<path pathLength="1" d="m42.36 6.72-.44-2.53"/>
						<path pathLength="1" d="m28.01 11.94-1.28-2.22"/>
						<path pathLength="1" d="m16.31 21.76-1.97-1.65"/>
						{# <path pathLength="1" d="m8.67 34.99-2.41-.88"/> #}
						{# <path pathLength="1" d="M6.02 50.03H3.46"/> #}
						{# <path pathLength="1" d="m8.67 65.07-2.41.88"/> #}
						<path pathLength="1" d="m16.31 78.3-1.97 1.65"/>
						<path pathLength="1" d="m28.01 88.12-1.28 2.22"/>
						<path pathLength="1" d="m42.36 93.34-.44 2.53"/>
						<path pathLength="1" d="m57.64 93.34.44 2.53"/>
						<path pathLength="1" d="m71.99 88.12 1.28 2.22"/>
						<path pathLength="1" d="m83.69 78.3 1.97 1.65"/>
						{# <path pathLength="1" d="m91.33 65.07 2.41.88"/> #}
						{# <path pathLength="1" d="M93.98 50.03h2.56"/> #}
						{# <path pathLength="1" d="m91.33 34.99 2.41-.88"/> #}
						<path pathLength="1" d="m83.69 21.76 1.97-1.65"/>
						<path pathLength="1" d="m71.99 11.94 1.28-2.22"/>
						<path pathLength="1" d="m57.64 6.72.44-2.53"/>
					</g>
				</g>
			</g>

			<circle class="homepage-logo-circle--outer" stroke-width="1" cx="50" cy="50" r="42"/>
			<circle class="homepage-logo-circle--inner" stroke-width="1" cx="50" cy="50" r="40"/>

			<g class="homepage-logo-circle--deco" fill="none">
				<g data-theme-condition="dawn">
					{# Art Deco lines #}
					<g fill="none">
						<g>
							<path d="m20.768 28.425 24.313-14.071 24.312 14.071" />
							<path d="m30.607 28.425 24.312-14.071 24.313 14.071" />
							<path d="M36.949 24.755a5.137 5.137 0 0 1 1.511 3.644" />
							<path d="M39.291 23.399a7.046 7.046 0 0 1 2.072 4.999" />
							<path d="M63.051 24.755a5.137 5.137 0 0 0-1.511 3.644" />
							<path d="M60.709 23.399a7.046 7.046 0 0 0-2.072 4.999" />
						</g>
						<g>
							<path d="M32.688 71.355 50 81.375l17.312-10.02" />
							<path d="M37.82 71.54 50 78.589l12.18-7.049" />
							<path d="M42.952 71.724 50 75.804l7.048-4.08" />
							<path d="M48.084 71.909 50 73.018l1.916-1.109" />
							<path d="M22.9 71.355 50 87.04l27.1-15.685"/>
						</g>
					</g>
				</g>

				<g data-theme-condition="vapor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="--CTX-delay: 1; --CTX-from: scale(0.00001);">
					<path pathLength="1" data-deco-anim="path" d="m24.045 23.752 2.673 1.425.372-1.945 1.826.52-.475-3.09" />
					<path pathLength="1" data-deco-anim="path" d="M33.609 19.593h3.565l.95 2.198" style="--CTX-delay: 2;" />
					<path pathLength="1" data-deco-anim="path" d="m41.57 16.86 5.822-1.782" style="--CTX-delay: 3;" />
					<circle pathLength="1" data-deco-anim="path" cx="52.5" cy="19.593" r="1.99" />
					<path pathLength="1" data-deco-anim="path" d="m57.431 21.583 2.02 1.337 2.792-3.327" style="--CTX-delay: 2;" />
					<path pathLength="1" data-deco-anim="path" d="m42.342 19.237 2.139 1.188" style="--CTX-delay: 3;" />
					<path pathLength="1" data-deco-anim="path" d="m70.144 19.831 2.02 1.96" style="--CTX-delay: 2;" />
					<path pathLength="1" data-deco-anim="path" d="m67.055 19.237-1.782 1.188" />
					<path pathLength="1" data-deco-anim="path" d="m54.491 14.247 2.168.534" style="--CTX-delay: 3;" />
					<path pathLength="1" data-deco-anim="path" d="m78.461 26.484-2.97-1.307" style="--CTX-delay: 2;" />
					<path pathLength="1" data-deco-anim="path" d="m44.124 24.167.832-1.247" style="--CTX-delay: 2;" />
					<path pathLength="1" data-deco-anim="path" d="m48.817 24.167 2.377 1.01" style="--CTX-delay: 3;" />
					<path pathLength="1" data-deco-anim="path" d="m35.332 24.672-1.485-1.752" />
					<path pathLength="1" data-deco-anim="path" d="m59.837 15.672 2.109-1.841.772 2.614" style="--CTX-delay: 3;" />
					<path pathLength="1" data-deco-anim="path" d="m64.995 22.699 2.738.845-.845 2.738-2.738-.845z" />
					<path pathLength="1" data-deco-anim="path" d="m74.276 78.625-2.129-2.399-1.445 2.864-2.129-2.399-1.445 2.864" style="--CTX-delay: 2;" />
					<path pathLength="1" data-deco-anim="path" d="m60.507 74.247-2.406 2.495" style="--CTX-delay: 2;" />
					<path pathLength="1" data-deco-anim="path" d="m22.085 73.697.534 1.248" style="--CTX-delay: 3;" />
					<path pathLength="1" data-deco-anim="path" d="m28.085 79.555 5.524-2.16" />
					<circle pathLength="1" data-deco-anim="path" cx="28.085" cy="75.494" r="1.485" style="--CTX-delay: 3;" />
					<path pathLength="1" data-deco-anim="path" d="m57.93 81.593 2.054-.693.694 2.054-2.054.693z" />
					<path pathLength="1" data-deco-anim="path" d="m34.095 80.904 1.66 1.66-1.66 1.659-1.66-1.66z" style="--CTX-delay: 3;" />
					<path pathLength="1" data-deco-anim="path" d="m49.025 81.098-1.723-3.921-2.198 3.921" style="--CTX-delay: 2;" />
					<path pathLength="1" data-deco-anim="path" d="m41.213 84.346 3.089-1.783" />
					<path pathLength="1" data-deco-anim="path" d="m40.872 80.139-3.03-1.169" style="--CTX-delay: 3;" />
					<path pathLength="1" data-deco-anim="path" d="m53.451 86.679-.594-5.347" />
					<path pathLength="1" data-deco-anim="path" d="m55.097 78.078 3.46 1.248" style="--CTX-delay: 2;" />
					<path pathLength="1" data-deco-anim="path" d="m42.466 77.801 1.183-1.247" style="--CTX-delay: 2;" />
					<path pathLength="1" data-deco-anim="path" d="m63.312 83.573 2.258-.638" style="--CTX-delay: 3;" />
					<path pathLength="1" data-deco-anim="path" d="m63.491 76.643-.357 2.495" />
					<path pathLength="1" data-deco-anim="path" d="m50.599 76.81 2.555-.584" style="--CTX-delay: 2;" />
					<path pathLength="1" data-deco-anim="path" d="m73.114 74.87 4.693-1.099" />
					<path pathLength="1" data-deco-anim="path" d="m46.619 84.346 2.198 2.851" style="--CTX-delay: 2;" />
				</g>

				<g data-theme-condition="vintage">
					<g fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path d="M23.648 23.144v4.575-4.575" />
						<path d="M27.173 20.075v7.643-7.643" />
						<path d="M30.698 17.665v10.054-10.054" />
						<path d="M34.223 15.795v11.923-11.923" />
						<path d="M37.748 14.369v13.35-13.35" />
						<path d="M41.273 13.336v14.382-14.382" />
						<path d="M44.798 12.664v15.054-15.054" />
						<path d="M48.323 12.33v15.389V12.33" />
						<path d="M51.847 12.329v15.39-15.39" />
						<path d="M55.372 12.659v15.06-15.06" />
						<path d="M58.897 13.327v14.392-14.392" />
						<path d="M62.422 14.355v13.363-13.363" />
						<path d="M65.947 15.777v11.941-11.941" />
						<path d="M69.472 17.641v10.077-10.077" />
						<path d="M72.997 20.044v7.674-7.674" />
						<path d="M76.522 23.106v4.613-4.613" />
					</g>

					<g stroke="none" fill="var(--HOME-logo-line-color)">
						<rect width="5.228" height="5.228" x="33.372" y="75.975" rx="1" />
						<rect width="5.228" height="5.228" x="61.4" y="75.975" rx="1" />
					</g>
				</g>

				<g data-theme-condition="quill" fill="none" stroke-linecap="round" data-deco-anim="path" style="--CTX-delay: 1; --CTX-factor: 4;">
					<path pathLength="1" d="M51.902 76.533h0c.427.094.77.143 1.025.144m-24.941-2.643c-2.478.681-5.639 1.915-5.639 1.912m12.418-3.163c4.184-.423 7.094.482 11.006 1.776" />
					<path pathLength="1" d="M53.818 77.706h0c1.052-.094 2.198-.306 3.498-.644m-15.234-2.088c2.672.802 4.846 1.579 7.928 2.337m-26.634-.484a65.081 65.081 0 0 1 3.31-1.267m36.433-.41h0a174.634 174.634 0 0 1 0 0m-30.558-1.109h0c.604-.088 1.204-.15 1.781-.182" />
					<path pathLength="1" d="M24.183 77.89c.353-.169.719-.339 1.089-.504m5.123-1.842c5.372-1.37 9.402-.436 15.066 1.624" />
					<path pathLength="1" d="M59.965 77.785c-2.688 1.006-5.839 1.764-8.142 1.726-1.921.003-3.775-.365-5.656-1.119h0m-21.099.339c.765-.404 1.545-.77 2.313-1.088m48.035-1.898c.921.394 1.494.853 2.279 1.301m-35.884-.23c-2.571-.703-4.985-.984-7.49-.824h0c2.506-.161 4.922.121 7.49.824Zm24.023-1.271a15.567 15.567 0 0 1 2.521-.492" />
					<path pathLength="1" d="M35.259 76.879c-4.467.24-8.404 2.173-9.503 2.744" />
					<path pathLength="1" d="M26.941 80.729c3.677-1.812 7.166-2.728 10.579-2.654m2.492.242c2.056.354 4.085 1.103 6.03 2.229" />
					<path pathLength="1" d="M38.897 83.457c1.544.322 3.702-.127 4.865-.533m-12.819-.642c1.078-.186 2.905-.191 4.265.065" />
					<path pathLength="1" d="M43.101 85.461h0c.023.004 2.579.402 4.87 1.092" />
					<path pathLength="1" d="M52.443 81.057h0c3.286-.728 7.417-2.095 10.529-3.456-3.111 1.361-7.245 2.728-10.529 3.456Zm17.651-4.807h0c1.696.209 3.612.702 6.218 1.564" />
					<path pathLength="1" d="M47.953 82.954h0c.027 0 2.968-.065 6.043-1.246" />
					<path pathLength="1" d="M53.184 83.125c.852-.43 5.303-2.667 9.597-4.149m2.836-.857c3.26-.84 6.069-.637 9.166.228" />
					<path pathLength="1" d="M56.447 82.891s0 0 0 0c.945-.781 9.668-4.983 15.502-4.169" />
					<path pathLength="1" d="M60.623 82.205h0a24.995 24.995 0 0 1 1.601-.689m2.116-.732c3.236-.947 6.22-1.321 9.246-.627" />
					<path pathLength="1" d="M62.525 82.291s0 0 0 0a37.236 37.236 0 0 1 3.951-1.122" />
					<path pathLength="1" d="M57.114 86.168h0c3.558-1.315 9.093-4.412 12.822-4.62" />
					<path pathLength="1" d="M58.078 87.394c.816-.428 4.853-2.487 9.488-3.546-4.636 1.06-8.673 3.118-9.488 3.546Z" />
					<path pathLength="1" d="M47.401 85.206s0 0 0 0c.026.013 2.619 1.255 4.511 1.281" />
					<path pathLength="1" d="M34.65 79.099c1.603-.251 4.654-.181 6.922.848" />
					<path pathLength="1" d="M30.944 81.036c1.047-.766 4.262-1.241 5.443-.075-1.18-1.166-4.402-.69-5.443.075Z" />
				</g>

				<g data-theme-condition="dusk">
					<g fill="var(--HOME-logo-bg)" style="--CTX-factor: 2; --CTX-from: scaleY(0.0001);">
						<path data-deco-anim style="--CTX-delay: 0;" d="M50 6h7v25H50z"/>
						<path data-deco-anim style="--CTX-delay: 1;" d="M36 12h10v19H36z"/>
						<path data-deco-anim style="--CTX-delay: 2;" d="M58 15h11v16H58z"/>
						<path data-deco-anim style="--CTX-delay: 3;" d="M65 23h7v8h-7z"/>
						<path data-deco-anim style="--CTX-delay: 4;" d="M42 18h12v13H42z"/>
						<path data-deco-anim style="--CTX-delay: 5;" d="M27 21h10v10H27z"/>
					</g>

					<g fill="none" style="--CTX-from: scaleX(0.00001);">
						<path data-deco-anim style="--CTX-delay: 5;" d="M21.37 73.48h57.26"/>
						<path data-deco-anim style="--CTX-delay: 6;" d="M74.2 77.88H25.8"/>
						<path data-deco-anim style="--CTX-delay: 7;" d="M67.67 82.28H32.33"/>
						<path data-deco-anim style="--CTX-delay: 8;" d="M55.36 86.69H44.64"/>
					</g>
				</g>

				<g data-theme-condition="cyberpunk" stroke="var(--HOME-logo-text-color)">
					<path d="M18.1 25.8h5.8l4.5-4.5h21.5"/>
					<path d="M33.3 23.5h21.5l2.3-2.2h4.5l2.3 2.2h16.2M75.3 19h-8.2l-2.3-2.3h-9L53.5 19H41.6l-2.2-2.3H27.7m10.8-5.1 2.9 2.9h27.1m13.3 11.3h-20l-1.7-1.7"/>
					<circle cx="50.6" cy="21.3" r=".7"/>
					<circle cx="32.6" cy="23.5" r=".7"/>
					<circle cx="43.6" cy="85.1" r=".7"/>
					<circle cx="54.6" cy="83.2" r=".7"/>
					<circle cx="35.7" cy="78.7" r=".7"/>
					<circle cx="59.6" cy="23.5" r=".7"/>
					<path d="M18.1 74.1h21.2l4.5 4.6h16.4l2.1-2.2h17.6m-57.8 2.2h12.8m43 0h-8.6l-4.5 4.5h-9.5m8 4.5h-9.5L47 80.9h-6l-2.3 2.3h-11"/>
					<path d="M36.7 87.7H41l2.1-2.1m9.4-6.9 4.5-4.5h24.8"/>
				</g>

				<g data-theme-condition="campfire" stroke-width="0" style="--CTX-factor: 2; --CTX-from: translateY(33%)">
					<g data-deco-anim style="--CTX-delay: 1;">
						<path fill="var(--HOME-logo-bg)" d="M79.4 29.4 67.6 13.8l-2.5 3.3L54.2 2.6l-8.1 10.8-2.8-3.6-6 8"/>
						<path fill="var(--HOME-logo-line-color)" d="M79.4 29.4 67.6 12.8 65.2 16l-11-14.6L46 12.5l-2.7-3.4-6 8.7 6-7.4 2.7 3.8 8.2-10.4 11 14.4 2.4-3.3 11.8 14.5z"/>
					</g>
					<g data-deco-anim style="--CTX-delay: 0;">
						<path fill="var(--HOME-logo-bg)" d="M42.9 21.7 37.1 14l-5.7 7.5-3.7-4.8-9.6 12.8"/>
						<path fill="var(--HOME-logo-line-color)" d="m37.1 14.6 5.8 7.1-5.8-8.4-5.7 7-3.7-4.8-9.6 14 9.6-11.6 3.7 4.8 5.7-8.1z"/>
					</g>

					<path fill="var(--HOME-logo-line-color)" d="M38.3 85.6a39 39 0 0 0 23.4 0s-11.2-2.5-11.3-5c0-1.6 6.3-1.6 6.3-2.7 0-2.4-12.8-.2-12.8-1.2 0-.8 8.8 0 8.8-.7 0-.6-2.7-.5-2.7-.5s1.7.2 1.7.4c0 .3-8.8-.9-8.8 1.1 0 2.7 11.5-.4 11.5.8 0 1.3-15.9-.9-16.1 7.8Z"/>
				</g>

				<g data-theme-condition="director" stroke-width="1.5" fill="var(--HOME-logo-bg)" stroke="var(--HOME-logo-line-color)" style="--CTX-easing: cubic-bezier(.45,1.4,0,.9); --CTX-from: translateY(-20px);">
					<path data-deco-anim style="--CTX-delay: 6;" d="M39.53 71.43 50 87.96l10.47-16.53"/>
					<path data-deco-anim style="--CTX-delay: 5;" d="M41.12 71.43 50 85.45l8.88-14.02"/>
					<path data-deco-anim style="--CTX-delay: 4;" d="M42.72 71.43 50 82.93l7.28-11.5"/>
					<path data-deco-anim style="--CTX-delay: 3;" d="M44.31 71.43 50 80.42l5.69-8.99"/>
					<path data-deco-anim style="--CTX-delay: 2;" d="M45.9 71.43 50 77.9l4.1-6.47"/>
					<path data-deco-anim style="--CTX-delay: 1;" d="M47.49 71.43 50 75.39l2.51-3.96"/>
					<path data-deco-anim style="--CTX-delay: 0;" d="m49.09 71.43.91 1.45.91-1.45"/>
				</g>
			</g>
		</svg>
	</div>

	<p class="homepage-logo-text homepage-logo-text--above">
		<span>
			<span class="homepage-logo-text--essential">Welcome to the personal website of</span>
			<span class="homepage-logo-text--extra">the one they call</span>
		</span>
	</p>

	<h1 class="visually-hidden | p-name">{{ metadata.author.name }}</h1>

	{% injectsvg 'name-wide', { class: 'homepage-logo-name homepage-logo-name--wide' } %}
	{% injectsvg 'name-stack', { class: 'homepage-logo-name homepage-logo-name--stack' } %}

	<p class="homepage-logo-text homepage-logo-text--below">
		<span>
			<span class="homepage-logo-text--essential">a creative developer</span>
			<span class="homepage-logo-text--extra">with zero awards who is, in fact, a CSS nerd</span>
		</span>
	</p>
</hgroup>

<div class="flow" data-homepage="body">
	<h2 id="the-human-behind-the-website">The Human Behind the Website</h2>

	<p>
		Hey there, my name’s Chris! I’m a <strong class="p-job-title">front-end developer</strong> with a designer background who loves building for the web. I currently work at <a href="https://mojopsg.com">MOJO</a> and still <a href="/designs/">design</a> on occasion. I enjoy languages, movies, and <strong>all the puns</strong>. Oh, and I’m bald thanks to my DNA. Still curious?
		{% component 'cta', {
			url: '/about/',
			label: 'More about me',
			icon: 'arrow-right'
		} %}
	</p>
</div>
<aside class="homepage-side" data-homepage="side" aria-labelledby="the-human-behind-the-website">
	<h2 class="visually-hidden">Good Old Hyperlinks</h2>

	<div class="homepage-photo">
		<img
			src="{{ [assets.images, 'profile-256.jpg'] | toPath | toNetlifyImage({ w: 256 }) }}"
			alt="A profile photo of Chris looking upwards to the left, and wearing sunglasses. He looks like a white man with some beard and a bald head."
			width="256"
			height="256"
		>
	</div>

	<ul class="homepage-social" aria-label="Find me around the web">
		<li>
			{% component 'cta', { url: nav.rss.path, label: { aria: nav.rss.label }, icon: 'rss', iconClass: ' ', iconSvgOpts: { width: 24, height: 24 } } %}
		</li>
		<li>
			{% component 'cta', { url: social.mastodon.url, label: { aria: social.mastodon.label }, icon: 'mastodon', iconClass: ' ', iconSvgOpts: { width: 24, height: 24 } } %}
		</li>
		<li>
			{% component 'cta', { url: social.codepen.url, label: { aria: social.codepen.label }, icon: 'codepen', iconClass: ' ', iconSvgOpts: { width: 24, height: 24 } } %}
		</li>
		<li>
			{% component 'cta', { url: social.github.url, label: { aria: social.github.label }, icon: 'github-icon', iconClass: ' ', iconSvgOpts: { width: 24, height: 24 } } %}
		</li>
	</ul>
</aside>

{% set hasFeatured = (collections['_posts.featured'] | length) > 0 %}
{% set latestFeatured = collections['_posts.featured'] | reverse %}
{% set nonFeaturedCount = 1 if hasFeatured else 2 %}
{% set nonFeaturedItems = collections['_posts.not_featured'] | reverse %}
{% set frontpagePosts = {
	featured: latestFeatured.slice(0, 1),
	latest: nonFeaturedItems.slice(0, nonFeaturedCount)
} %}
<div class="homepage-posts" data-homepage="posts">
	{% for postGroup, posts in frontpagePosts %}
		{% if (posts | length) > 0 %}
			<div class="homepage-postgroup" data-homepage="postgroup">
				{% if postGroup == 'featured' %}
					<h2 class="homepage-postheading" data-homepage="postgroup-heading">Featured Post</h2>
				{% elseif postGroup == 'latest' %}
					<h2 class="homepage-postheading" data-homepage="postgroup-heading">
						Recent Post{% if nonFeaturedCount > 1 %}s{% endif %}
					</h2>
				{% endif %}

				{% for postData in posts %}
					{% set dateString = postData.date | timeTag %}
					{% component 'card', {
						link: postData.url,
						eyebrow: dateString,
						heading: postData.data.title,
						headingTag: 'h3',
						description: postData.data.summary
					} %}
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}
</div>

<p>
	If you want to see all I’ve written, I have
	{% component 'cta', {
		url: '/blog/',
		label: (collections['_posts'] | length) + ' blogposts'
	} %} available in the Bloggy Corner!
</p>