---
title: Music
summary: My musical tastes laid bare
permalink: /music/
section: music
tags: [_slash]
artists: {
    "sleep-token": "Sleep Token",
    "thrice": "Thrice",
    "architects": "Architects",
    "audioslave": "Audioslave",
    "deadmau5": "deadmau5",
    "nine-inch-nails": "Nine Inch Nails",
    "rammstein": "Rammstein",
    "deftones": "Deftones",
    "pendulum": "Pendulum",
    "blink-182": "blink-182",
    "bring-me-the-horizon": "Bring Me The Horizon",
    "bad-omens": "Bad Omens",
    "linkin-park": "Linkin Park",
    "innerpartysystem": "Innerpartysystem",
    "daft-punk": "Daft Punk",
    "justice": "Justice",
    "a-perfect-circle": "A Perfect Circle",
    "tool": "Tool",
    "foo-fighters": "Linkin Park",
    "radiohead": "Radiohead",
    "the-glitch-mob": "The Glitch Mob",
    "static-x": "Static-X",
    "slipknot": "Slipknot",
    "tycho": "Tycho",
    "the-strokes": "The Strokes",
    "carpenter-brut": "Carpenter Brut",
    "aphex-twin": "Aphex Twin",
}
---

<p>
    While I do make music (well, not so much anymore) as <a href="https://chronoise.com" class="link-label-anchor">{% svg 'chronoise-icon', { class: 'inline-icon inline-icon--center' } %} <span class="link-label-text">Chronoise</span></a>, this page is a little “shrine” for the artists I enjoy listening to rather frequently. If you think there's a band I might like, please share <a href="{{ metadata.author.mastodon }}">with me on Mastodon</a>!
</p>

<hr aria-hidden="true">

<ul class="cards" data-grid-cols="3">
    {% for artistKey, artistName in artists %}
    <li class="card-wrapper">
        <figure>
            {% image "/" + assets.images + "/artists/"+artistKey+".svg" | toRoot, "Logo for "+artistName, "", { bypassLink: true, bypassCdn: true, width: 600, height: 600, eager: loop.index <= 3 } %}
            <figcaption class="textAlign-center">{{ artistName }}</figcaption>
        </figure>
    </li>
    {% endfor %}
</ul>

<p class="textAlign-center fontSize-smaller fontStyle-italic">Don’t-sue-me notice: all logos belong to their respective owners.</p>