---
title: Now
summary: What am I doing these days?
permalink: /now/
section: now
nowInfo: {
    home: { heading: "Living" },
    music: { heading: "Listening" },
    sport: { heading: "Training" },
    show: { heading: "Watching", detail: "Season" },
    book: { heading: "Reading" },
    game: { heading: "Playing" },
}
tags: [_slash]
---

{%- set lastKey = '' -%}
{% macro nowList(nowKey, nowItems, nowData) %}
    {% set detailPrefix = nowData.detail or false %}
    {% set imageWidth = 600 %}
    {% set imageHeight = 600 %}
    {% set cloudinaryParams = 'c_fill,g_auto:faces,h_' + imageHeight + ',w_' + imageWidth + '/q_auto:eco' %}
    {% for nowItem in nowItems %}
        <div class="now-item">
            {% if lastKey != nowKey %}
                <h2 class="now-section-heading" aria-hidden="true">{{ nowInfo[nowKey].heading }}</h2>
            {% endif %}

            {% if nowItem.image %}
                <img
                    src="{{ nowItem.image | toCloudinary(cloudinaryParams) }}"
                    alt=""
                    aria-hidden="true"
                    class="now-item-image"
                    width="{{ imageWidth }}"
                    height="{{ imageHeight }}"
                >
            {% endif %}

            <p class="now-item-content | fontSize-small">
                {% if nowItem.link %}
                    <a href="{{ nowItem.link }}">
                {% endif %}
                    <strong class="display-block h4 textWrap-balance">
                        {{- nowItem.title }}
                        {% if nowItem.detail %}({% if detailPrefix %}{{ detailPrefix }}&nbsp;{% endif %}{{ nowItem.detail }}){% endif -%}
                    </strong>
                {% if nowItem.link %}
                    </a>
                {% endif %}
                {% if nowItem.blurb %}
                    {{ nowItem.blurb | markdown(true) | safe }}
                {% endif %}
            </p>
        </div>
        {%- set lastKey = nowKey -%}
    {% endfor %}
{% endmacro %}

<div class="now-grid">
    {% for nowKey, nowData in nowInfo %}
        <h2 class="visually-hidden">{{ nowInfo[nowKey].heading }}</h2>
        {%- if now[nowKey] -%}
            {{ nowList(nowKey, now[nowKey], nowData) -}}
        {%- endif -%}
    {%- endfor -%}
</div>

<hr>

<p class="textAlign-center fontSize-smaller fontStyle-italic">
    <a href="https://nownownow.com/about">What's a Now page?</a>
    | 
    Built using the <a href="/blog/leverage-api-like-notion-with-cache/">Notion API</a>.
</p>