---
title: Projects
summary: Some of the things I've made, either passion projects or real-world work
---

<ul class="cards" data-grid-cols="3">
	{% for project in collections._projects | reverse %}
		<li class="card-wrapper">
			{% set projectDesc %}<p class="fontSize-smaller">{{ project.data.summary }}</p>{% endset %}
			{% component 'card', {
				link: project.url,
				image: {
					src: project.data.customMetaImage | toNetlifyImage({ w: 400 }),
					alt: "",
					width: 600,
					height: 600,
					lazy: loop.index >= 8
				},
				heading: project.data.title,
				description: project.data.summary
			} %}
		</li>
	{% endfor %}
</ul>

<h2 class="h3">Miscellaneous mini projects</h2>
{% set miniProjects = [
	{ name: "CSS Logo", url: "/css-logo/", blurb: "A cheeky idea for a new logo", svg: '<path fill="#5a1880" d="M0 0h64v64H0z"/><path fill="#f9f4ff" d="M54.2 58h-52V6h52v19.8h-4V10h-44v44h44v-3.4h4V58Zm-21-16.7c0 2.5 2 3.4 4.2 3.4 1.4 0 3.6-.4 3.6-2.3 0-2-2.8-2.3-5.5-3-2.8-.8-5.6-1.9-5.6-5.4 0-3.8 3.6-5.6 7-5.6 3.9 0 7.4 1.7 7.4 6h-4c0-2.2-1.7-2.8-3.6-2.8-1.3 0-2.8.5-2.8 2.1 0 1.4.8 1.6 5.5 2.8 1.4.4 5.6 1.2 5.6 5.5 0 3.4-2.7 6-7.8 6-4.1 0-8-2.1-8-6.7h4Zm17.4 0c0 2.5 2 3.4 4.2 3.4 1.4 0 3.6-.4 3.6-2.3 0-2-2.8-2.3-5.5-3-2.8-.8-5.6-1.9-5.6-5.4 0-3.8 3.6-5.6 7-5.6 3.9 0 7.5 1.7 7.5 6h-4c-.2-2.2-1.7-2.8-3.7-2.8-1.3 0-2.8.5-2.8 2.1 0 1.4.9 1.6 5.5 2.8 1.4.4 5.6 1.2 5.6 5.5 0 3.4-2.7 6-7.8 6-4.1 0-8-2.1-8-6.7h4Zm-27.3 0c-.6 2-2 3.2-4 3.2-3.8 0-5.1-3.1-5.1-6.3 0-3.2 1.3-6.4 5-6.4 2 0 3.8 1.4 4 3.2h4c-.5-4.2-3.9-6.6-8-6.6-5.8 0-9.1 4.3-9.1 9.8 0 5.4 3.3 9.7 9.1 9.7 4.3 0 7.3-2.5 8-6.6h-4Z"/>' },
	{ name: "Custom Fonts", url: "/fonts/", blurb: "Home-made typefaces by yours truly", svg: '<path fill="#27a340" d="M0 0h64v64H0z"/><path d="M25 21.2h14.8l15.7 34.3H43.3L41 49.9l-2-4.5-2.5 4.5H23.7l-2.3 5.5H9l16-34.2ZM37.7 42l-5.1-11.6h-.3l-5 11.6h10.4Z"/><g stroke="#000" stroke-miterlimit="10"><path fill="none" stroke-width="5" d="M7.8 33.2a24.2 24.2 0 1 1 48.4 0"/><path fill="#27a340" d="M10.8 33.2a3 3 0 1 1-6.1 0 3 3 0 0 1 6.1 0ZM53.2 33.2a3 3 0 1 0 6.1 0 3 3 0 0 0-6.1 0ZM32 5.5 35.4 9 32 12.3l-3.4-3.4z"/></g>' },
	{ name: "Timezone Overlap Finder (2024)", url: "https://timezone-overlap-finder.netlify.app/", blurb: "A simple way to find common ground across timezones", emoji: "🕙" },
	{ name: "One-Page Calendar (2023)", url: "https://one-page-calendar.netlify.app/", blurb: "A single grid for every single day in a calendar year", emoji: "🗓️" },
	{ name: "Casualty Friday (2013)", url: "https://casualty-friday.netlify.app/", blurb: "A choice-based Flash game project I made during my design study years — still quite proud of it!", svg: '<path fill="#b12401" d="M0 0h64v64H0z"/><path fill="none" stroke="#fff" stroke-width="10" d="M53 12c-2 0-14-3-21 20-6 23-19 21-21 21M48 32H32"/>' }
] %}
<ul>
	{% for miniProject in miniProjects %}
		<li class="textWrap-pretty"
		{%- if miniProject.svg or miniProject.emoji -%}
			{%- set fullSvg -%}
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="1.1em" height="1.1em">
				{% if miniProject.svg -%}
					{{- miniProject.svg | safe -}}
				{%- elseif miniProject.emoji %}
					<text x="50%" y="0.95em" font-size="48" text-anchor="middle">{{- miniProject.emoji -}}</text>
				{%- endif %}
				</svg>
			{%- endset %}
			style="list-style-image: url('data:image/svg+xml,{{ fullSvg | urlencode }}');"
		{%- endif -%}
		>
			<a href="{{ miniProject.url }}">{{ miniProject.name }}</a>{% if miniProject.blurb %}: {{ miniProject.blurb }}{% endif %}
		</li>
	{% endfor %}
</ul>