---
title: "Support"
summary: "If you want to support me for any odd reason, here's what you could do"
permalink: /support/
tags: [_slash]
---

{% renderTemplate 'md' %}
## For free
Whatever content of mine that brought you some kind of serotonin might be something you'd feel like sharing to a friend, perchance? Remember that 1 sharing equals 1 caring.

## Indirectly
{% endrenderTemplate %}
<p>Most of the apparel items you see on my {% component 'cta', { label: "Designs page", url: "/designs/" } %} will provide some commission for me in case of purchase, so if my work looks like something you'd like to wear or stick on your laptop, that's an easy win-win. Sharing that link is also helpful, so whatever you do, thanks!</p>

{% renderTemplate 'md' %}
## Right in my pocket
I don't have any donation system in place right now, but if you're desperate to give me money, get yourself a shirt from the link above. Or donate to your local shelter (or any other cause you believe in) if you don't need clothes: that works for me!
{% endrenderTemplate %}