---
title: Tags
summary: A thrilling list of the tags I've used
---

{%- set tagList = collections | keys | startsWith('_', true) %}
{% set countedTags = [] %}
{% for t in tagList %}
    {% if t != 'all' %}
        {% set count = collections[t] | length %}
        {% set selfObj = [t, count] %}
        {{ countedTags.push(selfObj) | reject() }}
    {% endif %}
{% endfor %}

{# Sort ascending by alpha first (on the tag, index=0), then descending by count (index=1) #}
{%- set sortedTags = countedTags | sort(false, false, 0) | sort(true, false, 1) -%}
{% set maxCount = sortedTags | pluck(1) | first %}

<p id="tags-description" class="visually-hidden">All tags:</p>
<ul class="inline-list inline-list--tags | textAlign-center textWrap-balance" aria-describedby="tags-description">
    {% for tag, count in sortedTags %}
        <li><span class="tooltip" data-tooltip-pos="start center"><a href="/tags/{{ tag }}" class="button button--tag | p-category" style="--r: {{ count / maxCount }}">{{ tag }}</a><span class="tooltip-content">{{ count }} post{{ 's' if count > 1 }}</span></li>
    {% endfor %}
</ul>

<style>
.inline-list--tags { max-inline-size: 32rem; margin-inline: auto; line-height: 2.5em; }
.inline-list--tags .tooltip { display: inline-flex; }
.button--tag { font-size: calc((1 + var(--r)) * 1em); }
</style>