---js
{
    title: 'Uses',
    summary: "My frequently used tools",
    permalink: '/uses/',
    templateEngineOverride: 'md',
    toc: true,
    tags: ['_slash', '_og'],
    eleventyComputed: {
        ogImageSummary: (data) => data.summary,
        customMetaImage: function (data) {
            if (data.permalink) {
                return this.toOgImage(data);
            }
            return this.toPath([data.assets.images, 'metaimage.jpg']);
        }
    },
}
---

## Hardware
### Computering
-   [2024 14" MacBook Pro](https://www.apple.com/macbook-pro/) (M4, 16 GB RAM, 1 TB SSD): I don’t miss the 16" form factor, so this is quite perfect as a literal laptop for me.
-   Windows PC (AMD Ryzen 7 3700X, Radeon RX 590, 16GB RAM): for some gaming and my rare music sessions.

### Peripherals
-   [Dell U2518D Monitor](https://www.amazon.com/dp/B075KGLYRL?linkCode=as2&tag=ratcgala-20): A big screen for big code.
-   [8BitDo Retro Mechanical Keyboard](https://www.8bitdo.com/retro-mechanical-keyboard/): First (and last?) mechanical keyboard, super satisfying ([works on macOS!](https://rknight.me/blog/using-the-8bitdo-keyboard-on-macos/))
-   [UGREEN 8K KVM Switch](https://www.amazon.com/dp/B0CFFFHFJT?linkCode=as2&tag=ratcgala-20): Allows quick-switching between my Mac and PC — we don’t talk about the absolute mess of cables hidden under the desk.

### Desk and friends
-   [Fully’s Remi Standing Desk](https://www.fully.com/standing-desks/remi-standing-desk.html): I try to stand a little here and there for my back’s sake.
-   [ErGear Dual Monitor Arms](https://www.amazon.com/gp/product/B085Y4HW8S?linkCode=as2&tag=ratcgala-20): More desk space!

### Audio
-   [Moondrop CHU II](https://www.amazon.com/Moondrop-CHU-II-Performance-Interchangeable/dp/B0CB8HHS8V?linkCode=as2&tag=ratcgala-20): Some basic in-ear monitors that have weird anime packaging but they work well for running (thanks, reddit).
-   [Audio Technica ATH-CKS50TW2](https://www.audio-technica.com/en-us/ath-cks50tw2ml): Some fancy Bluetooth earphones with noise cancelling that stay with me most of the work day.
-   [Sony MDR-XB950N1 over-ear headphones](https://www.amazon.com/Sony-Wireless-Headphones-Bluetooth-Canceling/dp/B07KKMGG6H?linkCode=as2&tag=ratcgala-20): Quality headphones for more “focused” listening, with noise-cancelling. Never on for long because my glasses dig into my temples…

### Hobbies
-   iPod Classic 160GB: The most excellent rectangle ever made.
-   [Novation Launchkey 37 MIDI keyboard](https://www.amazon.com/gp/product/B086N4W81X?linkCode=as2&tag=ratcgala-20): I made music a lot in the past, and this little toy is great to slowly get back into it!
-   [PlayStation 5](https://direct.playstation.com/en-us/hardware/ps5) (2020 disc model): Good games, good consoles… can’t complain about my history with PlayStation.

## Software
-   [Zen Browser](https://zen-browser.app/): I’ve been using Firefox since version 3 or something, and I’ve been a supporter since — love the CSS DevTools! (especially for flex/grid and the Fonts panel) However, Mozilla has made dubious decisions lately, so I’ve switched to a fork named Zen, though that’s just Firefox in a trenchcoat.

### Coding
-   [Visual Studio Code](https://code.visualstudio.com/): Love how powerful and customisable this editor is! I notably use these extensions:
    -   [SynthWave '84](https://marketplace.visualstudio.com/items?itemName=RobbOwen.synthwave-vscode): A beautiful neon-infused theme by [Robb Owens](https://robbowen.digital/) that is exactly my vibe (text glow is turned off, though!).
    -   [Maple Mono](https://font.subf.dev/en/download/): I’ve tried all the hyped developer fonts, and after some years using the wonderful [JetBrains Mono](https://www.jetbrains.com/lp/mono/), I’ve landed on Maple (with customised font variations and ligatures turned off because they make everything look like garbage).
    -   [Prettier](https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode): Keeps all my code harmoniously formatted, and when you make a syntax mistake you’ll know as your code doesn’t auto-format!
    -   [VisuBezier](https://marketplace.visualstudio.com/items?itemName=chriskirknielsen.visubezier): My own CSS easing function preview tool, pretty useful when writing `cubic-bezier()` by hand that I want to quickly verify without leaving VS Code.
-   [Fork](https://fork.dev/): A little git GUI that helps me avoid making big mistakes.

### Creativity
-   [Adobe Illustrator](https://www.adobe.com/products/illustrator.html): I love working with vectors. I optimise my work with [SVGOMG](https://jakearchibald.github.io/svgomg/) and then manually tweak them to be _just right_.
-   [ImageOptim](https://imageoptim.com/mac): Wonderful tool to compress images better, you won’t regret it.