---js
{
    title: 'Uses',
    summary: "My frequently used tools",
    permalink: '/uses/',
    templateEngineOverride: 'md',
    toc: true,
    tags: ['_slash', '_og'],
    eleventyComputed: {
        ogImageSummary: (data) => data.summary,
        customMetaImage: function (data) {
            if (data.permalink) {
                return this.toOgImage(data);
            }
            return this.toPath([data.assets.images, 'metaimage.jpg']);
        }
    },
}
---

## Hardware
### Computering
-   MacBook Pro, bought in 2024: 14" size, M4 chip, 16 GB RAM, 1 TB SSD.
    - I don’t miss the 16" form factor, so this is quite perfect as a literal laptop for me.
-   Windows PC: For some gaming and my rare music sessions.
    - Gigabyte X570 Aorus Elite
    - AMD Ryzen 7 3700X
    - Sapphire Radeon RX 590
    - Corsair Vengeance LPX 16 GB DDR4 

### Peripherals
-   [UGREEN 8K KVM Switch](https://www.amazon.com/dp/B0CFFFHFJT): Allows quick-switching between my Mac and PC — we don’t talk about the absolute mess of cables hidden under the desk.
-   Monitors:
    - Dell U2518D Monitor: A big screen for big code (hooked to the KVM).
    - Asus VE247: A slightly maller secondary monitor for the PC only.
-   [8BitDo Retro Mechanical Keyboard](https://www.8bitdo.com/retro-mechanical-keyboard/): My first mechanical keyboard, super satisfying (and yes [it works on macOS](https://rknight.me/blog/using-the-8bitdo-keyboard-on-macos/)).
-   Mice:
    - Apple Magic Mouse: Looks sleek, works well, but that charging port, good grief…
    - Very crappy $10 Amazon mouse: Using this for the PC, after my “gaming” one broke.
- Western Digital 4TB External Hard Drive: For the backups I always forget to make.
- TP-Link Deco X20 Mesh WiFi: Keeps the internet flowing through the apartment.

### Desk
-   [Fully Remi](https://store.hermanmiller.com/brands-fully): 58"&times;27" standing desk. (discontinued after Herman Miller acquisition)
-   [ErGear Dual Monitor Arms](https://www.amazon.com/gp/product/B085Y4HW8S): More desk space!
-   [MidWest Pet Bed](https://www.chewy.com/midwest-homes-pets-quiet-time-deluxe/dp/1223574): Less desk space! (it’s for my cats, though)
-   Corsair MM350 XL Mouse Pad: Yep it’s big.

### Audio
-   [Audio Technica ATH-CKS50TW2](https://www.audio-technica.com/en-us/ath-cks50tw2ml): Some fancy Bluetooth earphones with noise cancelling that stay with me most of the work day.
-   [Moondrop CHU II](https://www.amazon.com/Moondrop-CHU-II-Performance-Interchangeable/dp/B0CB8HHS8V): Some basic in-ear monitors that have weird anime packaging but they work well for running (thanks, reddit).
-   [Sony MDR-XB950N1 over-ear headphones](https://www.amazon.com/Sony-Wireless-Headphones-Bluetooth-Canceling/dp/B07KKMGG6H): Quality headphones for more “focused” listening, with noise-cancelling. Never on for long because my glasses dig into my temples…

### Hobbies
-   iPod Classic 160GB: The most excellent rectangle ever made.
-   [Novation Launchkey 37 MIDI keyboard](https://www.amazon.com/gp/product/B086N4W81X): I made music a lot in the past, and this little toy is great to slowly get back into it.
-   PlayStation 5 (2020 disc model): Good games, good consoles… can’t complain about my history with PlayStation.

## Software

### Web stuff
-   [Zen Browser](https://zen-browser.app/): I’ve been using Firefox since version 3 or something, and I’ve been a supporter since — love the CSS DevTools! (especially for flex/grid and the Fonts panel) However, Mozilla has made dubious decisions lately, so I’ve switched to a fork named Zen, though that’s just Firefox in a trenchcoat.
-   [Feeder](https://feeder.co/): A simple RSS reader that has folders and offers a browser extension — not fancy, sure, but it’s free and does what I need.
-   [Mastodon on front-end.social](https://front-end.social/): After Twitter died and we all left (right??), I opted for Mastodon as my social network, on the Front-End Social server, and it’s been great.

### Coding
-   [Visual Studio Code](https://code.visualstudio.com/): Love how powerful and customisable this editor is! Though I hate all the A.I./agents-oriented updates as of late… I notably use these extensions:
    -   [SynthWave '84](https://marketplace.visualstudio.com/items?itemName=RobbOwen.synthwave-vscode): A beautiful neon-infused theme by [Robb Owens](https://robbowen.digital/) that is exactly my vibe (text glow is turned off, though!).
    -   [Maple Mono](https://font.subf.dev/en/download/): I’ve tried all the hyped developer fonts, and after some years using the wonderful [JetBrains Mono](https://www.jetbrains.com/lp/mono/), I’ve landed on Maple (with customised font variations and ligatures turned off because they make everything look like garbage to me).
    -   [Prettier](https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode): Keeps all my code harmoniously formatted, and when you make a syntax mistake you’ll know as your code doesn’t auto-format!
    -   [VisuBezier](https://marketplace.visualstudio.com/items?itemName=chriskirknielsen.visubezier): My own CSS easing function preview tool, pretty useful when writing `cubic-bezier()` by hand that I want to quickly verify without leaving VS Code.
-   [Fork](https://fork.dev/): A little git GUI that helps me avoid making big mistakes.

### Creativity/Productivity
-   [Notion](https://notion.so/): My one-stop-shop for all my notes and ideas (for better or worse), but also my “database” for my [gaming library](/games/library/) and [/now](/now/) pages via the [Notion API](/blog/leverage-api-like-notion-with-cache/).
-   [Adobe Creative Cloud](https://www.adobe.com/creativecloud.html): Some Photoshop, and a lot of Illustrator since I love working with vectors. I optimise my work with [SVGOMG](https://jakearchibald.github.io/svgomg/) and then manually tweak them to be _just right_.
-   [ImageOptim](https://imageoptim.com/mac): Wonderful tool to compress images better, you won’t regret it.

### This website
-   The [colophon](/colophon/) covers it all!