---
title: Uses
summary: "My frequently used tools"
permalink: '/uses/'
templateEngineOverride: md, njk
toc: true
tags: [_slash]
---

## Hardware
### Computering
-   [2024 14" MacBook Pro](https://www.apple.com/macbook-pro/) (Apple M4, 16 GB RAM, 1 TB SSD)
    After 5 years on a 16" model, this computer is lighter, faster, and has 100% less Touchbar.
-   Windows PC (Custom, AMD Ryzen 7 3700X, Radeon RX 590, 16GB RAM)
    Mostly using this for a little bit of gaming since Mac is seldom supported, and also for my rare music sessions.

### Peripherals
-   [Dell U2518D Monitor](https://www.amazon.com/dp/B075KGLYRL?linkCode=as2&tag=ratcgala-20)
    A big screen for big code.
-   [8BitDo Retro Mechanical Keyboard](https://www.8bitdo.com/retro-mechanical-keyboard/)
    This is my first (and last?) mechanical keyboard which does [work on macOS](https://rknight.me/blog/using-the-8bitdo-keyboard-on-macos/), and is very satisfying to type with.
-   [UGREEN 8K KVM Switch](https://www.amazon.com/dp/B0CFFFHFJT?linkCode=as2&tag=ratcgala-20)
    This little dock lets me change which device my keyboard, monitor, and mouse are connected to (MacBook or Windows PC) with the click of a button. We don't talk about the absolute mess of cables hidden under the desk.

### Desk and friends
-   [Autonomous AI ErgoChair 2](https://www.autonomous.ai/office-chairs/ergonomic-chair/?rid=7a4b2c) _(disclaimer: contains a referral ID, gives you a discount)_
    I think they recently renamed this to be ErgoChair Pro but it's a **good** chair.
-   [Fully's Remi Standing Desk](https://www.fully.com/standing-desks/remi-standing-desk.html)
    I sit a lot, so having a desk that easily goes from sitting to standing is really helpful. (you may note I didn't say I switched a lot…)
-   [ErGear Dual Monitor Arms](https://www.amazon.com/gp/product/B085Y4HW8S?linkCode=as2&tag=ratcgala-20)
    Frees up some space on my desk with easily adjusted positions, good stuff.

### Audio
-   [Sony MDR-XB50AP in-ear headphones](https://www.amazon.com/Sony-MDRXB50AP-Extra-Earbud-Headset/dp/B00JRD13T8?linkCode=as2&tag=ratcgala-20)
    Simple, reliable earbuds for "casual" audio listening, and useful for video meetings (and for running).
-   [Sony MDR-XB950N1 over-ear headphones](https://www.amazon.com/Sony-Wireless-Headphones-Bluetooth-Canceling/dp/B07KKMGG6H?linkCode=as2&tag=ratcgala-20)
    Quality earphones for more "focused" listening, with noise-cancelling.

### Hobbies
-   iPod Classic 160GB
    Excellent rectangle with all my music.
-   [Novation Launchkey 37 MIDI keyboard](https://www.amazon.com/gp/product/B086N4W81X?linkCode=as2&tag=ratcgala-20)
    I made music a lot in the past, and this little toy is great to slowly get back into it! (using it on PC with FL Studio)
-   [PlayStation 5](https://direct.playstation.com/en-us/hardware/ps5) (2020 disc model)
    Good games, good consoles… can't complain about my history with PlayStation.

## Software
-   [Zen Browser](https://zen-browser.app/)
    I've been using Firefox since version 3 or something, and I've been a supporter since — love the CSS DevTools! (especially for flex/grid and the Fonts panel) However, Mozilla has made dubious decisions lately, so I've switched to a fork named Zen, though that's just Firefox in a trenchcoat.

### Coding
-   [Visual Studio Code](https://code.visualstudio.com/)
    Love how powerful and customisable this editor is! I notably use these extensions:
    -   [SynthWave '84](https://marketplace.visualstudio.com/items?itemName=RobbOwen.synthwave-vscode): A beautiful neon-infused theme by [Robb Owens](https://robbowen.digital/) that is exactly my vibe (text glow is turned off, though!).
    -   [JetBrains Mono](https://www.jetbrains.com/lp/mono/): I've tried all the hyped developer fonts, and I keep coming back to this one, with ligatures turned off because they do not help me _at all_.
    -   [Prettier](https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode): Keeps all my code harmoniously formatted, and when you make a syntax mistake you'll know as your code doesn't auto-format!
    -   [VisuBezier](https://marketplace.visualstudio.com/items?itemName=chriskirknielsen.visubezier): My own CSS easing function preview tool, pretty useful when writing `cubic-bezier()` by hand that I want to quickly verify without leaving VS Code.
-   [Fork](https://fork.dev/)
    A little git GUI that helps me avoid making big mistakes.

### Creativity
-   [Adobe Illustrator](https://www.adobe.com/products/illustrator.html)
    I love working with vectors! I optimise my work with [SVGOMG](https://jakearchibald.github.io/svgomg/) and then manually tweak them to be _just right_.
-   [ImageOptim](https://imageoptim.com/mac)
    Wonderful tool to compress images better, you won't regret it.