.flow {
	--flow-space: var(--size-l);

	&[data-flow-space='2xs'] {
		--flow-space: var(--size-2xs);
	}
	&[data-flow-space='xs'] {
		--flow-space: var(--size-xs);
	}
	&[data-flow-space='s'] {
		--flow-space: var(--size-s);
	}
	&[data-flow-space='m'] {
		--flow-space: var(--size-m);
	}
	&[data-flow-space='l'] {
		--flow-space: var(--size-l);
	}
	&[data-flow-space='xl'] {
		--flow-space: var(--size-xl);
	}
	&[data-flow-space='2xl'] {
		--flow-space: var(--size-2xl);
	}

	& > * {
		margin-block-end: 0;
	}

	& > * + * {
		margin-block-start: var(--flow-space);
	}

	/* Make sure headings/lists stick close to associated content */
	& > :where(p + :is(ul, ol):not(.unstuck-list)),
	& > :where(:is(h1, h2, h3, h4) + *) {
		--flow-space: var(--size-2xs);
	}

	/* Add a big ol' gap above new headings */
	& > :where(:not(h1, h2, h3, h4) + :is(h1, h2, h3, h4)) {
		--flow-space: var(--size-2xl);
	}

	/* Stick eyebrow to headings */
	& > :where(.eyebrow + :is(h1, h2, h3, h4)),
	& > :where(:is(h1, h2, h3, h4) + .eyeline) {
		--flow-space: 0px;
	}
}
