.flow {
	--flow-space: var(--size-l);

	& > * {
		margin-block-end: 0;
	}

	& > * + * {
		margin-block-start: var(--flow-space);
	}

	/* Make sure headings/lists stick close to associated content */
	& > :where(p + :is(ul, ol):not(.unstuck-list)),
	& > :where(:is(h1, h2, h3, h4) + *) {
		--flow-space: var(--size-2xs);
	}

	/* Add a big ol' gap above new headings */
	& > :where(:not(h1, h2, h3, h4) + :is(h1, h2, h3, h4)) {
		--flow-space: var(--size-2xl);
	}
}
