.img-88x31-list {
	list-style-type: '';
	display: block;
	text-align: center;
	text-wrap: balance;

	li {
		display: inline-flex;
		margin: calc(max(8px, var(--size-s)) / 2);
	}

	img {
		image-rendering: pixelated;

		&:hover {
			scale: 2;
		}
	}
}
