.designs-stores {
	a {
		display: flex;
		justify-content: center;
		align-items: center;

		flex-direction: column;
	}
}

.card--design {
	& .card-image {
		background: #fff;

		@media (--accept-motion) {
			& > a:has(> img[src*='.png']) {
				&::before {
					--CARD-img-bg-color: var(--CARD-accent, var(--C-accent));

					content: '';

					position: absolute;
					inset: 0;

					background-image: conic-gradient(color-mix(in hsl, var(--CARD-img-bg-color), white 50%) 0 0),
						conic-gradient(color-mix(in hsl, var(--CARD-img-bg-color), white 60%) 0 0), conic-gradient(color-mix(in hsl, var(--CARD-img-bg-color), white 70%) 0 0),
						conic-gradient(color-mix(in hsl, var(--CARD-img-bg-color), white 80%) 0 0), conic-gradient(color-mix(in hsl, var(--CARD-img-bg-color), white 90%) 0 0);
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-size: 30%, 40%, 50%, 60%, 70%;

					transform: skewX(-30deg) scaleX(0);
					transition: transform var(--CARD-transition-base);
				}
			}
		}
	}

	&:has(a:is(.card-heading > a, .card-image > a):is(:hover, :focus-visible)) .card-image > a:has(> img[src*='.png'])::before {
		transform: skewX(-30deg) scaleX(1.5);
	}
}

[data-mockup] {
	position: relative;

	&::before,
	&::after {
		content: '';
		pointer-events: none;

		position: absolute;
		inset: 0;

		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}

	&::before {
		background-image: var(--MOCKUP-bg);
	}

	&::after {
		background-image: var(--MOCKUP-image);

		opacity: 0;
	}

	& > img {
		--MOCKUP-img-frame: var(--media-bg, transparent);
		background: var(--MOCKUP-img-frame);
		box-shadow: 0 0 0 50vw var(--MOCKUP-img-frame);
	}

	@media (--accept-motion) {
		& > img,
		&::before,
		&::after {
			transition: all var(--anim-medium) var(--easing-out);
			transition-property: box-shadow, background, opacity, transform;
		}
	}

	&[data-mockup='sticker'] {
		--MOCKUP-scale: 4;
		& > img,
		&::before,
		&::after {
			transform-origin: 50% 27.5%; /* Magic number matching the center of the laptop in the mockup photo */
		}
	}

	&[data-mockup='poster'] {
		--MOCKUP-scale: 2;
		& > img,
		&::before,
		&::after {
			transform-origin: 50% 27.5%; /* Magic number matching the center of the laptop in the mockup photo */
		}
	}

	&::before {
		z-index: -1;

		transform: scale(var(--MOCKUP-scale, 4));
	}
	&::after {
		z-index: 1;

		mix-blend-mode: multiply;
	}
	& > img {
		z-index: 2;
	}

	&:hover {
		& > img {
			--MOCKUP-img-frame: transparent;
			background: transparent;
		}

		& > img,
		&::after {
			opacity: 0.67;
			transform: scale(calc(1 / var(--MOCKUP-scale, 4)));
		}

		&::before {
			transform: scale(1);
		}
	}
}
