@property --p {
	syntax: '<number>';
	initial-value: 0;
	inherits: true;
}

.gaming-platform-toggle {
	--CTA-display: flex;
}

.gaming-platform-group {
	--game-case-plastic: #fff8;
	--game-spine-text: #333639;
	--game-spine-bg: #f8f8f8;
	--game-spine-radius: 0.125em;
	--spine-ratio: calc(var(--box-depth) / var(--box-height)); /* From mm measurements */
	--spine-mm-to-px-factor: 0.125;
	--spine-block-size: calc(var(--box-height) * var(--spine-mm-to-px-factor) * 1em);
	--spine-inline-size: calc(var(--box-depth) * var(--spine-mm-to-px-factor) * 1em);
	--spine-font-weight: 700;
	--spine-font-stack: sans-serif-condensed, sans-serif;
	--spine-font-family: var(--spine-font-stack);
	--spine-letter-spacing: normal;

	display: grid;
	grid-template-columns: repeat(auto-fit, calc(var(--spine-inline-size)));
	grid-auto-rows: calc(var(--spine-block-size));
	justify-content: center;
	gap: var(--size-l) var(--size-2xs);
	margin-block-start: var(--size-m);
	list-style-type: '';
}

.gaming-logo {
	block-size: 1em;
	inline-size: auto;
}

.gaming-box-wrap {
	position: relative;
	isolation: isolate;

	display: flex;
	block-size: var(--spine-block-size);
	inline-size: var(--spine-inline-size);

	perspective: 360rem;
}

.gaming-box {
	--GAME-box-shadow: 0px 0.5px 0.4px hsl(0deg 0% 0% / 0.33), 0px 0.9px 0.7px -1.7px hsl(0deg 0% 0% / 0.25), 0px 3.9px 2.9px -3.3px hsl(0deg 0% 0% / 0.16),
		0px 12px 9px -5px hsl(0deg 0% 0% / 0.08);
	flex: 1 1 auto;
	display: flex;
	align-items: stretch;
	block-size: inherit;
	inline-size: inherit;

	color: var(--game-spine-text);
	border: 0 solid transparent;
	border-block-width: var(--box-border-size-block, 0);
	border-inline-width: var(--box-border-size-inline, 0);
	border-radius: var(--game-spine-radius);
	background: var(--game-case-plastic);
	box-shadow: var(--GAME-box-shadow),
		calc(var(--GAME-hover-shadow-size, 0px) * -1) 0 var(--GAME-hover-shadow-size, 0px) calc(var(--GAME-hover-shadow-size, 0px) * -0.5) hsl(0deg 0% 0% / 0.25);

	will-change: transform;
	transform-origin: 50% 100%;
	transform-style: preserve-3d;

	@media (--accept-motion) {
		transition: var(--anim-short) var(--easing-in-out);
		transition-property: border-radius, box-shadow, transform, --p;
	}

	&:is(:hover, :focus-visible) {
		/* By default, if there is no cover art, but there is a button, there should be some stateful styling */
		&:where(button) {
			transform: scale(1.05);
		}

		/* Always transform the active item, and add a shadow to cover the previous sibling */
		&:has(> .gaming-front) {
			--GAME-hover-shadow-size: var(--size-2xs);
			--p: 1;

			border-start-end-radius: 0;
			border-end-end-radius: 0;

			transform: translateZ(24rem) translateX(-67%) rotateY(-10deg);

			& > .gaming-front {
				border-start-start-radius: 0;
				border-end-start-radius: 0;
			}
		}
	}
}

.gaming-front {
	position: absolute;
	inset-block: calc(-1 * (var(--box-border-size-block) + var(--box-cover-padding-block-start, 0px)));
	inset-inline-start: 100%;

	display: flex;
	width: auto;
	max-width: unset;
	height: calc(100% + 2 * var(--box-border-size-block) + var(--box-cover-padding-block-start, 0px));
	aspect-ratio: var(--box-width) / var(--box-height);

	border-block-style: solid;
	border-block-width: var(--box-border-size-block);
	border-color: var(--game-case-plastic);
	/* prettier-ignore */
	border-radius:
		var(--box-radius-top-left, var(--game-spine-radius))
		var(--box-radius-top-right, var(--game-spine-radius))
		var(--box-radius-bottom-right, var(--game-spine-radius))
		var(--box-radius-bottom-left, var(--game-spine-radius));
	background: linear-gradient(to bottom, var(--game-case-plastic) var(--box-cover-padding-block-start, 0px), #fff 0);
	background-clip: padding-box;
	box-shadow: var(--GAME-box-shadow);

	transform-origin: 0% 50%;
	transform: rotateY(90deg) translateZ(-0.5px);
	filter: blur(0.1px); /* Pseudo-anti-aliasing on box edges */

	/* Use a discrete animation to animate the visibility property */
	@media (--accept-motion) {
		transition-property: var(--discrete-transition-property, visibility), border-radius;
		transition-duration: inherit;
		transition-timing-function: inherit;
		transition-behavior: allow-discrete;
	}

	/* To avoid loading all the images at once, hide them when the parent box item is not active */
	.gaming-box:not(:hover, :focus-visible) & {
		visibility: hidden;
	}

	/* If animating display is supported, guestimated with overlay:auto */
	@supports (overlay: auto) {
		--discrete-transition-property: display;

		.gaming-box:not(:hover, :focus-visible) & {
			visibility: visible;
			display: none;
		}
	}

	/* Fake corner (top-left) highlight, and a shadow for the part furthest away */
	&::after {
		content: '';

		position: absolute;
		inset-block: calc(var(--box-border-size-block, 0) * -1); /* Cover the border (box case plastic) */
		inset-inline: 0;

		/* prettier-ignore */
		background-image:
			linear-gradient(to bottom right, #fff2, #fff4, #fff6, #fff7, #fff6, #fff4, #fff3, #fff0 calc(var(--p) * 42%)),
			linear-gradient(90deg, transparent, #000d calc(var(--p) * 67%));

		opacity: 0.5;
	}
}

.gaming-front-art {
	width: 100%;
	max-width: unset;
	height: 100%;
	padding: var(--box-cover-padding, 0);
	/* object-fit: cover; */
}

.gaming-spine-paper {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--spine-paper-gap, 0.25em);

	background: var(--game-spine-bg);
}

.gaming-spine-top {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: var(--spine-paper-padding, 0.25em);

	color: var(--game-spine-top-text, currentColor);
	background: var(--game-spine-top-bg, transparent);
}

.gaming-spine-logo {
	max-inline-size: min(100%, 1.25em);
}

.gaming-spine-logo,
.gaming-spine-logo-extra,
.gaming-spine-info-icon {
	margin-inline: auto;
}

.gaming-spine-label {
	position: relative;

	flex: 1 0 0;
	display: flex;
	align-items: center;
	margin: var(--spine-paper-padding, 0.25em);

	font-size: calc(0.75em * var(--spine-title-scale) * var(--spine-title-scale));

	/* Place the text itself in an absolute container, so the writing mode doesn't affect the layout (buggy in Firefox and Safari) */
	& > span {
		position: absolute;
		inset: 0;

		display: flex;
		align-items: center;

		writing-mode: vertical-rl;
		text-wrap: balance;
		font-family: var(--spine-font-family);
		font-weight: var(--spine-font-weight);
		letter-spacing: var(--spine-letter-spacing);
		line-height: 0.9;
	}
}

.gaming-spine-info {
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	padding: var(--spine-paper-padding, 0.25em);
}

.gaming-spine-info-icon {
	max-inline-size: min(50%, 0.75em);

	opacity: 0.5;
}

[data-gaming-platform='ps5'],
[data-gaming-platform='ps4'] {
	--game-case-plastic: #504de5e6;
	--box-border-size-block: 0.1875em;
	--box-border-size-inline: 0;

	& .gaming-spine-top {
		gap: 0.25em;
	}
}

[data-gaming-platform='ps5'] {
	& .gaming-spine-top {
		box-shadow: 0 0.125em 0 #0054a5;
	}
}

[data-gaming-platform='ps4'] {
	& .gaming-box-wrap {
		--game-spine-top-text: #f8f8f8;
		--game-spine-top-bg: #0054a5;
	}
}

[data-gaming-platform='ps3'] {
	--box-border-size-block: 0.1875em;
	--box-border-size-inline: 0;
	--box-radius-top-right: 1em;
	--box-cover-padding-block-start: 2em;
	--box-cover-padding: var(--box-cover-padding-block-start, 0) 0 0;

	& .gaming-box-wrap {
		&[data-gaming-branding='old'] {
			--game-spine-top-text: #2c2e31;
			--game-spine-top-bg: #d85454;

			& .gaming-spine-top {
				inline-size: 100%;
				aspect-ratio: 1.2;
				padding: 0;
			}

			& .gaming-spine-logo {
				max-inline-size: 95%;
			}
		}

		&[data-gaming-branding='new'] {
			--game-spine-top-text: #f8f8f8;
			--game-spine-top-bg: #2c2e31;

			& .gaming-spine-top {
				box-shadow: 0 0.125em 0 #d85454;
			}

			&[data-gaming-edition='essentials'] {
				--game-spine-text: #f8f8f8;
				--game-spine-bg: #d73333;
			}
		}
	}

	& .gaming-box {
		border-block-start-width: calc(var(--box-cover-padding-block-start) + var(--box-border-size-block));
	}
}

[data-gaming-platform='ps5'],
[data-gaming-platform='ps4'],
[data-gaming-platform='ps3'] {
	--box-width: 136;
	--box-height: 170;
	--box-depth: 15;
}

[data-gaming-platform='ps2'],
[data-gaming-platform='pc'] {
	--box-width: 135;
	--box-height: 190;
	--box-depth: 14;
	--box-border-size-block: 0.1875em;
	--box-border-size-inline: 0;

	& .gaming-spine-top {
		align-items: center;
		gap: 0.5em;
	}

	& .gaming-spine-logo-extra {
		inline-size: 67%;
	}
}

[data-gaming-platform='ps2'] {
	--spine-paper-padding: 0.25em 0.25em 0.5em;
	--game-case-plastic: #2e60c1;
	--game-spine-top-text: #f8f8f8;
	--game-spine-top-bg: #464a4f;

	& .gaming-box-wrap {
		&[data-gaming-edition='platinum'] {
			--game-case-plastic: #c2dae8;
			--game-spine-text: #bfd0d9;
			--game-spine-bg: #464a4f;
			--game-spine-top-text: #464a4f;
			--game-spine-top-bg: #90a2ac;
		}
	}

	& .gaming-spine-logo {
		background: #333639;
		border: 1px solid #c1c1c1;
	}
}

[data-gaming-platform='ps1'] {
	--game-spine-text: #ffffff;
	--game-spine-bg: #333639;
	--box-width: 125;
	--box-height: 142;
	--box-depth: 15;
	--box-border-size-block: 0.25em;
	--box-border-size-inline: 0;

	& .gaming-box-wrap {
		&[data-gaming-edition='platinum'] {
			--game-spine-text: #333639;
			--game-spine-bg: #b4b8be;
			--spine-letter-spacing: 0;
		}
	}

	& .gaming-spine-paper {
		margin-inline-start: 0.125em;
		border-inline-end: 0.125em solid #1c1e20;
	}

	& .gaming-spine-logo {
		background: #333639;
		border: 1px solid #c1c1c1;
	}
}

[data-gaming-platform='psv'] {
	--game-case-plastic: #504de5e6;
	--box-width: 105;
	--box-height: 135;
	--box-depth: 12;
	--game-spine-top-text: #f8f8f8;
	--game-spine-top-bg: #0054a5;
	--box-border-size-block: 0.125em;
	--box-border-size-inline: 0;
}

[data-gaming-platform='psp'] {
	--box-width: 97;
	--box-height: 168;
	--box-depth: 14;
	--game-spine-top-text: #f8f8f8;
	--game-spine-top-bg: #464a4f;
	--box-border-size-block: 0.125em;
	--box-border-size-inline: 0;

	& .gaming-spine-logo {
		background: #f8f8f8;
	}

	& .gaming-spine-top {
		gap: 0.5em;
		padding-block-end: 0.5em;
	}

	& .gaming-spine-logo-extra {
		inline-size: 100%;
	}
}

[data-gaming-platform='switch'] {
	--box-width: 104;
	--box-height: 169;
	--box-depth: 10;
	--game-spine-bg: #e60012;
	--game-spine-text: #f8f8f8;
	--spine-font-family: Outfit, 'Gotham', 'Century Gothic', var(--spine-font-stack);
	--spine-font-weight: 500;
	--spine-letter-spacing: 0.025em;
	--spine-paper-gap: 0px;
	--box-border-size-block: 0.125em;
	--box-border-size-inline: 0;

	& .gaming-spine-label {
		font-size: calc(0.625em * var(--spine-title-scale)); /* Font needs to be slightly smaller for Switch spines, and needs less downscaling */
		text-transform: uppercase;
	}

	& .gaming-spine-label > span {
		padding-block-start: 0.1em; /* Magic number, looks just right to my eyes */
	}
}

[data-gaming-platform='dreamcast'] {
	--game-spine-bg: #3b6fc4;
	--game-spine-text: #edfcff;
	--box-width: 144;
	--box-height: 142;
	--box-depth: 14;
	--box-border-size-block: 0.125em;
	--box-border-size-inline: 0.125em;

	& .gaming-box {
		&::before {
			content: '';

			position: absolute;
			inset-block: calc(-1 * var(--box-border-size-block));
			inset-inline-end: calc(-1 * var(--box-border-size-inline));
			inline-size: 80%;
			z-index: -1;

			border-radius: inherit;
			background-color: #5581c4;
		}
	}

	& .gaming-front {
		--game-case-plastic: #5581c4;
	}

	& .gaming-spine-paper {
		border-radius: calc(var(--box-border-size) / 2);
	}
}

[data-gaming-platform='pc'] {
	--spine-paper-padding: 0.375em 0.25em;
	--game-case-plastic: #333639;
	--game-spine-top-text: #f8f8f8;
	--game-spine-top-bg: #121313;
}

[data-gaming-platform='gameboy'],
[data-gaming-platform='gameboy-advance'] {
	--box-height: 142;
	--box-depth: 20;
}

/* Font overrides */
[data-gaming-platform='ps1'],
[data-gaming-platform='dreamcast'] {
	--spine-font-family: LibreFranklin, 'Libre Franklin', 'Franklin Gothic', var(--spine-font-stack);
	--spine-font-weight: 800;
	--spine-letter-spacing: 0.05em;

	& .gaming-spine-label > span {
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
	}
}

[data-gaming-platform='ps2'] {
	--spine-font-family: var(--spine-font-stack);
}

/* Fix text alignment in Firefox only */
@-moz-document url-prefix() {
	[data-gaming-platform='ps2'],
	[data-gaming-platform='ps3'],
	[data-gaming-platform='ps4'],
	[data-gaming-platform='ps5'],
	[data-gaming-platform='psp'],
	[data-gaming-platform='psv'] {
		& .gaming-spine-label > span {
			padding-block-start: 0.2em; /* Magic number, looks just right to my eyes */
		}
	}
}

.gaming-details-dialog {
	margin: auto; /* Because the dialog is added in a .flow context, it has margin we don't need. */
}

.gaming-details-dialog-inner {
	container: gamingDetailsDialog / inline-size;

	dl {
		padding-block-start: var(--flow-space);
		border-block-start: 1px solid color-mix(in hsl, currentColor, transparent 75%);
	}

	@media (--small-viewport) {
		dt {
			--GAP: var(--size-xs);
		}
	}

	@container gamingDetailsDialog (inline-size < 20rem) {
		dl {
			grid-template-columns: 1fr;
			gap: 0;
		}

		dd + dt {
			margin-block-start: var(--size-s);
		}
	}

	&::before {
		content: '';
		pointer-events: none;

		position: absolute;
		inset: 0 0 0 auto;
		z-index: -1;

		block-size: 100%;
		aspect-ratio: 6/4; /* Original is 3/4, so let's zoom a little */

		background-image: var(--cover-url);
		background-repeat: no-repeat;
		background-position: 100% 50%;
		background-size: cover;

		opacity: 0.125;
		mask-image: linear-gradient(to right, transparent, tan);
		filter: grayscale();
		animation: fadeIn 500ms ease-out 250ms backwards 1; /* A little delay ("good 4G" throttle) to let the image load, hopefully, before displaying it */
	}
}

.gaming-details-dialog-close {
	z-index: 1;

	align-self: flex-start;

	& svg {
		block-size: 1em;
		inline-size: 1em;
	}
}

.gaming-details-dialog input[type='checkbox'] {
	block-size: 1em;
	inline-size: 1em;

	font-size: 0.875em;

	accent-color: var(--C-accent);
}

[data-slot-img='trophyIcon'] {
	block-size: calc(var(--typeScale-2) * 1.1 + 1em * 1.3); /* h2 size * h2 line-height + line of text below (edition + year) * line-height (but only one half, not the total) */
	inline-size: auto;
	max-inline-size: min(100%, 20vi);
}

.gaming-details-trophies {
	line-height: 1.1;
}

.gaming-details-trophies-percentage,
.gaming-details-trophies-badge,
[data-slot='year'] {
	font-variant-numeric: tabular-nums;
}

.gaming-details-trophies-badge {
	--r: 0.25em;

	position: relative;

	padding: 0.125em 0.25em;

	font-size: 0.875em;
	font-family: var(--fontStack-sans-serif), sans-serif;
	white-space: nowrap;

	color: var(--trophy-color);
	background-color: var(--trophy-background);
	border-radius: var(--r);

	@supports (background-image: linear-gradient(in oklch, red, color-mix(in oklch, var(--a), var(--b)))) {
		background-image: linear-gradient(to bottom right in oklch, color-mix(in oklch, var(--trophy-color), var(--trophy-background) 75%), var(--trophy-background));
	}

	&[data-trophy-level='bronze'] {
		--trophy-color: #f4cebd;
		--trophy-background: #591c29;
	}

	&[data-trophy-level='silver'] {
		--trophy-color: #d9e6ed;
		--trophy-background: #364b63;
		--trophy-angle-offset: 43deg;
	}

	&[data-trophy-level='gold'] {
		--trophy-color: #f5e23d;
		--trophy-background: #584419;
		--trophy-angle-offset: 89deg;
	}

	&[data-trophy-level='platinum'] {
		--trophy-color: #adf7ff;
		--trophy-background: #144d90;
		--trophy-angle-offset: 131deg;
	}

	&::after {
		content: '';
		pointer-events: none;

		position: absolute;
		inset: 1px;

		border: 1px solid transparent;
		border-radius: calc(var(--r) - 1px);
		background: repeating-conic-gradient(
				from calc(var(--trophy-angle-offset, 0deg) + var(--trophy-angle, 0deg)) at center,
				var(--trophy-color) 0%,
				transparent 12.5% 20.8%,
				var(--trophy-color) 33.3%
			)
			border-box;

		opacity: 0.5;
		mask: conic-gradient(#000 0 0) padding-box, conic-gradient(#000 0 0);
		mask-composite: exclude;
	}
}

@media (--accept-motion) {
	@property --trophy-angle {
		syntax: '<angle>';
		initial-value: 0deg;
		inherits: false;
	}

	.gaming-details-trophies-badge::after {
		animation: --trophyAngleAnim 5s linear infinite;
	}

	@keyframes --trophyAngleAnim {
		to {
			--trophy-angle: 360deg;
		}
	}
}

.gaming-details-trophies-icon {
	vertical-align: -0.0625em;
}

[data-slot-computed='subItems'] {
	& > ul {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		padding-inline-start: 0;
		list-style-type: '';
	}

	& .gaming-details-subitem {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto;
		gap: 0 0.25em;
	}

	& .gaming-details-subitem-main {
		grid-row: 1;
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;
		justify-content: start;
		align-items: baseline;
		gap: inherit;
	}

	& .gaming-details-subitem-checkbox {
		grid-row: 1;
		grid-column: 1;

		pointer-events: none;
	}

	& .gaming-details-subitem-label {
		grid-row: 1;
		grid-column: 2;

		text-wrap: balance;
	}

	& .gaming-details-trophies {
		grid-row: 2;
		grid-column: 2;

		& > li {
			font-size: 0.75em;
		}
	}
}
