---js
{
    layout: 'opengraph.vto',
    templateEngineOverride: 'vto',
    pagination: {
        data: 'collections._og',
        size: 1,
        alias: 'post',
    },
    eleventyExcludeFromCollections: true,
    permalink: "{{ post.url }}og.html",
    title: "{{ post.title }}",
}
---