@font-face {
	font-family: "Canela";
	src: url("/assets/fonts/Canela-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "XanhMono";
	src: url("/assets/fonts/XanhMono-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	size-adjust: none;
	font-display: swap;
}
@font-face {
	font-family: "Switzer";
	src: url("/assets/fonts/Switzer-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "InstrumentSerif";
	src: url("/assets/fonts/InstrumentSerif-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "MDNichrome";
	src: url("/assets/fonts/MDNichrome-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Rajdhani";
	src: url("/assets/fonts/Rajdhani-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Chinook";
	src: url("/assets/fonts/Chinook-Regular.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "OPTIAuvantGothic";
	src: url("/assets/fonts/OPTIAuvantGothic-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Outfit";
	src: url("/assets/fonts/Outfit-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "LibreFranklin";
	src: url("/assets/fonts/LibreFranklin-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}