:is(:focus-visible:not([tabindex='-1']), :focus:target) {
	outline: var(--_focus-outline);
	outline-offset: var(--_focus-outline-offset);
}

/* Hide focus outline on programmatically-only focusable elements */
[tabindex='-1']:focus-visible:not(:target) {
	outline: 0;
}

@media (--accept-motion) {
	:where(:target:not([tabindex='-1'])) {
		position: relative;
		animation: --targetHighlight var(--anim-eternity) var(--easing-out) var(--anim-eternity) both 1;
	}

	@keyframes --targetHighlight {
		25% {
			outline-width: 8px;
			outline-offset: calc(var(--_focus-outline-offset) * 4);
		}
	}
}

.visually-hidden,
.skip-link:not(:focus) {
	position: absolute;
	width: 1px;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;

	white-space: nowrap;
	border: 0;

	clip: rect(0 0 0 0);
}

.skip-link:focus {
	position: fixed;
	inset-block-start: 1rem;
	inset-inline-start: 1rem;
	z-index: 99;

	display: inline-block;
	padding: var(--size-xs);

	color: var(--color-heading);
	background-color: var(--color-surface);
	outline-color: var(--color-accent);

	/* When a skip-link is added to a specific part of the page and not the entire content */
	&[data-skiplink='local'] {
		position: absolute;
	}
}

.no-select {
	user-select: none;
}
