.color-canvas {
	color: var(--color-canvas);
}

.color-surface {
	color: var(--color-surface);
}

.color-text {
	color: var(--color-text);
}

.color-heading {
	color: var(--color-heading);
}

.color-accent {
	color: var(--color-accent);
}
