.inline-size-100pc {
	inline-size: 100%;
}
.maxInlineSize-superWideMaxContent {
	max-inline-size: calc(var(--layout-max-content) * 1.5);
}

.display-inline {
	display: inline;
}
.display-block {
	display: block;
}

.flexGrow-1 {
	flex-grow: 1;
}

.marginBlockStart-auto {
	margin-block-start: auto;
}
.marginInline-auto {
	margin-inline: auto;
}

.justifyContent-center {
	justify-content: center;
}
