@media (--small-viewport) {
	.hide-when-viewport--small {
		display: none !important;
	}
}

@media (--large-viewport) {
	.hide-when-viewport--large {
		display: none !important;
	}
}

.no-js .hide-when-nojs,
.js .hide-when-js {
	display: none !important;
}
