.font-reset {
	font: initial;
	font-family: var(--_font-body-family);
	font-size: var(--typeScale-0);
	letter-spacing: normal;
	color: var(--C-text);
}

/** Absolute font sizes */
.fontSize-tiny {
	font-size: var(--typeScale-n2);
}

.fontSize-small {
	font-size: var(--typeScale-n1);
}

.fontSize-normal {
	font-size: var(--typeScale-0);
}

.fontSize-large {
	font-size: var(--typeScale-1);
}

/** Relative font sizes */
.fontSize-smaller {
	font-size: 0.75em;
}

.fontSize-larger {
	font-size: 1.25em;
}

/** Line height adjustments */
.lineHeight-normal {
	line-height: 1.6;
}

.lineHeight-tight {
	line-height: 1.1;
}

.lineHeight-dense {
	line-height: 1;
}

/** Font family */
.fontFamily-monospace {
	font-size-adjust: 0.45;
	font-family: var(--fontStack-monospace);
}

/** Font weights */
.fontWeight-bold {
	font-weight: bold;
}

/** Font styles */
.fontStyle-italic {
	font-style: italic;
}

/** Text alignment */
.textAlign-start {
	text-align: start;
}

.textAlign-center {
	text-align: center;
}

/** Text effects */
.textTransform-uppercase {
	text-transform: uppercase;
}
.textDecoration-underline {
	text-decoration: underline;
}
.fontVariant-tabularNums {
	font-variant-numeric: tabular-nums;
}

.textWrap-balance {
	text-wrap: balance;
}
.textWrap-pretty {
	text-wrap: pretty;
}
.textWrap-avoidShortLastLines {
	text-wrap: pretty;
	text-wrap: avoid-short-last-lines;
}
