.footer-wrap {
	position: relative;
	z-index: 2;

	&::before {
		content: '— ' var(--_footer-special-char) ' —';
		content: '— ' var(--_footer-special-char) ' —' / '';
		pointer-events: none;

		position: absolute;
		inset: 0 0 auto;

		display: inline-block;

		color: transparent;
		/* text-shadow: 0 0 0 var(--C-heading); */
		/* line-height: 1; */
		letter-spacing: 0.5em;
		text-indent: 0.5em; /* Counter-balance the offset from letter-spacing */
		text-align: center;
		background: var(--C-heading);
		-webkit-background-clip: text;
		background-clip: text;

		transform: translateY(-50%);
	}
}

.footer {
	position: relative;
	isolation: isolate;
	z-index: 3;

	margin-block: var(--size-2xl);

	text-align: center;
}

.footer-nav {
	--RULE: 3px;
	--GAP: 0.5rem;

	position: relative;
}

.footer-message {
	position: relative;

	margin-block-start: var(--size-l);

	&::before {
		content: '💙      💜';
	}

	&::after {
		--f: 0.9;
		content: '🤍';

		margin-block-start: -0.5em;
	}

	&::before,
	&::after {
		pointer-events: none;

		position: absolute;
		inset: 0;

		display: inline-block;

		text-align: center;
		font-size: 4em;

		scale: 0;
		opacity: 0;
	}

	html:not([data-js='true']) &:hover,
	html[data-js='true'] &.activated {
		&::before,
		&::after {
			animation: --footerMessage 3s ease-out 1 both;
		}
	}
}

@keyframes --footerMessage {
	0% {
		scale: 0;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		scale: 1;
		translate: 0 calc(-2em * var(--f, 1));
	}
}

.footer-decorator {
	grid-column: 1 / -1;

	img,
	svg {
		inline-size: 100%;
		block-size: auto;
		max-block-size: 320px;
	}

	img[width='1'][height='1'] {
		display: none;
	}
}
