.footer-wrap {
	position: relative;
	z-index: 2;

	&::before {
		content: '— ' var(--_footer-special-char) ' —';
		content: '— ' var(--_footer-special-char) ' —' / '';
		pointer-events: none;

		position: absolute;
		inset: 0 0 auto;

		display: inline-block;

		color: transparent;
		/* text-shadow: 0 0 0 var(--C-heading); */
		/* line-height: 1; */
		letter-spacing: 0.5em;
		text-indent: 0.5em; /* Counter-balance the offset from letter-spacing */
		text-align: center;
		background: var(--C-heading);
		-webkit-background-clip: text;
		background-clip: text;

		transform: translateY(-50%);
	}
}

.footer {
	--GAP: var(--size-l); /* For .grouper override */

	position: relative;
	isolation: isolate;
	z-index: 3;

	margin-block: var(--size-2xl);

	text-align: center;
}

.footer-nav {
	--GAP: var(--size-xs);

	position: relative;
}

.footer-meta-ai {
	color: currentColor;
}

.img-88x31-list {
	--gap: calc(max(8px, var(--size-s)) / 2);

	list-style-type: '';
	display: block;
	text-align: center;
	text-wrap: balance;

	li {
		display: inline-flex;
		margin: var(--gap) calc(var(--gap) - 0.125ch); /* Because we have (and need?) the whitespace, using about quarter of a character width as a space width seems fine, which is then divided by two to share the space between each <li> */
	}

	img {
		image-rendering: pixelated;

		&:hover {
			position: relative;
			z-index: 1;

			scale: 2;
		}
	}

	&:has(img:hover) img:not(:hover) {
		filter: opacity(0.75) grayscale(0.5);
	}
}

.footer-message {
	position: relative;

	&::before {
		content: '💙      💜';
		content: '💙      💜' / '';
	}

	&::after {
		--f: 0.9;
		content: '🤍';
		content: '🤍' / '';

		margin-block-start: -0.5em;
	}

	&::before,
	&::after {
		pointer-events: none;

		position: absolute;
		inset: 0;

		display: inline-block;

		text-align: center;
		font-size: 4em;

		scale: 0;
		opacity: 0;
	}

	html:not([data-js='true']) &:hover,
	html[data-js='true'] &.activated {
		&::before,
		&::after {
			animation: --footerMessage 3s ease-out 1 both;
		}
	}
}

@keyframes --footerMessage {
	0% {
		scale: 0;
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		scale: 1;
		translate: 0 calc(-2em * var(--f, 1));
	}
}

.footer-decorator {
	grid-column: 1 / -1;

	img,
	svg {
		inline-size: 100%;
		block-size: auto;
		max-block-size: 320px;
	}

	img[width='1'][height='1'] {
		display: none;
	}
}
