.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--size-m);
	padding-block-end: var(--flow-space);

	text-align: center;
}

.hero,
hr.hero-like {
	border-block-end: 1px solid var(--_hero-rule-color);
}
hr.hero-like {
	background: none;
}

.hero-heading {
	font-size: calc(var(--typeScale-3) * var(--HERO-title-factor, 2) * var(--HERO-title-scaling, 1));
}

.hero-sup > time {
	font-variant-caps: all-petite-caps;
}

.hero-sup,
.hero-sub {
	font-size: var(--typeScale-n1);
	line-height: 1.1;
}

.hero-sub {
	text-wrap: balance;
}
