main {
	position: relative;
	isolation: isolate;
	z-index: 1;

	background: var(--_main-background, transparent);
}

.page-content {
	padding-block: var(--PAGE-block-padding-start, var(--size-2xl)) var(--PAGE-block-padding-end, var(--size-2xl));
}
